@media (min-width: 769px) and (max-width: 779px) {
    html {
        font-size: 65%; 
    }
}

@media (min-width: 780px) and (max-width: 789px) {
    html {
        font-size: 65.5%; 
    }
}

@media (min-width: 790px) and (max-width: 799px) {
    html {
        font-size: 66.5%; 
    }
}

@media (min-width: 800px) and (max-width: 809px) {
    html {
        font-size: 67%; 
    }
}

@media (min-width: 810px) and (max-width: 819px) {
    html {
        font-size: 67.5%; 
    }
}

@media (min-width: 820px) and (max-width: 829px) {
    html {
        font-size: 68%; 
    }
}

@media (min-width: 830px) and (max-width: 839px) {
    html {
        font-size: 68.5%; 
    }
}

@media (min-width: 840px) and (max-width: 849px) {
    html {
        font-size: 69%; 
    }
}

@media (min-width: 850px) and (max-width: 859px) {
    html {
        font-size: 69.5%; 
    }
}

@media (min-width: 860px) and (max-width: 869px) {
    html {
        font-size: 70%; 
    }
}

@media (min-width: 870px) and (max-width: 879px) {
    html {
        font-size: 70.5%; 
    }
}

@media (min-width: 880px) and (max-width: 889px) {
    html {
        font-size: 71%; 
    }
}

@media (min-width: 890px) and (max-width: 899px) {
    html {
        font-size: 71.5%; 
    }
}

@media (min-width: 900px) and (max-width: 909px) {
    html {
        font-size: 72%; 
    }
}

@media (min-width: 910px) and (max-width: 919px) {
    html {
        font-size: 72.5%; 
    }
}

@media (min-width: 920px) and (max-width: 929px) {
    html {
        font-size: 73%; 
    }
}

@media (min-width: 930px) and (max-width: 939px) {
    html {
        font-size: 73.5%; 
    }
}

@media (min-width: 940px) and (max-width: 949px) {
    html {
        font-size: 74%; 
    }
}

@media (min-width: 950px) and (max-width: 959px) {
    html {
        font-size: 74.5%; 
    }
}

@media (min-width: 960px) and (max-width: 969px) {
    html {
        font-size: 75%; 
    }
}

@media (min-width: 970px) and (max-width: 979px) {
    html {
        font-size: 75.5%; 
    }
}

@media (min-width: 980px) and (max-width: 989px) {
    html {
        font-size: 76%; 
    }
}

@media (min-width: 990px) and (max-width: 999px) {
    html {
        font-size: 76.5%; 
    }
}

@media (min-width: 1000px) and (max-width: 1009px) {
    html {
        font-size: 77%; 
    }
}

@media (min-width: 1010px) and (max-width: 1019px) {
    html {
        font-size: 77.5%; 
    }
}

@media (min-width: 1020px) and (max-width: 1029px) {
    html {
        font-size: 78%; 
    }
}

@media (min-width: 1030px) and (max-width: 1039px) {
    html {
        font-size: 78.5%; 
    }
}

@media (min-width: 1040px) and (max-width: 1049px) {
    html {
        font-size: 79%; 
    }
}

@media (min-width: 1050px) and (max-width: 1059px) {
    html {
        font-size: 79.5%; 
    }
}

@media (min-width: 1060px) and (max-width: 1069px) {
    html {
        font-size: 80%; 
    }
}

@media (min-width: 1070px) and (max-width: 1079px) {
    html {
        font-size: 80.5%; 
    }
}

@media (min-width: 1080px) and (max-width: 1089px) {
    html {
        font-size: 81%; 
    }
}

@media (min-width: 1090px) and (max-width: 1099px) {
    html {
        font-size: 81.5%; 
    }
}

@media (min-width: 1100px) and (max-width: 1109px) {
    html {
        font-size: 82%; 
    }
}

@media (min-width: 1110px) and (max-width: 1119px) {
    html {
        font-size: 82.5%; 
    }
}

@media (min-width: 1120px) and (max-width: 1129px) {
    html {
        font-size: 83%; 
    }
}

@media (min-width: 1130px) and (max-width: 1139px) {
    html {
        font-size: 83.5%; 
    }
}

@media (min-width: 1140px) and (max-width: 1149px) {
    html {
        font-size: 84%; 
    }
}

@media (min-width: 1150px) and (max-width: 1159px) {
    html {
        font-size: 84.5%; 
    }
}

@media (min-width: 1160px) and (max-width: 1169px) {
    html {
        font-size: 85%; 
    }
}

@media (min-width: 1170px) and (max-width: 1179px) {
    html {
        font-size: 85.5%; 
    }
}

@media (min-width: 1180px) and (max-width: 1189px) {
    html {
        font-size: 86%; 
    }
}

@media (min-width: 1190px) and (max-width: 1199px) {
    html {
        font-size: 86.5%; 
    }
}

@media (min-width: 1200px) and (max-width: 1209px) {
    html {
        font-size: 87%; 
    }
}

@media (min-width: 1210px) and (max-width: 1219px) {
    html {
        font-size: 87.5%; 
    }
}

@media (min-width: 1220px) and (max-width: 1229px) {
    html {
        font-size: 88%; 
    }
}

@media (min-width: 1230px) and (max-width: 1239px) {
    html {
        font-size: 88.5%; 
    }
}

@media (min-width: 1240px) and (max-width: 1249px) {
    html {
        font-size: 89%; 
    }
}

@media (min-width: 1250px) and (max-width: 1259px) {
    html {
        font-size: 89.5%; 
    }
}

@media (min-width: 1260px) and (max-width: 1269px) {
    html {
        font-size: 90%; 
    }
}

@media (min-width: 1270px) and (max-width: 1279px) {
    html {
        font-size: 90.5%; 
    }
}

@media (min-width: 1280px) and (max-width: 1289px) {
    html {
        font-size: 91%; 
    }
}

@media (min-width: 1290px) and (max-width: 1299px) {
    html {
        font-size: 91.5%; 
    }
}

@media (min-width: 1300px) and (max-width: 1309px) {
    html {
        font-size: 92.5%; 
    }
}

@media (min-width: 1310px) and (max-width: 1319px) {
    html {
        font-size: 93%; 
    }
}

@media (min-width: 1320px) and (max-width: 1329px) {
    html {
        font-size: 93.5%; 
    }
}

@media (min-width: 1330px) and (max-width: 1339px) {
    html {
        font-size: 94%; 
    }
}

@media (min-width: 1340px) and (max-width: 1349px) {
    html {
        font-size: 94.5%; 
    }
}

@media (min-width: 1350px) and (max-width: 1359px) {
    html {
        font-size: 95%; 
    }
}

@media (min-width: 1360px) and (max-width: 1369px) {
    html {
        font-size: 95.5%; 
    }
}

@media (min-width: 1370px) and (max-width: 1379px) {
    html {
        font-size: 96%; 
    }
}

@media (min-width: 1380px) and (max-width: 1389px) {
    html {
        font-size: 96.5%; 
    }
}

@media (min-width: 1390px) and (max-width: 1399px) {
    html {
        font-size: 97%; 
    }
}

@media (min-width: 1400px) and (max-width: 1409px) {
    html {
        font-size: 97.5%; 
    }
}

@media (min-width: 1410px) and (max-width: 1419px) {
    html {
        font-size: 98%; 
    }
}

@media (min-width: 1420px) and (max-width: 1429px) {
    html {
        font-size: 98.5%; 
    }
}

@media (min-width: 1430px) and (max-width: 1439px) {
    html {
        font-size: 99%; 
    }
}

@media (min-width: 1440px) and (max-width: 1449px) {
    html {
        font-size: 99.5%; 
    }
}








@media (min-width: 1441px) and (max-width: 1450px) {
    html {
        font-size: 100.5%;
    }
 }

@media (min-width: 1450px) and (max-width: 1460px) {
    html {
        font-size: 101%;
    }
 }
 
 @media (min-width: 1460px) and (max-width: 1470px) {
    html {
        font-size: 101.5%;
    }
 }
 
 @media (min-width: 1470px) and (max-width: 1480px) {
    html {
        font-size: 102%;
    }
 }
 
 @media (min-width: 1480px) and (max-width: 1490px) {
    html {
        font-size: 102.5%;
    }
 }
 
 @media (min-width: 1490px) and (max-width: 1500px) {
    html {
        font-size: 103%;
    }
 }
 
 @media (min-width: 1500px) and (max-width: 1510px) {
    html {
        font-size: 103.5%;
    }
 }

@media (min-width: 1510px) and (max-width: 1520px) {
    html {
        font-size: 104%;
    }
}

@media (min-width: 1520px) and (max-width: 1530px) {
    html {
        font-size: 104.5%;
    }
}

@media (min-width: 1530px) and (max-width: 1540px) {
    html {
        font-size: 105%;
    }
}

@media (min-width: 1540px) and (max-width: 1550px) {
    html {
        font-size: 105.5%;
    }
}

@media (min-width: 1550px) and (max-width: 1560px) {
    html {
        font-size: 106%;
    }
}

@media (min-width: 1560px) and (max-width: 1570px) {
    html {
        font-size: 106.5%;
    }
}

@media (min-width: 1570px) and (max-width: 1580px) {
    html {
        font-size: 107%;
    }
}

@media (min-width: 1580px) and (max-width: 1590px) {
    html {
        font-size: 107.5%;
    }
}

@media (min-width: 1590px) and (max-width: 1600px) {
    html {
        font-size: 108%;
    }
}

@media (min-width: 1600px) and (max-width: 1610px) {
    html {
        font-size: 108.5%;
    }
}

@media (min-width: 1610px) and (max-width: 1620px) {
    html {
        font-size: 109%;
    }
}

@media (min-width: 1620px) and (max-width: 1630px) {
    html {
        font-size: 109.5%;
    }
}

@media (min-width: 1630px) and (max-width: 1640px) {
    html {
        font-size: 110%;
    }
}

@media (min-width: 1640px) and (max-width: 1650px) {
    html {
        font-size: 110.5%;
    }
}

@media (min-width: 1650px) and (max-width: 1660px) {
    html {
        font-size: 111%;
    }
}

@media (min-width: 1660px) and (max-width: 1670px) {
    html {
        font-size: 111.5%;
    }
}

@media (min-width: 1670px) and (max-width: 1680px) {
    html {
        font-size: 112%;
    }
}

@media (min-width: 1680px) and (max-width: 1690px) {
    html {
        font-size: 112.5%;
    }
}

@media (min-width: 1690px) and (max-width: 1700px) {
    html {
        font-size: 113%;
    }
}

@media (min-width: 1700px) and (max-width: 1710px) {
    html {
        font-size: 113.5%;
    }
}

@media (min-width: 1710px) and (max-width: 1720px) {
    html {
        font-size: 114%;
    }
}

@media (min-width: 1720px) and (max-width: 1730px) {
    html {
        font-size: 114.5%;
    }
}

@media (min-width: 1730px) and (max-width: 1740px) {
    html {
        font-size: 115%;
    }
}

@media (min-width: 1740px) and (max-width: 1750px) {
    html {
        font-size: 115.5%;
    }
}

@media (min-width: 1750px) and (max-width: 1760px) {
    html {
        font-size: 116%;
    }
}

@media (min-width: 1760px) and (max-width: 1770px) {
    html {
        font-size: 116.5%;
    }
}

@media (min-width: 1770px) and (max-width: 1780px) {
    html {
        font-size: 117%;
    }
}

@media (min-width: 1780px) and (max-width: 1790px) {
    html {
        font-size: 117.5%;
    }
}

@media (min-width: 1790px) and (max-width: 1800px) {
    html {
        font-size: 118%;
    }
}

@media (min-width: 1800px) and (max-width: 1810px) {
    html {
        font-size: 118.5%;
    }
}

@media (min-width: 1810px) and (max-width: 1820px) {
    html {
        font-size: 119%;
    }
}

@media (min-width: 1820px) and (max-width: 1830px) {
    html {
        font-size: 119.5%;
    }
}

@media (min-width: 1830px) and (max-width: 1840px) {
    html {
        font-size: 120%;
    }
}

@media (min-width: 1840px) and (max-width: 1850px) {
    html {
        font-size: 120.5%;
    }
}

@media (min-width: 1850px) and (max-width: 1860px) {
    html {
        font-size: 121%;
    }
}

@media (min-width: 1860px) and (max-width: 1870px) {
    html {
        font-size: 122%;
    }
}

@media (min-width: 1870px) and (max-width: 1880px) {
    html {
        font-size: 122.5%;
    }
}

@media (min-width: 1880px) and (max-width: 1890px) {
    html {
        font-size: 123%;
    }
}

@media (min-width: 1890px) and (max-width: 1900px) {
    html {
        font-size: 123.5%;
    }
}

@media (min-width: 1900px) and (max-width: 1910px) {
    html {
        font-size: 124%;
    }
}

@media (min-width: 1910px) and (max-width: 1920px) {
    html {
        font-size: 124.5%;
    }
}

@media (min-width: 1920px) and (max-width: 1930px) {
    html {
        font-size: 125%;
    }
}


@media (min-width: 1930px) and (max-width: 1940px) {
    html {
        font-size: 125.5%;
    }
}

@media (min-width: 1940px) and (max-width: 1950px) {
    html {
        font-size: 126%;
    }
}

@media (min-width: 1950px) and (max-width: 1960px) {
    html {
        font-size: 126.5%;
    }
}

@media (min-width: 1960px) and (max-width: 1970px) {
    html {
        font-size: 127%;
    }
}

@media (min-width: 1970px) and (max-width: 1980px) {
    html {
        font-size: 127.5%;
    }
}

@media (min-width: 1980px) and (max-width: 1990px) {
    html {
        font-size: 128%;
    }
}

@media (min-width: 1990px) and (max-width: 2000px) {
    html {
        font-size: 128.5%;
    }
}

@media (min-width: 2000px) and (max-width: 2010px) {
    html {
        font-size: 129%;
    }
}

@media (min-width: 2010px) and (max-width: 2020px) {
    html {
        font-size: 129.5%;
    }
}

@media (min-width: 2020px) and (max-width: 2030px) {
    html {
        font-size: 130%;
    }
}

@media (min-width: 2030px) and (max-width: 2040px) {
    html {
        font-size: 130.5%;
    }
}

@media (min-width: 2040px) and (max-width: 2050px) {
    html {
        font-size: 131%;
    }
}

@media (min-width: 2050px) and (max-width: 2060px) {
    html {
        font-size: 131.5%;
    }
}

@media (min-width: 2060px) and (max-width: 2070px) {
    html {
        font-size: 132.5%;
    }
}

@media (min-width: 2070px) and (max-width: 2080px) {
    html {
        font-size: 133.5%;
    }
}

@media (min-width: 2080px) and (max-width: 2090px) {
    html {
        font-size: 134%;
    }
}

@media (min-width: 2090px) and (max-width: 2100px) {
    html {
        font-size: 134.5%;
    }
}

@media (min-width: 2100px) and (max-width: 2110px) {
    html {
        font-size: 135%;
    }
}

@media (min-width: 2110px) and (max-width: 2120px) {
    html {
        font-size: 135.5%;
    }
}

@media (min-width: 2120px) and (max-width: 2130px) {
    html {
        font-size: 136%;
    }
}

@media (min-width: 2130px) and (max-width: 2140px) {
    html {
        font-size: 136.5%;
    }
}

@media (min-width: 2140px) and (max-width: 2150px) {
    html {
        font-size: 137%;
    }
}

@media (min-width: 2150px) and (max-width: 2160px) {
    html {
        font-size: 137.5%;
    }
}

@media (min-width: 2160px) and (max-width: 2170px) {
    html {
        font-size: 138%;
    }
}

@media (min-width: 2170px) and (max-width: 2180px) {
    html {
        font-size: 138.5%;
    }
}

@media (min-width: 2180px) and (max-width: 2190px) {
    html {
        font-size: 139%;
    }
}

@media (min-width: 2190px) and (max-width: 2200px) {
    html {
        font-size: 139.5%;
    }
}

@media (min-width: 2200px) and (max-width: 2210px) {
    html {
        font-size: 140%;
    }
}

@media (min-width: 2210px) and (max-width: 2220px) {
    html {
        font-size: 140.5%;
    }
}

@media (min-width: 2220px) and (max-width: 2230px) {
    html {
        font-size: 141%;
    }
}

@media (min-width: 2230px) and (max-width: 2240px) {
    html {
        font-size: 141.5%;
    }
}

@media (min-width: 2240px) and (max-width: 2250px) {
    html {
        font-size: 142%;
    }
}

@media (min-width: 2250px) and (max-width: 2260px) {
    html {
        font-size: 142.5%;
    }
}

@media (min-width: 2260px) and (max-width: 2270px) {
    html {
        font-size: 143%;
    }
}

@media (min-width: 2270px) and (max-width: 2280px) {
    html {
        font-size: 143.5%;
    }
}

@media (min-width: 2280px) and (max-width: 2290px) {
    html {
        font-size: 144%;
    }
}

@media (min-width: 2290px) and (max-width: 2300px) {
    html {
        font-size: 144.5%;
    }
}

@media (min-width: 2300px) and (max-width: 2310px) {
    html {
        font-size: 145%;
    }
}

@media (min-width: 2310px) and (max-width: 2320px) {
    html {
        font-size: 145.5%;
    }
}

@media (min-width: 2320px) and (max-width: 2330px) {
    html {
        font-size: 146%;
    }
}

@media (min-width: 2330px) and (max-width: 2340px) {
    html {
        font-size: 146.5%;
    }
}

@media (min-width: 2340px) and (max-width: 2350px) {
    html {
        font-size: 147%;
    }
}

@media (min-width: 2350px) and (max-width: 2360px) {
    html {
        font-size: 147.5%;
    }
}

@media (min-width: 2360px) and (max-width: 2370px) {
    html {
        font-size: 148%;
    }
}

@media (min-width: 2370px) and (max-width: 2380px) {
    html {
        font-size: 148.5%;
    }
}

@media (min-width: 2380px) and (max-width: 2390px) {
    html {
        font-size: 149%;
    }
}

@media (min-width: 2390px) and (max-width: 2400px) {
    html {
        font-size: 149.5%;
    }
}

@media (min-width: 2400px) and (max-width: 2410px) {
    html {
        font-size: 150%;
    }
}

@media (min-width: 2410px) and (max-width: 2420px) {
    html {
        font-size: 150.5%;
    }
}

@media (min-width: 2420px) and (max-width: 2430px) {
    html {
        font-size: 151%;
    }
}

@media (min-width: 2430px) and (max-width: 2440px) {
    html {
        font-size: 151.5%;
    }
}

@media (min-width: 2440px) and (max-width: 2450px) {
    html {
        font-size: 152%;
    }
}

@media (min-width: 2450px) and (max-width: 2460px) {
    html {
        font-size: 152.5%;
    }
}

@media (min-width: 2460px) and (max-width: 2470px) {
    html {
        font-size: 153%;
    }
}

@media (min-width: 2470px) and (max-width: 2480px) {
    html {
        font-size: 153.5%;
    }
}

@media (min-width: 2480px) and (max-width: 2490px) {
    html {
        font-size: 154%;
    }
}

@media (min-width: 2490px) and (max-width: 2500px) {
    html {
        font-size: 154.5%;
    }
}

@media (min-width: 2500px) and (max-width: 2510px) {
    html {
        font-size: 155%;
    }
}

@media (min-width: 2510px) and (max-width: 2520px) {
    html {
        font-size: 155.5%;
    }
}

@media (min-width: 2520px) and (max-width: 2530px) {
    html {
        font-size: 156%;
    }
}

@media (min-width: 2530px) and (max-width: 2540px) {
    html {
        font-size: 156.5%;
    }
}

@media (min-width: 2540px) and (max-width: 2550px) {
    html {
        font-size: 157%;
    }
}

@media (min-width: 2550px) and (max-width: 2560px) {
    html {
        font-size: 157.5%;
    }
}

@media (min-width: 2560px) and (max-width: 2570px) {
    html {
        font-size: 158%;
    }
}

@media (min-width: 2570px) and (max-width: 2580px) {
    html {
        font-size: 158.5%;
    }
}

@media (min-width: 2580px) and (max-width: 2590px) {
    html {
        font-size: 159%;
    }
}

@media (min-width: 2590px) and (max-width: 2600px) {
    html {
        font-size: 159.5%;
    }
}

@media (min-width: 2600px) and (max-width: 2610px) {
    html {
        font-size: 160%;
    }
}

@media (min-width: 2610px) and (max-width: 2620px) {
    html {
        font-size: 160.5%;
    }
}

@media (min-width: 2620px) and (max-width: 2630px) {
    html {
        font-size: 161%;
    }
}

@media (min-width: 2630px) and (max-width: 2640px) {
    html {
        font-size: 161.5%;
    }
}

@media (min-width: 2640px) and (max-width: 2650px) {
    html {
        font-size: 162%;
    }
}

@media (min-width: 2650px) and (max-width: 2660px) {
    html {
        font-size: 162.5%;
    }
}

@media (min-width: 2660px) and (max-width: 2670px) {
    html {
        font-size: 163%;
    }
}

@media (min-width: 2670px) and (max-width: 2680px) {
    html {
        font-size: 163.5%;
    }
}

@media (min-width: 2680px) and (max-width: 2690px) {
    html {
        font-size: 164%;
    }
}

@media (min-width: 2690px) and (max-width: 2700px) {
    html {
        font-size: 164.5%;
    }
}

@media (min-width: 2700px) and (max-width: 2710px) {
    html {
        font-size: 165%;
    }
}

@media (min-width: 2710px) and (max-width: 2720px) {
    html {
        font-size: 165.5%;
    }
}

@media (min-width: 2720px) and (max-width: 2730px) {
    html {
        font-size: 166%;
    }
}

@media (min-width: 2730px) and (max-width: 2740px) {
    html {
        font-size: 166.5%;
    }
}

@media (min-width: 2740px) and (max-width: 2750px) {
    html {
        font-size: 167%;
    }
}

@media (min-width: 2750px) and (max-width: 2760px) {
    html {
        font-size: 167.5%;
    }
}

@media (min-width: 2760px) and (max-width: 2770px) {
    html {
        font-size: 168%;
    }
}

@media (min-width: 2770px) and (max-width: 2780px) {
    html {
        font-size: 168.5%;
    }
}

@media (min-width: 2780px) and (max-width: 2790px) {
    html {
        font-size: 169%;
    }
}

@media (min-width: 2790px) and (max-width: 2800px) {
    html {
        font-size: 169.5%;
    }
}
 
@media (min-width: 2800px) and (max-width: 2810px) {
    html {
        font-size: 169%;
    }
}

@media (min-width: 2810px) and (max-width: 2820px) {
    html {
        font-size: 169.5%;
    }
}

@media (min-width: 2820px) and (max-width: 2830px) {
    html {
        font-size: 170%;
    }
}

@media (min-width: 2830px) and (max-width: 2840px) {
    html {
        font-size: 170.5%;
    }
}

@media (min-width: 2840px) and (max-width: 2850px) {
    html {
        font-size: 171%;
    }
}

@media (min-width: 2850px) and (max-width: 2860px) {
    html {
        font-size: 171.5%;
    }
}

@media (min-width: 2860px) and (max-width: 2870px) {
    html {
        font-size: 172%;
    }
}

@media (min-width: 2870px) and (max-width: 2880px) {
    html {
        font-size: 172.5%;
    }
}

@media (min-width: 2880px) and (max-width: 2890px) {
    html {
        font-size: 173%;
    }
}

@media (min-width: 2890px) and (max-width: 2900px) {
    html {
        font-size: 173.5%;
    }
}

@media (min-width: 2900px) and (max-width: 2910px) {
    html {
        font-size: 174%;
    }
}

@media (min-width: 2910px) and (max-width: 2920px) {
    html {
        font-size: 174.5%;
    }
}

@media (min-width: 2920px) and (max-width: 2930px) {
    html {
        font-size: 175%;
    }
}

@media (min-width: 2930px) and (max-width: 2940px) {
    html {
        font-size: 175.5%;
    }
}

@media (min-width: 2940px) and (max-width: 2950px) {
    html {
        font-size: 176%;
    }
}

@media (min-width: 2950px) and (max-width: 2960px) {
    html {
        font-size: 176.5%;
    }
}

@media (min-width: 2960px) and (max-width: 2970px) {
    html {
        font-size: 177%;
    }
}

@media (min-width: 2970px) and (max-width: 2980px) {
    html {
        font-size: 177.5%;
    }
}

@media (min-width: 2980px) and (max-width: 2990px) {
    html {
        font-size: 178%;
    }
}

@media (min-width: 2990px) and (max-width: 3000px) {
    html {
        font-size: 178.5%;
    }
}

@media (min-width: 3000px) and (max-width: 3010px) {
    html {
        font-size: 179%;
    }
}

@media (min-width: 3010px) and (max-width: 3020px) {
    html {
        font-size: 179.5%;
    }
}

@media (min-width: 3020px) and (max-width: 3030px) {
    html {
        font-size: 180%;
    }
}

@media (min-width: 3030px) and (max-width: 3040px) {
    html {
        font-size: 180.5%;
    }
}

@media (min-width: 3040px) and (max-width: 3050px) {
    html {
        font-size: 181%;
    }
}

@media (min-width: 3050px) and (max-width: 3060px) {
    html {
        font-size: 181.5%;
    }
}

@media (min-width: 3060px) and (max-width: 3070px) {
    html {
        font-size: 182%;
    }
}

@media (min-width: 3070px) and (max-width: 3080px) {
    html {
        font-size: 182.5%;
    }
}

@media (min-width: 3080px) and (max-width: 3090px) {
    html {
        font-size: 183%;
    }
}

@media (min-width: 3090px) and (max-width: 3100px) {
    html {
        font-size: 183.5%;
    }
}

@media (min-width: 3100px) and (max-width: 3110px) {
    html {
        font-size: 184%;
    }
}

@media (min-width: 3110px) and (max-width: 3120px) {
    html {
        font-size: 184.5%;
    }
}

@media (min-width: 3120px) and (max-width: 3130px) {
    html {
        font-size: 185%;
    }
}

@media (min-width: 3130px) and (max-width: 3140px) {
    html {
        font-size: 185.5%;
    }
}

@media (min-width: 3140px) and (max-width: 3150px) {
    html {
        font-size: 186%;
    }
}

@media (min-width: 3150px) and (max-width: 3160px) {
    html {
        font-size: 186.5%;
    }
}

@media (min-width: 3160px) and (max-width: 3170px) {
    html {
        font-size: 187%;
    }
}

@media (min-width: 3170px) and (max-width: 3180px) {
    html {
        font-size: 187.5%;
    }
}

@media (min-width: 3180px) and (max-width: 3190px) {
    html {
        font-size: 188%;
    }
}

@media (min-width: 3190px) and (max-width: 3200px) {
    html {
        font-size: 188.5%;
    }
}

@media (min-width: 3200px) and (max-width: 3210px) {
    html {
        font-size: 189%;
    }
}

@media (min-width: 3210px) and (max-width: 3220px) {
    html {
        font-size: 189.5%;
    }
}

@media (min-width: 3220px) and (max-width: 3230px) {
    html {
        font-size: 190%;
    }
}

@media (min-width: 3230px) and (max-width: 3240px) {
    html {
        font-size: 190.5%;
    }
}

@media (min-width: 3240px) and (max-width: 3250px) {
    html {
        font-size: 191%;
    }
}

@media (min-width: 3250px) and (max-width: 3260px) {
    html {
        font-size: 191.5%;
    }
}

@media (min-width: 3260px) and (max-width: 3270px) {
    html {
        font-size: 192%;
    }
}

@media (min-width: 3270px) and (max-width: 3280px) {
    html {
        font-size: 192.5%;
    }
}

@media (min-width: 3280px) and (max-width: 3290px) {
    html {
        font-size: 193%;
    }
}

@media (min-width: 3290px) and (max-width: 3300px) {
    html {
        font-size: 193.5%;
    }
}

@media (min-width: 3300px) and (max-width: 3310px) {
    html {
        font-size: 194%;
    }
}

@media (min-width: 3310px) and (max-width: 3320px) {
    html {
        font-size: 194.5%;
    }
}

@media (min-width: 3320px) and (max-width: 3330px) {
    html {
        font-size: 195%;
    }
}

@media (min-width: 3330px) and (max-width: 3340px) {
    html {
        font-size: 195.5%;
    }
}

@media (min-width: 3340px) and (max-width: 3350px) {
    html {
        font-size: 196%;
    }
}

@media (min-width: 3350px) and (max-width: 3360px) {
    html {
        font-size: 196.5%;
    }
}

@media (min-width: 3360px) and (max-width: 3370px) {
    html {
        font-size: 197%;
    }
}

@media (min-width: 3370px) and (max-width: 3380px) {
    html {
        font-size: 197.5%;
    }
}

@media (min-width: 3380px) and (max-width: 3390px) {
    html {
        font-size: 198%;
    }
}

@media (min-width: 3390px) and (max-width: 3400px) {
    html {
        font-size: 198.5%;
    }
}

@media (min-width: 3400px) and (max-width: 3410px) {
    html {
        font-size: 199%;
    }
}

@media (min-width: 3410px) and (max-width: 3420px) {
    html {
        font-size: 199.5%;
    }
}

@media (min-width: 3420px) and (max-width: 3430px) {
    html {
        font-size: 200%;
    }
}

@media (min-width: 3430px) and (max-width: 3440px) {
    html {
        font-size: 200.5%;
    }
}

@media (min-width: 3440px) and (max-width: 3450px) {
    html {
        font-size: 201%;
    }
}

@media (min-width: 3450px) and (max-width: 3460px) {
    html {
        font-size: 201.5%;
    }
}

@media (min-width: 3460px) and (max-width: 3470px) {
    html {
        font-size: 202%;
    }
}

@media (min-width: 3470px) and (max-width: 3480px) {
    html {
        font-size: 202.5%;
    }
}

@media (min-width: 3480px) and (max-width: 3490px) {
    html {
        font-size: 203%;
    }
}

@media (min-width: 3490px) and (max-width: 3500px) {
    html {
        font-size: 203.5%;
    }
}
 
 @media (min-width: 3500px) {
    html {
        font-size: 204%;
    }
 }

 @media (min-width: 3600px) {
    html {
        font-size: 214%;
    }
 }

 @media (min-width: 3700px) {
    html {
        font-size: 224%;
    }
 }

 @media (min-width: 3800px) {
    html {
        font-size: 234%;
    }
 }

 @media (min-width: 3900px) {
    html {
        font-size: 244%;
    }
 }

 @media (min-width: 4000px) {
    html {
        font-size: 254%;
    }
 }

 @media (min-width: 4100px) {
    html {
        font-size: 264%;
    }
 }

 @media (min-width: 4200px) {
    html {
        font-size: 274%;
    }
 }

 @media (min-width: 4300px) {
    html {
        font-size: 284%;
    }
 }

 @media (min-width: 4400px) {
    html {
        font-size: 294%;
    }
 }

 @media (min-width: 4500px) {
    html {
        font-size: 304%;
    }
 }

 @media (min-width: 4600px) {
    html {
        font-size: 314%;
    }
 }

 @media (min-width: 4700px) {
    html {
        font-size: 324%;
    }
 }

 @media (min-width: 4800px) {
    html {
        font-size: 334%;
    }
 }

