@media (max-width: 1440px) {

    html {
        font-size: 100%;
    }

    @media (min-width: 770px) and (max-width: 779px) {
        html {
            font-size: 59.6%; 
        }
    }
    
    @media (min-width: 780px) and (max-width: 789px) {
        html {
            font-size: 60.15%; 
        }
    }
    
    @media (min-width: 790px) and (max-width: 799px) {
        html {
            font-size: 60.7%; 
        }
    }
    
    @media (min-width: 800px) and (max-width: 809px) {
        html {
            font-size: 61.25%; 
        }
    }
    
    @media (min-width: 810px) and (max-width: 819px) {
        html {
            font-size: 61.8%; 
        }
    }
    
    @media (min-width: 820px) and (max-width: 829px) {
        html {
            font-size: 62.4%; 
        }
    }
    
    @media (min-width: 830px) and (max-width: 839px) {
        html {
            font-size: 62.95%; 
        }
    }
    
    @media (min-width: 840px) and (max-width: 849px) {
        html {
            font-size: 63.55%; 
        }
    }
    
    @media (min-width: 850px) and (max-width: 859px) {
        html {
            font-size: 64.2%; 
        }
    }
    
    @media (min-width: 860px) and (max-width: 869px) {
        html {
            font-size: 64.75%; 
        }
    }
    
    @media (min-width: 870px) and (max-width: 879px) {
        html {
            font-size: 65.3%; 
        }
    }
    
    @media (min-width: 880px) and (max-width: 889px) {
        html {
            font-size: 65.85%; 
        }
    }
    
    @media (min-width: 890px) and (max-width: 899px) {
        html {
            font-size: 66.5%; 
        }
    }
    
    @media (min-width: 900px) and (max-width: 909px) {
        html {
            font-size: 67.1%; 
        }
    }
    
    @media (min-width: 910px) and (max-width: 919px) {
        html {
            font-size: 67.6%; 
        }
    }
    
    @media (min-width: 920px) and (max-width: 929px) {
        html {
            font-size: 68.2%; 
        }
    }
    
    @media (min-width: 930px) and (max-width: 939px) {
        html {
            font-size: 68.85%; 
        }
    }
    
    @media (min-width: 940px) and (max-width: 949px) {
        html {
            font-size: 69.4%; 
        }
    }
    
    @media (min-width: 950px) and (max-width: 959px) {
        html {
            font-size: 70%; 
        }
    }
    
    @media (min-width: 960px) and (max-width: 969px) {
        html {
            font-size: 70.55%; 
        }
    }
    
    @media (min-width: 970px) and (max-width: 979px) {
        html {
            font-size: 71.15%; 
        }
    }
    
    @media (min-width: 980px) and (max-width: 989px) {
        html {
            font-size: 71.7%; 
        }
    }
    
    @media (min-width: 990px) and (max-width: 999px) {
        html {
            font-size: 72.25%; 
        }
    }
    
    @media (min-width: 1000px) and (max-width: 1009px) {
        html {
            font-size: 72.8%; 
        }
    }
    
    @media (min-width: 1010px) and (max-width: 1019px) {
        html {
            font-size: 73.45%;
        }
    }
    
    @media (min-width: 1020px) and (max-width: 1029px) {
        html {
            font-size: 74%; 
        }
    }
    
    @media (min-width: 1030px) and (max-width: 1039px) {
        html {
            font-size: 74.55%; 
        }
    }
    
    @media (min-width: 1040px) and (max-width: 1049px) {
        html {
            font-size: 75.2%; 
        }
    }
    
    @media (min-width: 1050px) and (max-width: 1059px) {
        html {
            font-size: 75.7%; 
        }
    }
    
    @media (min-width: 1060px) and (max-width: 1069px) {
        html {
            font-size: 76.3%; 
        }
    }
    
    @media (min-width: 1070px) and (max-width: 1079px) {
        html {
            font-size: 76.85%;
        }
    }
    
    @media (min-width: 1080px) and (max-width: 1089px) {
        html {
            font-size: 77.4%; 
        }
    }
    
    @media (min-width: 1090px) and (max-width: 1099px) {
        html {
            font-size: 78.1%; 
        }
    }
    
    @media (min-width: 1100px) and (max-width: 1109px) {
        html {
            font-size: 78.6%; 
        }
    }
    
    @media (min-width: 1110px) and (max-width: 1119px) {
        html {
            font-size: 79.2%; 
        }
    }
    
    @media (min-width: 1120px) and (max-width: 1129px) {
        html {
            font-size: 79.8%; 
        }
    }
    
    @media (min-width: 1130px) and (max-width: 1139px) {
        html {
            font-size: 80.4%; 
        }
    }
    
    @media (min-width: 1140px) and (max-width: 1149px) {
        html {
            font-size: 81%; 
        }
    }
    
    @media (min-width: 1150px) and (max-width: 1159px) {
        html {
            font-size: 81.55%; 
        }
    }
    
    @media (min-width: 1160px) and (max-width: 1169px) {
        html {
            font-size: 82.1%; 
        }
    }
    
    @media (min-width: 1170px) and (max-width: 1179px) {
        html {
            font-size: 82.65%; 
        }
    }
    
    @media (min-width: 1180px) and (max-width: 1189px) {
        html {
            font-size: 83.2%; 
        }
    }
    
    @media (min-width: 1190px) and (max-width: 1199px) {
        html {
            font-size: 83.85%; 
        }
    }
    
    @media (min-width: 1200px) and (max-width: 1209px) {
        html {
            font-size: 84.35%; 
        }
    }
    
    @media (min-width: 1210px) and (max-width: 1219px) {
        html {
            font-size: 85%;
        }
    }
    
    @media (min-width: 1220px) and (max-width: 1229px) {
        html {
            font-size: 85.6%; 
        }
    }
    
    @media (min-width: 1230px) and (max-width: 1239px) {
        html {
            font-size: 86.15%; 
        }
    }
    
    @media (min-width: 1240px) and (max-width: 1249px) {
        html {
            font-size: 86.7%; 
        }
    }
    
    @media (min-width: 1250px) and (max-width: 1259px) {
        html {
            font-size: 87.3%; 
        }
    }
    
    @media (min-width: 1260px) and (max-width: 1269px) {
        html {
            font-size: 87.85%; 
        }
    }
    
    @media (min-width: 1270px) and (max-width: 1279px) {
        html {
            font-size: 88.5%; 
        }
    }
    
    @media (min-width: 1280px) and (max-width: 1289px) {
        html {
            font-size: 89.05%; 
        }
    }
    
    @media (min-width: 1290px) and (max-width: 1299px) {
        html {
            font-size: 89.6%; 
        }
    }
    
    @media (min-width: 1300px) and (max-width: 1309px) {
        html {
            font-size: 90.15%; 
        }
    }
    
    @media (min-width: 1310px) and (max-width: 1319px) {
        html {
            font-size: 91.85%; 
        }
    }
    
    @media (min-width: 1320px) and (max-width: 1329px) {
        html {
            font-size: 92.4%; 
        }
    }
    
    @media (min-width: 1330px) and (max-width: 1339px) {
        html {
            font-size: 93%;
        }
    }
    
    @media (min-width: 1340px) and (max-width: 1349px) {
        html {
            font-size: 93.6%; 
        }
    }
    
    @media (min-width: 1350px) and (max-width: 1359px) {
        html {
            font-size: 94.15%; 
        }
    }
    
    @media (min-width: 1360px) and (max-width: 1369px) {
        html {
            font-size: 94.7%; 
        }
    }
    
    @media (min-width: 1370px) and (max-width: 1379px) {
        html {
            font-size: 95.25%; 
        }
    }
    
    @media (min-width: 1380px) and (max-width: 1389px) {
        html {
            font-size: 95.8%; 
        }
    }
    
    @media (min-width: 1390px) and (max-width: 1399px) {
        html {
            font-size: 96.6%; 
        }
    }
    
    @media (min-width: 1400px) and (max-width: 1409px) {
        html {
            font-size: 97.5%; 
        }
    }
    
    @media (min-width: 1410px) and (max-width: 1419px) {
        html {
            font-size: 98%; 
        }
    }
    
    @media (min-width: 1420px) and (max-width: 1429px) {
        html {
            font-size: 98.7%; 
        }
    }
    
    @media (min-width: 1430px) and (max-width: 1439px) {
        html {
            font-size: 99.3%; 
        }
    }
    


    @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'TWK Lausanne';
}

:root {
    --bg-color: #eceff0;
    --second--bg-color: #dde6ec;
    --text-color: #111010;
    --main-color: #111212;
}

body {
    width: 90rem;
    overflow-x: hidden;
}

.mobile-html {
    display: none;
}

.d-prenav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.92);   
    height: 3.25rem; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 90rem;
}

.d-prenavimg {
    border-radius: 0.2rem;
    width: 1.2rem; 
    height: 1.2rem; 
    margin-top: -.3rem;
}

.d-prenav1 {
    margin-left: 0.5rem; 
    color: rgba(62, 131, 235, 1);
    font-size: 1rem; 
}

.d-prenav2 a {
    margin-left: .5rem; 
    font-size: 1rem; 
    color: black !important;
}

.d-prenav2-img1 {
    width: .75rem;
    height: .75rem;
    margin-top: .1rem;
}

.d-prenav2 span {
    font-weight: 600;
}

/* /Default */

.d-page1-background{
    background: url(img/Rec9151.png) no-repeat center center/cover;
    width: 90rem;
    height: 73.5rem;
}

.d-header {
    /* border: 0.4rem solid pink; */
    padding-top: 1.25rem;
    display: flex;
    width: 86rem;
    margin-left: 2rem;
    height: 3.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-left-nav,
.d-mid-nav,
.d-right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-left-nav {
    height: 2.5rem;
    width: 10.1875rem;
    border-radius: .75rem;
}

.d-left-nav img{
    width: 1.5rem;
    height: 1.6875rem;
    margin-left: .8rem;
    margin-bottom: .6rem;
}

.d-left-nav a{
    width: 7.1875rem;
    height: 1.375rem;
    font-size: 1.25rem;
}

.d-mid-nav {
    height: 2.625rem;
    width: 30.875 rem;
    gap: 2.5rem;
    margin-left: 9rem;
}

.d-mid-nav a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 250;
    margin-left: -.7rem;
    gap: 2.5rem;
}

.d-mid-nav a:hover,
.d-mid-nav a.active {
    color: var(--main-color);
}

.d-home1{
    width: 6.0625rem;
    height: 2.625rem;
    background: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 250;
    border-radius: .6rem;
    padding: .75rem 1.25rem .75rem 1rem;
}

.d-home1 img{
    height: .375rem;
    width: .375rem;
    border-radius: .125rem;
    margin-bottom: .15rem;
    margin-right: .5rem;
}

.d-right-nav a {
    color: rgba(62, 131, 235, 1);
    font-weight: 500;
    transition: 0.3s;
    padding-right: 1rem;
}

.d-right-nav a:hover,
.d-right-nav a.active {
    color: var(--main-color);
}

.d-getstart{
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 3.125rem;
    width: 13.5rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background: rgba(62, 131, 235, 0.1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-getstartimg{
    width: .6rem;
    margin-right: 1rem;
}

.d-menu-icon {
    display: none;
}

/* /header */

.d-pages {
    /* border: 0.4rem solid purple; */
    display: flex;
    flex-direction: column;
}

.d-page {
    /* border: 0.4rem solid red; */
    margin: 0;
    padding: 0;
}
/* /pageDefault */

/* page-1 CSS start*/

.d-page-1 {
    width: 90rem;
    display: flex;
    flex-direction: column;
}

.d-box11 {
    display: flex;
    flex-direction: row;
    align-items: start;
    /* border: 0.4rem solid blue; */
    margin-top: 6.875rem;
    margin-bottom: 7rem;
    margin-left: 4rem;
    width: 40rem;
    height: 22rem;
    padding: 0rem 0rem 0rem 0rem;
}

.d-box11-content{
    display: flex;
    flex-direction: column;
    height: 22rem;
    width: 28.375rem;
    padding: 0rem 0rem 0rem 0rem;
    margin-left: 0rem;
    /* margin-right: 7rem; */
    /* border: 0.4rem solid blue; */
}

.d-box11-content h1 {
    width: 28.375rem;
    height: 13.125rem; 
    /* margin-left: 14.5%; */
    /* margin-top: 5rem; */
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.6rem;
    margin-bottom: 1rem;
    letter-spacing: -.02rem;
    /* border: 0.4rem solid orange; */
}

.d-box11-content h1 {
    color: var(--main-color);
}

.d-box11-input-club {
    display: flex;
    flex-direction: row;
    width: 35rem;
    height: 3.625rem;
    /* margin-left: 6rem; */
    /* border: 0.4rem solid black; */
}

.d-inputBox {
    width: 35rem;
    height: 3.625rem;
    padding: .6rem;
    font-size: 1rem; 
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    border-radius: .9rem;
    padding-left: 1.2rem;
    margin-bottom: .6rem;
}

.d-box11-btn {
    margin-left: -11.4rem;
    margin-top: .39rem;
    width: 11rem;
    height: 2.8rem; 
    background: rgb(74, 133, 209);
    border: 0.2rem solid rgb(74, 133, 209);
    border-radius: 0.6rem;
    font-size: .9rem; 
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.d-box11-btn span{
    margin-left: .4rem;
}

.d-box-11-content {
    margin-top: .7rem;
    margin-left: .1rem;
}

.d-box-11-content p{
    text-align: start;
    /* margin-left: 6.2rem; */
    margin-top: .1rem;
    font-weight: 300;
    opacity: 0.8;
}

.d-page1-img-right {
    height: 32.4375rem;
    width: 45.6rem;
    margin-left: 12rem;
    margin-top: -4rem;
}

.d-img111 {
    /* border: #111010 2px solid; */
    /* margin-top: -1.8rem; */
    /* height: 100%; */
    height: 32.4375rem;
    width: 45.6rem;
    /* margin-left: 4.2rem; */
}

.d-img121{
    display: none;
}

.d-layout1 {
    width: 87rem;
    color: white;
    height: 16.3125rem; 
    border-radius: 2rem;
    background: url(img/Fr5411.png) no-repeat center center/cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
}

.d-page1-end-text{
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 79rem;
    height: 7.4375rem;
    margin-left: 4rem;
}

.d-text-block {
    margin: 1rem;
}

.d-page1-end-h11 {
    font-weight: 650;
    font-size: 3rem;
    margin-left: 0rem;
}

.d-page1-end-h41 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 0rem;
    opacity: .7;
}
.d-page1-end-h12 {
    font-weight: 600;
    font-size: 3rem;
    margin-left: 12rem;
}
.d-page1-end-h42 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 12rem;
    opacity: .7;
}
.d-page1-end-h13 {
    font-weight: 600;
    font-size: 3rem;
    margin-left: 15rem;
}
.d-page1-end-h43 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 15rem;
    opacity: .7;
}

/* page 1 css end */

/* page-2 CSS start*/
.d-page-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #ffffff;
    height: 65rem;
    padding: 0 4rem;
}

.d-page2-header{
    background: #ffffff;
}

.d-page2-header h1{
    width: 34.5rem;
    height: 8.75rem;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 3rem; 
}

.d-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85%;
}

.d-images-container-image {
    width: 26.5rem;
    height: 70%;
}

.d-image1 {

}

.d-imgg {
    height: 20.8431rem;
    width: 26.5rem;
    display: flex;
    flex-direction: column;
    border-radius: .9rem;
}

.d-image2 {
    align-self: flex-end;
}

.d-image3 {
    align-self: flex-start;
}

.d-images-container-image .d-content{
    height: 33%;
    width: 67%;
    font-family: TWK Lausanne;
    text-align: left;
    display: flex;
    flex-direction: column;
    }

.d-images-container-image .d-content .d-contenth{
    font-size: 250%;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.04em;

}
.d-images-container-image .d-content .d-contentp{
    font-size: 16px;
    font-weight: 300;
    line-height: 21.6px;
}

.d-content {
    padding: 1.5625rem 1rem 1.5625rem 1rem;
}

/* /page-2  CSS end*/

/* page-3 CSS start*/

.d-page-3 {
    display: flex;
    flex-direction: row;
    background: url(img/Fra5413.png) no-repeat center center/cover;
    width: 87rem;
    height: 47.5rem;
    margin-left: 1.5rem;
    color: rgba(255, 255, 255, 1);
    border-radius: 2rem;
    padding-top: 1.3rem;
}

.d-background-image {
    border-radius: .2rem; 
    width: 54.95rem;
    height: 43rem;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}

.d-background-image1{
    display: none;
}

.d-container3{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 32.5rem;
    margin-top: 13rem;
    margin-left: -10rem;
}

.d-container3 h1 {
    width: 32.5rem;
    height: 9.9375rem;
    font-size: 3rem;
    margin-bottom: .5rem;
    color: rgba(255, 255, 255, 1);
    opacity: .95;
}

.d-container3p31 {
    width: 32.5rem;
    height: 2.75rem;
    margin-bottom: .8rem;
    margin-top: .3rem;
    color: rgba(255, 255, 255, 1);
    opacity: .7;
    font-size: 1rem;
}

.d-container3p32 {
    display: none;
}

.d-page3-button {
    width: 10.9375rem;
    height: 3.125rem;
    border-radius: .75rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background: rgba(255, 255, 255, 1);
}

.d-page3-button p{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(23, 30, 36, 1);
    opacity: 1;
    cursor: pointer;
}

.d-page3-buttonspan {
    position: relative;
    top: -.1rem;
}

.d-page3-buttonspan img{
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
    margin-right: .7rem;
}

/* /page-3 CSS end*/

/* page-4 CSS start*/


.d-page-4{
    height: 42rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #EFF2F4, #EFF2F4);
}

.d-p4up{
    width: 80.5%;
    height: 45%;
    margin-top: 12.5rem;
    /* border: 4px solid yellow; */
}

.d-p4up-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.d-p4up-left{
    font-family:  TWK Lausanne;
    width: 25.5rem;
    height: 8.75rem;
    margin-left: 4rem;
    /* border: 4px solid yellow; */
    font-weight: 600;
    font-family: TWK Lausanne;
    font-size: 3rem;
    letter-spacing: 0;
    text-align: left;

}

.d-p4up-left-star {
    position: relative;
    top: .5rem;
    margin-left: -.4rem;
    width: 2.6875rem;
    height: 3.125rem;
}

.d-p4up-right{
    width: 38%;
    height: 100%;
    margin-left: 18rem;
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10%;
    padding: 1%;
}

.d-p4up-right p{
    font-weight: 300;
    width: 25rem;
    margin-top: .3rem;
    font-size: .78rem;
}

.d-page4-button {
    display: flex;
    flex-direction: row;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 2.5rem;
    width: 10rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 0.1);
    padding-top: .5rem;
}

.d-page4-buttonimg {
    margin-left: 1.4rem;
    height: .4rem;
    width: .6rem;
    margin-top: .5rem;
}

.d-page4-button p{
    color: rgba(62, 131, 235, 1);
    font-size: .8rem;
    font-weight: 500;
    cursor: pointer;
}

.d-p4down{
    width: 100%;
    height: 48%;
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1%;  
    margin-top: -3rem;
}

.d-quotes{
    padding: 2%;
    border-radius: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1%;
    background: #3E83EB1A;    
}

.d-page4-reviewp1 {
    font-size: 1.2rem;
}

.d-page4-reviewp2 {
    font-size: 1.2rem;
}

.d-page4-reviewp3 {
    font-size: 1.2rem;
}

.d-quotes p{
    /* border: 4px solid green; */
    width: 86%;
    height: 6rem
}

.d-quotes .d-discord{
    /* border: 4px solid green; */
    width: 25%;
    font-size: .6rem;
    margin-bottom: 2rem;
    color: rgba(62, 131, 235, 1);
}

.d-quotes .d-Mchein{
    /* border: 4px solid green; */
    width: 50%;
    font-size: .6rem;
}

.d-Mchein span {
    opacity: .5;
}

.d-quote-left{
    height: 14rem;
    width: 87rem;
    margin-left: -4rem;
}

.d-quote-right{
    height: 14rem;
    width: 87rem;
    margin-top: .1rem;
}

.d-quote-mid{
    height: 14rem;
    width: 87rem;
    margin-top: .5rem;
}

.d-quote1{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

#d-quote2{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

#d-quote3{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

/* /page-4 CSS end */

/* page 5 css start */

.d-page-55 {
    width: 87rem;
    margin-left: 1.5rem;
    height: 70.5625rem;
    background-color: rgba(255, 255, 255, 1);
    background: url(img/Fra542.png) no-repeat center center/cover;
    border-radius: 2rem;
}

.d-page55 {
    display: flex;
    flex-direction: row;
}

.d-page5-start{
    display: flex;
    flex-direction: column;
}

.d-page5-h1{
    width: 26.75rem;
    height: 6.625rem;
    margin-top: 4rem;
    margin-left: 4rem;
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.4rem;
    letter-spacing: -.02rem;
}

.d-page55-imgg{
    margin-top: 0rem;
    margin-left: 4rem;
}

.d-page5-img{
    height: 53.9375rem;
    width: 40.9375rem;
}

.d-page5-button{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 23.57rem;
}

.d-page5-box1{
    background-color: rgb(26 44 64);
    height: 3.125rem;
    width: 14rem;
   border-radius: .75rem;
   padding: .875rem, 1rem, .875rem, 1rem;
   margin-top: 5.8125rem;
   color: white;
   font-size: 1rem;
}

.d-page5-box2{
    background-color: rgb(255, 255, 255);
    height: 3.125rem;
    width: 14rem;
   border-radius: .75rem;
   padding: .875rem, 1rem, .875rem, 1rem;
   margin-top: 5.8125rem;
   color: rgb(37, 23, 58);
   text-align:center;
   font-size: 1rem;
}

/* page 5 css end */

/* page 6 css start */
.d-page-6{
    width: 100%;
    height: 75rem;
    background: rgba(255, 255, 255, 1);
}

.d-page6{
    margin-top: 6rem;
}

.d-page6-text11 h1{
    width: 49.4375rem;
    height: 6.625rem;
    margin-left: 20.3125rem;
    font-size: 3rem;
    font-weight: 600;
    color: #111010;
    align-items: center;
}

.d-page6-span1{
    width: 8.25rem;
    height: 3.375rem;
    font-size: 3rem;
    color: rgb(14, 174, 14);
    background-color: rgba(80, 164, 51, 0.1);
    padding: .375rem .5625rem .375rem .5625rem;
    border-radius: .75rem;
}

.d-page6-span2{
    width: 5.875rem;
    height: 3.375rem;
    color: rgb(228, 65, 65);
    background-color: rgba(237, 73, 73, 0.1);
    padding: .375rem .5625rem .375rem .5625rem;
    border-radius: .75rem;
    font-size: 3rem;
}

.d-page6-span3 {
    margin-left: 4rem;
}

.d-page6-img{
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    margin-left: 4rem;
}

.d-page6-img1 img{
    width: 40.375rem;
    height: 28.5rem;
    margin-right: 1.25rem;
    border-radius: .8175rem;
}

.d-page6-img21{
    width: 40.375rem;
    height: 28.5rem;
    border-radius: .8175rem;
}

.d-page6-img22{
    display: none;
}

.d-page6-text2 {
    margin-top: 2rem;
    margin-left: 0rem;
    width: 32.5rem;
}

.d-page6-text2-p{
    width: 32.5rem;
    height: 4.125rem;
    opacity: .7;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
}

.d-page6-button{
    margin-top: 1.5rem;
    height: 3.125rem;
    width: 15.1875rem;
    border-radius: .75rem;
    cursor: pointer;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page6-elipse{
    height: .5rem;
    width: .5rem;
    margin-right: .5rem;
}

.d-page6-button p{
    font-size: .9rem;
    cursor: pointer;
    color: rgba(62, 131, 235, 1);
    font-weight: 500;
}

.d-page6-end{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 87rem;
    height: 20.375rem;
    border-radius: 2rem;
    margin-left: 1.5rem;
    background: url(img/Fr811403.png) no-repeat center center/cover;
}

.d-page6-end-text {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.d-page6-endimg2 {
    display: none;
}

.d-page6-endtext1 {
    display: flex;
    color: rgb(255, 255, 255);
    margin-left: 4rem;
    line-height: 3.3rem;
    opacity: .95;
    width: 34.8125rem;
    height: 6.625rem;
    font-size: 3rem;
    letter-spacing: -.04rem;
}

.d-page6-endtext2 {
    display: flex;
    flex-direction: column;
    margin-left: 5.5rem;
    margin-top: 1rem;
    width: 36rem;
    color:  rgba(23, 30, 36, 1);
    font-weight: 100;
    font-size: 0.8rem;
}

.d-page6-subtext {
    color: rgba(255, 255, 255, 1);
    width: 32.5rem;
    height: 2.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
    opacity: .7;
}

.d-page6-endbutton {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 9.25rem;
    height: 3.125rem;
    margin-top: 1.25rem;
    border-radius: .75rem;
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page6-endbutton p{
    color: rgba(23, 30, 36, 1);
    font-size: 1rem;
    font-weight: 450;
}

.d-page6-buttondot {
    margin-right: 0.8rem;
    border-radius: 50%;
}

.d-page6-buttondot img{
    height: .4rem;
    width: .4rem;
}

/* page 6 css end */   

/* page 7 css start */

.d-page-7{
    width: 99%;
    height: 159rem;
    background: rgba(255, 255, 255, 1);
}

.d-page7-start{
    margin-top: 3rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.d-page7-img1 img{
    height: 30rem;
    width: 39.5rem;
    margin-left: 1.5rem;
}

.d-page7-text1{
    width: 40.9375rem;
    height: 17.875rem;
    margin-left: 0rem;
    padding: 3rem 2rem 3rem 2rem;
}

.d-page7-text1h1 {
    width: 36.9375rem;
    height: 5.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin-bottom: .5rem;
}

.d-page7-text1p1 {
    width: 26.25rem;
    height: 2.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
    opacity: .7;
}

#d-button71{
    width: 11.5625rem;
    height: 3.125rem;
    border-radius: .75rem;
    margin-top: .5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    font-size: 1rem;
    font-weight: 450;
}

.d-page7-elipse1 {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}

.d-page7-middle1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 4rem;
    margin-top: 2rem;
}

.d-page7-img2 img{
    height: 30rem;
    width: 39.5rem;
}

.d-page7-text2{
    width: 40.9375rem;
    height: 19.875rem;
    margin-left: 1rem;
    padding: 3rem 2rem 3rem 2rem;
}

.d-page7-text2h1 {
    width: 36.9375rem;
    height: 5.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin-bottom: .5rem;
}

.d-page7-text2p1 {
    width: 26.25rem;
    height: 2.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
    padding-right: 1.5rem;
    opacity: .7;
}

.d-page7-button2 {
    width: 11.5625rem;
    height: 3.125rem;
    border-radius: .75rem;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    font-size: 1rem;
    font-weight: 450;
}

.d-page7-elipse2 {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}

.d-page7-middle2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-left: 4rem;
    margin-top: 2rem;
}

.d-page7-img3 img{
    height: 30rem;
    width: 39.5rem;
    margin-left: 1.5rem;
}

.d-page7-text3{
    width: 40.9375rem;
    height: 19.875rem;
    margin-left: 0rem;
    padding: 3rem 2rem 3rem 2rem;
}

.d-page7-text3h1 {
    width: 36.9375rem;
    height: 5.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin-bottom: .5rem;
}

.d-page7-text3p1 {
    width: 26.25rem;
    height: 4.125rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
    opacity: .7;
}

.d-page7-button3 {
    width: 11.5625rem;
    height: 3.125rem;
    border-radius: .75rem;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    font-size: 1rem;
    font-weight: 450;
}

.d-page7-elipse3 {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}

.d-page7-end {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 4rem;
    margin-top: 2rem;
}

.d-page7-img4 img{
    height: 30rem;
    width: 39.5rem;
}

.d-page7-text4 {
    width: 40.9375rem;
    height: 19.875rem;
    margin-left: 1rem;
    padding: 3rem 2rem 3rem 2rem;
}

.d-page7-text4h1 {
    width: 36.9375rem;
    height: 5.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin-bottom: .5rem;
}

.d-page7-text4p1 {
    width: 26.25rem;
    height: 4.125rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
    padding-right: 1.5rem;
    opacity: .7;
}

.d-page7-button4 {
    width: 11.5625rem;
    height: 3.125rem;
    border-radius: .75rem;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    font-size: 1rem;
    font-weight: 450;
}

.d-page7-elipse4 {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}

.d-page7-container {
    display: flex;
    height: 22.25rem;
    width: 87rem;
    background: rgba(228, 238, 250, 1);
    margin-left: 1.5rem;
    margin-top: 9.25rem;
    border-radius: 2rem;
}

.d-page7-box{
    display: flex;
    flex-direction: row;
}

.d-page7-boximg{
    display: flex;
    margin-left: 4.5rem;
    height: 25.3125rem;
    width: 29.0625rem;
    margin-top: -5.5rem;
}

.d-page7-text {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 3rem;
    height: 14rem;
}

.d-page7-text-h11 {
    margin-top: 7rem;
    color: rgb(10, 7, 7);
    font-size: 2.8rem;
    width: 29rem;
    margin-left: 0rem;
    margin-top: 0rem;
    letter-spacing: 0rem;
}

.d-subsstext-end1 {
    width: 26.25rem;
    height: 2.75rem;
    font-size: 1rem;
    font-weight: 300;
    color: grey;
    margin-left: 0rem;
    margin-top: .5rem;
    padding-right: 1.5rem;
}

.d-page7-button5 {
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 2.5rem;
    width: 12rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    margin-left: 0rem;
    margin-top: .8rem;
    font-size: 1rem;
}

.d-page7-elipse5 {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}
/* page 7 css end */  
   

/* page 8 css start */
.d-page-8{
    width: 99%;
    height: 40rem;
    background: rgba(255, 255, 255, 1);
    padding-left: 4rem;
}

.d-page81{
    margin-top: 5rem;
}

.d-page8-textup {
    display: flex;
    flex-direction: row;
}

.d-page8-textup1{
    width: 47.3125rem;
    height: 6.625rem;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.3rem;
    letter-spacing: 0rem;
}

.d-page8-textup2{
    width: 33.25rem;
    height: 6.625rem;
    margin-left: 2rem;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.3rem;
    padding-right: 1rem;
    letter-spacing: 0rem;
}

.d-page8-middle{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.d-page8-middleimg img{
    width: 47.3125rem;
    height: 31.375rem;
    border-radius: 1rem;
}

.d-page8-middletext h1{
    width: 18rem;
    height: 5.5rem;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-bottom: .5rem;
}

.d-page8-middletextp1 {
    width: 25rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 2.5rem;
    font-weight: 300;
    opacity: .7;
}

.d-page8-button1 {
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 3.125rem;
    width: 13.375rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    margin-left: 2rem;
    margin-top: .8rem;
    font-size: 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page8-elipse {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}

/* page 8 css end */  

/* page 9 css start */

.d-page-9{
    height: 65.5rem;
    padding-top: 10rem;
    width: 99%;
}

.d-page9-img{
    width: 87rem;
    height: 55.4375rem;
    margin-left: 1.5rem;
    background: url(img/Fra811415.png) no-repeat center center/cover;
    border-radius: 2rem;
}

.d-page9-text{
    display: flex; 
}

.d-page9-h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-top: 3rem;
    margin-left: 29.625rem;
    width: 18rem;
    height: 6.625rem;
}

.d-page9-img img{
    margin-top: 1.5rem;
    margin-left: 1rem;
    height: 43.35rem;
    width: 85rem;
}

/* page 9 css end */

/* page 10 css start */

.d-page-10{
    width: 100%;
    height: 75rem;
    padding-top: 5rem;
    padding-left: 4rem;
    /* border: .4rem solid #111010; */
}

.d-page10-text{
    display: flex;
    margin-left: 37.8125rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3.875rem;
    width: 14.3125rem;
    border-radius: .75rem;
    background: rgba(239, 242, 244, 1);
    padding: .25rem;
}

.d-page10-month{
    height: 3.375rem;
    width: 7.1875rem;
    border-radius: .5rem;
    background: rgba(255, 255, 255, .5);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page10-year {
    width: 6.125rem;
    height: 3.375rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page10-mid{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 2rem;
}

.d-page10-con1{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 47.5625rem;
    background: rgba(239, 242, 244, 1);
    margin-right: 1.25rem;
    border-radius: 1.5rem;
}

.d-page10-con2{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 47.5625rem;
    background: rgba(239, 242, 244, 1);
    margin-right: 1.25rem;
    border-radius: 1.5rem;
}

.d-page10-con3{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 47.5625rem;
    background: rgba(239, 242, 244, 1);
    border-radius: 1.5rem;
}

.d-page10-con1up{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 3rem;
    padding: 1rem 6.25rem 1rem 6.25rem;
    background: rgb(245, 246, 247, .9);
    align-items: center;
}

.d-page10-con1up p{
    font-size: 1rem;
    font-weight: 300;
}

.d-page10-con2up{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 3rem;
    padding: 1rem 6.25rem 1rem 6.25rem;
    background: rgb(245, 246, 247, .9);
    align-items: center;
}

.d-page10-con2up p{
    font-size: 1rem;
    font-weight: 300;
}

.d-page10-con3up{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 3rem;
    padding: 1rem 6.25rem 1rem 6.25rem;
    background: rgb(245, 246, 247, .9);
    align-items: center;
}

.d-page10-con3up p{
    font-size: 1rem;
    font-weight: 300;
}

.d-page10-con1mid1{
    display: flex;
    flex-direction: column;
    height: 4.125rem;
    width: 9.3125rem;
    background: rgb(248, 248, 248, 1);
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
    border-radius: .75rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.d-page10-con2mid1{
    display: flex;
    flex-direction: column;
    height: 4.125rem;
    width: 9.3125rem;
    background: rgb(248, 248, 248, 1);
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
    border-radius: .75rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.d-page10-con3mid1{
    display: flex;
    flex-direction: column;
    height: 4.125rem;
    width: 9.3125rem;
    background: rgb(248, 248, 248, 1);
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
    border-radius: .75rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.d-page10-con1mid2 h1{
    width: 24.75rem;
    height: 6.625rem;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.d-page10-con2mid2 h1{
    width: 24.75rem;
    height: 6.625rem;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.d-page10-con3mid2 h1{
    width: 24.75rem;
    height: 6.625rem;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.d-page10-con1mid2 p{
    width: 26.25rem;
    height: 2.75rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
    opacity: .7;
}

.d-page10-con2mid2 p{
    width: 26.25rem;
    height: 2.75rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
    opacity: .7;
}

.d-page10-con3mid2 p{
    width: 26.25rem;
    height: 2.75rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
    opacity: .7;
}

.d-page10-con1mid2 button{
    display: flex;
    flex-direction: column;
    height: 3.125rem;
    width: 13.5rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(41, 126, 223);
    border-radius: .75rem;
    background: rgba(62, 131, 235, 0.1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page10-con2mid2 button{
    display: flex;
    flex-direction: column;
    height: 3.125rem;
    width: 13.5rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(41, 126, 223);
    border-radius: .75rem;
    background: rgba(62, 131, 235, 0.1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page10-con3mid2 button{
    display: flex;
    flex-direction: column;
    height: 3.125rem;
    width: 13.5rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(41, 126, 223);
    border-radius: .75rem;
    background: rgba(62, 131, 235, 0.1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page10-con1mid2 img{
    width: 20.0625rem;
    height: 11.4375rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}

.d-page10-con2mid2 img{
    width: 18.125rem;
    height: 11.4375rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}

.d-page10-con3mid2 img{
    width: 18.125rem;
    height: 11.4375rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}

.d-page10-con4{
    position: relative;
    display: flex;
    width: 62.25rem;
    margin-top: -5rem;
    height: 9.75rem;
    background: url(img/Fra811424.png) no-repeat center center/cover;
    margin-left: 35.75rem;
    border-radius: 1rem;
    z-index: 10;
}

.d-page10-con4text{
    margin-top: 2.125rem;
    margin-left: 2rem;
}

.d-page10-con4text h1{
    width: 8.125rem;
    height: 2.1875rem;
    font-size: 2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -.037rem;
}

.d-page10-con4text p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    width: 21.4375rem;
    height: 2.75rem;
    margin-top: .5rem;
    opacity: .7;
}

.d-page10-con4button1{
    height: 3.625rem;
    width: 9.9375rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(248, 248, 248);
    margin-bottom: 1rem;
    border-radius: .5rem;
    background: rgba(92, 149, 234, 0.1);
    padding-top: .2rem;
    padding-left: .6rem;
    margin-left: 26rem;
    margin-top: 2.8rem;
}

.d-page10-con4button1 p{
    font-size: 1rem;
}

#d-page10-end2{
    display: none;
}

/* page 10 css end */

/* page 11 css start */

.d-page-11{
    width: 100%;
    height: 76rem;
    /* border: .4rem solid #111010; */
}

.d-page11-start{
    display: flex;
    flex-direction: row;
}

.d-page11-con1{
    width: 28.5rem;
    height: 9.75rem;
    background: url(img/F13213.png) no-repeat center center/cover;
    margin-top: 15rem;
    margin-left: 12rem;
    border-radius: 1rem;
    color: rgba(255, 255, 255, 0.916);
}

.d-page11-elipse{
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.4rem;
}

.d-page11-con1 h1{
    margin-left: 2rem;
    margin-top: 1rem;
}

.d-page11-con1button{
    height: 2.5rem;
    width: 12rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background: white;
    padding-top: .1rem;
    padding-left: .2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.d-page11-con2{
    display: flex;
    height: 17.5rem;
    width: 60rem;
    background: rgb(242, 242, 242);
    margin-left: -10rem;
    border-radius: 1rem;
}

.d-page11con2-text1{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.d-page11con2-img img{
    height: 16.5rem;
    width: 16.5rem;
    margin-left: .5rem;
    margin-top: .5rem;
    border-radius: 1rem;
}

.d-page11-mid{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
}

.d-page11-right{
    display: flex;
    flex-direction: row;
}

.d-page11-right img{
    height: 28rem;
    margin-left: 18rem;
}

.d-page11-textbox1{
    margin-top: 3rem;
    width: 32.5rem;
    height: 15rem;
}

.d-page11-textbox1 h1{
    font-size: 4rem;
    width: 32.5rem;
    height: 8.75rem;
    line-height: 4.4rem;
}

.d-page11-textbox1 p{
    margin-top: 1rem;
    font-size: 1rem;
    width: 26.25rem;
    height: 4.125rem;
    opacity: .7;
    padding-right: 2.5rem;
}

.d-page11-textbox2{
    margin-top: 1rem;
    margin-left: -33.5rem;
}

.d-page11-textbox2 p{
    font-weight: 600;
    margin-top: .5rem;
    margin-bottom: 3rem;
}

.d-page11-textboxp4 {
    margin-top: 0;
    margin-bottom: 4rem;
    font-weight: 400 !important;
    font-size: .9rem;
    width: 25rem;
}

.d-page11-end{
    margin-top: 2rem;
    width: 117rem;
    height: 19.5rem;
    margin-left: 1.5rem;
    background: url(img/Fr1416.png) no-repeat center center/cover;
    border-radius: 2rem;
}

.d-page11-end-text {
    display: flex;
    flex-direction: row;
}

.d-page11-text-end {
    display: flex;
    flex-direction: column;
}

.d-page11-text{
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: .9rem;
}

.d-page11-butt{
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 2.5rem;
    width: 12rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    margin-left: 1rem;
    margin-top: .6rem;
    font-size: 1rem;
}

.d-page11-ending{
    padding-top: 3.2rem;
    padding-left: 4.8rem;
    font-size: 2.8rem;
    color:white ;
    width: 41rem;
}

.d-subtext-page11{
    width: 33rem;
    color: white;
    margin-top: 4rem;
    margin-left: 20rem;
    font-weight: 300;
    font-size: 1rem;
    opacity: .7;
}

.d-button-page11{
    margin-top: 1.5rem;
    margin-left: 20rem;
    border-radius: .9rem;
    height: 3rem;
    width: 13rem;
    font-size: 1rem;
}

.d-button-page11 .dot {
    height: .4rem;
    width: .4rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}
/* page 11 css end */

/* page 12 css start */
.d-page-12{
    height: 26.5rem;
    width: 100.8vw;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
    background: linear-gradient(180deg, #E6ECEF 36.44%, rgba(221, 228, 232, 0) 100%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page121{
    display: flex;
    flex-direction: row;
}

.d-page12-left{
    margin-left: 10rem;
    margin-top: 4rem;
}

.d-page12-inputbox {
    width: 30rem;
    margin-top: .9rem;
    height: 3rem;
    border-radius: .6rem;
    padding-left: 1rem;
}

.d-page12-inputbox-p {
    opacity: .7;
    font-size: .8rem;
    width: 19rem;
}

.d-page12-button0 {
    display: flex;
    position: relative;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 2.5rem;
    width: 14rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 21rem;
    margin-top: -2.8rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
    padding-left: .5rem;
    z-index: 10;
}
.d-page12-button0 span {
    margin-left: 10px; 
}

.d-page12-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.d-page12-button1 img{
    height: 2rem;
    width: 4rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-button2 img{
    height: 2rem;
    width: 4rem;
    margin-left: -1rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-button3 img{
    height: 2rem;
    width: 4rem;
    margin-left: -1rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-button4 img{
    height: 2rem;
    width: 4rem;
    margin-left: -1rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-button5 img{
    height: 2rem;
    width: 4rem;
    margin-left: -1rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-button6 img{
    height: 2rem;
    width: 4rem;
    margin-left: -1rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-right{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-top: 3rem;
}

.d-page12-right1 {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-left: 8rem;
}

.d-page12-right1 p{
    opacity: .5;
}

.d-page12-right2{
    display: flex;
    flex-direction: column;
}

.d-page12-right2 p{
    opacity: .5;
}

.d-page12-right1{
    gap: 1.5rem;
}

.d-page12-right2{
    gap: 2rem;
}

.d-page-12end{
    margin-top: 8.7rem;
    margin-left: 42%;
    opacity: .6;
}

.d-img2{
    height:1.3rem;
    width: 1.3rem;
}

.d-end{
    color: rgb(164, 161, 161);
}
/* page 12 css end */



}