/* Default */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'TWK Lausanne';
}

:root {
    --bg-color: #eceff0;
    --second--bg-color: #dde6ec;
    --text-color: #111010;
    --main-color: #111212;
}

html {
    font-size: 100%;
}

@media (min-width: 1450px) and (max-width: 1459px) {
    html {
        font-size: 75.1%;
    }
 }
 
 @media (min-width: 1460px) and (max-width: 1469px) {
    html {
        font-size: 75.6%;
    }
 }
 
 @media (min-width: 1470px) and (max-width: 1479px) {
    html {
        font-size: 76.1%;
    }
 }
 
 @media (min-width: 1480px) and (max-width: 1489px) {
    html {
        font-size: 76.6%;
    }
 }
 
 @media (min-width: 1490px) and (max-width: 1499px) {
    html {
        font-size: 77.1%;
    }
 }
 
 @media (min-width: 1500px) and (max-width: 1509px) {
    html {
        font-size: 77.6%;
    }
 }
 
 @media (min-width: 1510px) and (max-width: 1519px) {
    html {
        font-size: 78.1%;
    }
 }
 
 @media (min-width: 1520px) and (max-width: 1529px) {
    html {
        font-size: 78.6%;
    }
 }
 
 @media (min-width: 1530px) and (max-width: 1539px) {
    html {
        font-size: 79.1%;
    }
 }
 
 @media (min-width: 1540px) and (max-width: 1549px) {
    html {
        font-size: 79.6%;
    }
 }
 
 @media (min-width: 1550px) and (max-width: 1559px) {
    html {
        font-size: 80.1%;
    }
 }
 
 @media (min-width: 1560px) and (max-width: 1569px) {
    html {
        font-size: 80.6%;
    }
 }
 
 @media (min-width: 1570px) and (max-width: 1579px) {
    html {
        font-size: 81.1%;
    }
 }
 
 @media (min-width: 1580px) and (max-width: 1589px) {
    html {
        font-size: 81.6%;
    }
 }
 
 @media (min-width: 1590px) and (max-width: 1599px) {
    html {
        font-size: 82.1%;
    }
 }
 
 @media (min-width: 1600px) and (max-width: 1609px) {
    html {
        font-size: 82.6%;
    }
 }
 
 @media (min-width: 1610px) and (max-width: 1619px) {
    html {
        font-size: 83.1%;
    }
 }
 
 @media (min-width: 1620px) and (max-width: 1629px) {
    html {
        font-size: 83.65%;
    }
 }
 
 @media (min-width: 1630px) and (max-width: 1639px) {
    html {
        font-size: 84.25%;
    }
 }
 
 @media (min-width: 1640px) and (max-width: 1649px) {
    html {
        font-size: 84.8%;
    }
 }
 
 @media (min-width: 1650px) and (max-width: 1659px) {
    html {
        font-size: 85.4%;
    }
 }
 
 @media (min-width: 1660px) and (max-width: 1669px) {
    html {
        font-size: 85.95%;
    }
 }
 
 @media (min-width: 1670px) and (max-width: 1679px) {
    html {
        font-size: 86.55%;
    }
 }
 
 @media (min-width: 1680px) and (max-width: 1689px) {
    html {
        font-size: 87%;
    }
 }
 
 @media (min-width: 1690px) and (max-width: 1699px) {
    html {
        font-size: 87.5%;
    }
 }
 
 @media (min-width: 1700px) and (max-width: 1709px) {
    html {
        font-size: 88%;
    }
 }
 
 @media (min-width: 1710px) and (max-width: 1719px) {
    html {
        font-size: 88.5%;
    }
 }
 
 @media (min-width: 1720px) and (max-width: 1729px) {
    html {
        font-size: 89%;
    }
 }
 
 @media (min-width: 1730px) and (max-width: 1739px) {
    html {
        font-size: 89.5%;
    }
 }
 
 @media (min-width: 1740px) and (max-width: 1749px) {
    html {
        font-size: 90.1%;
    }
 }
 
 @media (min-width: 1750px) and (max-width: 1759px) {
    html {
        font-size: 90.6%;
    }
 }
 
 @media (min-width: 1760px) and (max-width: 1769px) {
    html {
        font-size: 91.2%;
    }
 }
 
 @media (min-width: 1770px) and (max-width: 1779px) {
    html {
        font-size: 91.7%;
    }
 }
 
 @media (min-width: 1780px) and (max-width: 1789px) {
    html {
        font-size: 92.2%;
    }
 }
 
 @media (min-width: 1790px) and (max-width: 1799px) {
    html {
        font-size: 92.8%;
    }
 }
 
 @media (min-width: 1800px) and (max-width: 1809px) {
    html {
        font-size: 93.5%;
    }
 }
 
 @media (min-width: 1810px) and (max-width: 1819px) {
    html {
        font-size: 94%;
    }
 }
 
 @media (min-width: 1820px) and (max-width: 1829px) {
    html {
        font-size: 94.5%;
    }
 }
 
 @media (min-width: 1830px) and (max-width: 1839px) {
    html {
        font-size: 95%;
    }
 }
 
 @media (min-width: 1840px) and (max-width: 1849px) {
    html {
        font-size: 95.5%;
    }
 }
 
 @media (min-width: 1850px) and (max-width: 1859px) {
    html {
        font-size: 96%;
    }
 }
 
 @media (min-width: 1860px) and (max-width: 1869px) {
    html {
        font-size: 96.65%;
    }
 }
 
 @media (min-width: 1870px) and (max-width: 1879px) {
    html {
        font-size: 97.2%;
    }
 }
 
 @media (min-width: 1880px) and (max-width: 1889px) {
    html {
        font-size: 97.8%;
    }
 }
 
 @media (min-width: 1890px) and (max-width: 1899px) {
    html {
        font-size: 98.3%;
    }
 }
 
 @media (min-width: 1900px) and (max-width: 1909px) {
    html {
        font-size: 99%;
    }
 }
 
 @media (min-width: 1910px) and (max-width: 1918px) {
    html {
        font-size: 99.5%;
    }
 }

body {
    width: 120rem;
    overflow-x: hidden;
}

.mobile-html {
    display: none;
}

.d-prenav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.92);   
    height: 1.7rem; 
    padding-top: 1.7rem;
    padding-bottom: 1.8rem;
    width: 120rem;
}

.d-prenavimg {
    border-radius: 0.2rem;
    width: 1.4rem; 
    height: 1.4rem; 
    margin-top: -.1rem;
}

.d-prenav1 {
    margin-left: 0.5rem; 
    color: rgba(62, 131, 235, 1);
    font-size: 1.1rem; 
}

.d-prenav2 a {
    margin-left: .5rem; 
    font-size: 1rem; 
    color: black !important;
}

.d-prenav2-img1 {
    width: .75rem;
    height: .75rem;
    margin-top: .1rem;
}

.d-prenav2 span {
    font-weight: 600;
}

/* /Default */

.d-page1-background{
    background: url(img/Rec9151.png) no-repeat center center/cover;
    width: 120rem;
    height: 94.875rem;
}

.d-header {
    /* border: 0.4rem solid pink; */
    padding-top: 1.5rem;
    display: flex;
    width: 114.125rem;
    margin-left: 2.875rem;
    height: 3.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-left-nav,
.d-mid-nav,
.d-right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-left-nav {
    height: 2.5rem;
    width: 10.1875rem;
    border-radius: .75rem;
}

.d-left-nav img{
    width: 1.5rem;
    height: 1.6875rem;
    margin-left: .8rem;
    margin-bottom: .6rem;
}

.d-left-nav a{
    width: 7.1875rem;
    height: 1.375rem;
    font-size: 1.25rem;
}

.d-mid-nav {
    height: 2.625rem;
    width: 30.875 rem;
    gap: 2.5rem;
    margin-left: 9rem;
}

.d-mid-nav a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 250;
    margin-left: -.7rem;
    gap: 2.5rem;
}

.d-mid-nav a:hover,
.d-mid-nav a.active {
    color: var(--main-color);
}

.d-home1{
    width: 6.0625rem;
    height: 2.625rem;
    background: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 250;
    border-radius: .6rem;
    padding: .75rem 1.25rem .75rem 1rem;
}

.d-home1 img{
    height: .375rem;
    width: .375rem;
    border-radius: .125rem;
    margin-bottom: .15rem;
    margin-right: .5rem;
}

.d-right-nav a {
    color: rgba(62, 131, 235, 1);
    font-weight: 500;
    transition: 0.3s;
    padding-right: 1rem;
}

.d-right-nav a:hover,
.d-right-nav a.active {
    color: var(--main-color);
}

.d-getstart{
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 3.125rem;
    width: 13.5rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background: rgba(62, 131, 235, 0.1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-getstartimg{
    width: .6rem;
    margin-right: 1rem;
}

.d-menu-icon {
    display: none;
}

/* /header */

.d-pages {
    /* border: 0.4rem solid purple; */
    display: flex;
    flex-direction: column;
}

.d-page {
    /* border: 0.4rem solid red; */
    margin: 0;
    padding: 0;
}
/* /pageDefault */

/* page-1 CSS start*/

.d-page-1 {
    width: 120rem;
    display: flex;
    flex-direction: column;
}

.d-box11 {
    display: flex;
    flex-direction: row;
    /* border: 0.4rem solid blue; */
    margin-top: 13rem;
    margin-bottom: 7rem;
    margin-left: 9.76rem;
    width: 35.5rem;
    height: 25.375rem;
}

.d-box11-content{
    display: flex;
    flex-direction: column;
    height: 25.4rem;
    width: 35.5rem;
    padding: 0;
    margin-left: 3rem;
    /* margin-right: 7rem; */
    /* border: 0.4rem solid blue; */
}

.d-box11-content h1 {
    width: 35.5rem; 
    /* margin-left: 14.5%; */
    /* margin-top: 5rem; */
    font-size: 5rem;
    font-weight: 600;
    line-height: 5.5rem;
    margin-bottom: 1rem;
    letter-spacing: -.02rem;
    /* border: 0.4rem solid orange; */
}

.d-box11-content h1 {
    color: var(--main-color);
}

.d-box11-input-club {
    display: flex;
    flex-direction: row;
    width: 35rem;
    height: 3.625rem;
    /* margin-left: 6rem; */
    /* border: 0.4rem solid black; */
}

.d-inputBox {
    width: 35rem;
    height: 3.625rem;
    padding: .6rem;
    font-size: 1rem; 
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    border-radius: .9rem;
    padding-left: 1.2rem;
    margin-bottom: .6rem;
}

.d-box11-btn {
    margin-left: -11.4rem;
    margin-top: .39rem;
    width: 11rem;
    height: 2.8rem; 
    background: rgb(74, 133, 209);
    border: 0.2rem solid rgb(74, 133, 209);
    border-radius: 0.6rem;
    font-size: .9rem; 
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.d-box11-btn span{
    margin-left: .4rem;
}

.d-box-11-content {
    margin-top: .7rem;
    margin-left: .1rem;
}

.d-box-11-content p{
    text-align: start;
    /* margin-left: 6.2rem; */
    margin-top: .1rem;
    font-weight: 300;
    opacity: 0.8;
}

.d-page1-img-right {
    height: 40.5625rem;
    width: 57rem;
    margin-left: 9.5rem;
    margin-top: -6rem;
}

.d-img111 {
    /* border: #111010 2px solid; */
    /* margin-top: -1.8rem; */
    /* height: 100%; */
    height: 40.5625rem;
    width: 57rem;
    /* margin-left: 4.2rem; */
}

.d-img121{
    display: none;
}

.d-layout1 {
    width: 117rem;
    color: white;
    height: 16.8125rem; 
    border-radius: 2rem;
    background: url(img/Fr5411.png) no-repeat center center/cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 13rem;
    margin-bottom: 13rem;
    margin-left: 1.5rem;
}

.d-page1-end-text{
    display: flex;
    flex-direction: row;
    width: 100rem;
    height: 6.8125rem;
}

.d-text-block {
    margin: 1rem;
}

.d-page1-end-h11 {
    font-weight: 650;
    font-size: 3rem;
    margin-left: 9rem;
}

.d-page1-end-h41 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 9rem;
    opacity: .7;
}
.d-page1-end-h12 {
    font-weight: 600;
    font-size: 3rem;
    margin-left: 12rem;
}
.d-page1-end-h42 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 12rem;
    opacity: .7;
}
.d-page1-end-h13 {
    font-weight: 600;
    font-size: 3rem;
    margin-left: 15rem;
}
.d-page1-end-h43 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 15rem;
    opacity: .7;
}

/* page 1 css end */

/* page-2 CSS start*/
.d-page-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #ffffff;
    height: 65rem;
    padding: 0 10rem;
}

.d-page2-header{
    background: #ffffff;
}

.d-page2-header h1{
    width: 45rem;
    height: 8.75rem;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 4rem; 
}

.d-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85%;
}

.d-images-container-image {
    width: 32.5rem;
    height: 70%;
}

.d-image1 {

}

.d-imgg {
    height: 25.5625rem;
    width: 32.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.d-image2 {
    align-self: flex-end;
}

.d-image3 {
    align-self: flex-start;
}

.d-images-container-image .d-content{
    height: 33%;
    width: 67%;
    font-family: TWK Lausanne;
    text-align: left;
    display: flex;
    flex-direction: column;
    }

.d-images-container-image .d-content .d-contenth{
    font-size: 250%;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.04em;

}
.d-images-container-image .d-content .d-contentp{
    font-size: 16px;
    font-weight: 300;
    line-height: 21.6px;
}

.d-content {
    padding: 1.5625rem 1rem 1.5625rem 1rem;
}

/* /page-2  CSS end*/

/* page-3 CSS start*/

.d-page-3 {
    display: flex;
    flex-direction: row;
    background: url(img/Fra5413.png) no-repeat center center/cover;
    width: 117rem;
    height: 60rem;
    margin-left: 1.5rem;
    color: rgba(255, 255, 255, 1);
    border-radius: 2rem;
    padding-top: 1.3rem;
}

.d-background-image {
    border-radius: .2rem; 
    height: 55.8rem;
    width: 68.6875rem;
    margin-top: 2.5rem;
    margin-left: 3rem;
}

.d-background-image1{
    display: none;
}

.d-container3{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35rem;
    margin-top: 16.7rem;
    margin-left: -9rem;
}

.d-container3 h1 {
    width: 45rem;
    height: 13.125rem;
    font-size: 4rem;
    margin-bottom: .5rem;
    color: rgba(255, 255, 255, 1);
    opacity: .95;
}

.d-container3p31 {
    width: 32.5rem;
    height: 2.75rem;
    margin-bottom: .8rem;
    margin-top: .3rem;
    color: rgba(255, 255, 255, 1);
    opacity: .7;
    font-size: 1rem;
}

.d-container3p32 {
    display: none;
}

.d-page3-button {
    width: 10.9375rem;
    height: 3.125rem;
    border-radius: .75rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background: rgba(255, 255, 255, 1);
}

.d-page3-button p{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(23, 30, 36, 1);
    opacity: 1;
    cursor: pointer;
}

.d-page3-buttonspan {
    position: relative;
    top: -.1rem;
}

.d-page3-buttonspan img{
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
    margin-right: .7rem;
}

/* /page-3 CSS end*/

/* page-4 CSS start*/


.d-page-4{
    height: 45rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #EFF2F4, #EFF2F4);
}

.d-p4up{
    width: 80.5%;
    height: 45%;
    margin-top: 12.5rem;
    /* border: 4px solid yellow; */
}

.d-p4up-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.d-p4up-left{
    font-family:  TWK Lausanne;
    width: 31.9375rem;
    height: 8.75rem;
    margin-left: 10rem;
    /* border: 4px solid yellow; */
    font-weight: 600;
    font-family: TWK Lausanne;
    font-size: 4rem;
    letter-spacing: 0;
    text-align: left;

}

.d-p4up-left-star {
    position: relative;
    top: .5rem;
    margin-left: -.4rem;
    width: 3.3125rem;
    height: 3.875rem;
}

.d-p4up-right{
    width: 38%;
    height: 100%;
    margin-left: 18rem;
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10%;
    padding: 1%;
}

.d-p4up-right p{
    font-weight: 300;
    width: 25rem;
    margin-top: .3rem;
    font-size: .78rem;
}

.d-page4-button {
    display: flex;
    flex-direction: row;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 2.5rem;
    width: 10rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 0.1);
    padding-top: .5rem;
}

.d-page4-buttonimg {
    margin-left: 1.4rem;
    height: .4rem;
    width: .6rem;
    margin-top: .5rem;
}

.d-page4-button p{
    color: rgba(62, 131, 235, 1);
    font-size: .8rem;
    font-weight: 500;
    cursor: pointer;
}

.d-p4down{
    width: 100%;
    height: 48%;
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1%;  
    margin-top: -3rem;
}

.d-quotes{
    padding: 2%;
    border-radius: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1%;
    background: #3E83EB1A;    
}

.d-page4-reviewp1 {
    font-size: 1.2rem;
}

.d-page4-reviewp2 {
    font-size: 1.2rem;
}

.d-page4-reviewp3 {
    font-size: 1.2rem;
}

.d-quotes p{
    /* border: 4px solid green; */
    width: 86%;
    height: 6rem
}

.d-quotes .d-discord{
    /* border: 4px solid green; */
    width: 25%;
    font-size: .6rem;
    margin-bottom: 2rem;
    color: rgba(62, 131, 235, 1);
}

.d-quotes .d-Mchein{
    /* border: 4px solid green; */
    width: 50%;
    font-size: .6rem;
}

.d-Mchein span {
    opacity: .5;
}

.d-quote-left{
    height: 14rem;
    width: 87rem;
    margin-left: -4rem;
}

.d-quote-right{
    height: 14rem;
    width: 87rem;
    margin-top: .1rem;
}

.d-quote-mid{
    height: 14rem;
    width: 87rem;
    margin-top: .5rem;
}

.d-quote1{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

#d-quote2{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

#d-quote3{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

/* /page-4 CSS end */

/* page 5 css start */

.d-page-55 {
    width: 117rem;
    margin-left: 1.5rem;
    height: 80.5rem;
    background-color: rgba(255, 255, 255, 1);
    background: url(img/Fra542.png) no-repeat center center/cover;
    border-radius: 2rem;
}

.d-page55 {
    display: flex;
    flex-direction: row;
}

.d-page5-start{
    display: flex;
    flex-direction: column;
}

.d-page5-h1{
    width: 32.5rem;
    height: 8.75rem;
    margin-top: 7.5rem;
    margin-left: 16.9375rem;
    color: rgba(255, 255, 255, 1);
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.4rem;
    letter-spacing: -.02rem;
}

.d-page55-imgg{
    margin-top: 2.8125rem;
    margin-left: 16.9375rem;
}

.d-page5-img{
    height: 53.9375rem;
    width: 40.9375rem;
}

.d-page5-button{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 23.57rem;
}

.d-page5-box1{
    background-color: rgb(26 44 64);
    height: 3.125rem;
    width: 14rem;
   border-radius: .75rem;
   padding: .875rem, 1rem, .875rem, 1rem;
   margin-top: 9.8125rem;
   color: white;
   font-size: 1rem;
}

.d-page5-box2{
    background-color: rgb(255, 255, 255);
    height: 3.125rem;
    width: 14rem;
   border-radius: .75rem;
   padding: .875rem, 1rem, .875rem, 1rem;
   margin-top: 9.8125rem;
   color: rgb(37, 23, 58);
   text-align:center;
   font-size: 1rem;
}

/* page 5 css end */

/* page 6 css start */
.d-page-6{
    width: 100%;
    height: 85rem;
    background: rgba(255, 255, 255, 1);
}

.d-page6{
    margin-top: 12.5rem;
}

.d-page6-text11 h1{
    width: 66.9375rem;
    height: 8.75rem;
    margin-left: 26.5625rem;
    font-size: 4rem;
    font-weight: 600;
    color: #111010;
    align-items: center;
}

.d-page6-span1{
    width: 12rem;
    height: 4.875rem;
    font-size: 4rem;
    color: rgb(14, 174, 14);
    background-color: rgba(80, 164, 51, 0.1);
    padding: .5rem .75rem .5rem .75rem;
    border-radius: 1.5rem;
}

.d-page6-span2{
    width: 8.4375rem;
    height: 4.875rem;
    color: rgb(228, 65, 65);
    background-color: rgba(237, 73, 73, 0.1);
    padding: .5rem .75rem .5rem .75rem;
    border-radius: .4rem;
    border-radius: 8px;
}

.d-page6-span3 {
    margin-left: 4rem;
}

.d-page6-img{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 10rem;
}

.d-page6-img1 img{
    width: 49.375rem;
    height: 35rem;
    margin-right: 1.25rem;
    border-radius: 1rem;
}

.d-page6-img21{
    width: 49.375rem;
    height: 35rem;
    border-radius: 1rem;
}

.d-page6-img22{
    display: none;
}

.d-page6-text2 {
    margin-top: 2rem;
    width: 32.5rem;
}

.d-page6-text2 p{
    width: 32.5rem;
    height: 4.125rem;
    opacity: .7;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
}

.d-page6-button{
    margin-top: 1.5rem;
    height: 3.125rem;
    width: 15.1875rem;
    border-radius: .75rem;
    cursor: pointer;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page6-elipse{
    height: .5rem;
    width: .5rem;
    margin-right: .5rem;
}

.d-page6-button p{
    font-size: .9rem;
    cursor: pointer;
    color: rgba(62, 131, 235, 1);
    font-weight: 500;
}

.d-page6-end{
    display: flex;
    flex-direction: column;
    width: 110rem;
}

.d-page6-endimg1{
    width: 105rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
    height: 22rem;
}

.d-page6-end-text {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-top: -18rem;
}

.d-page6-endimg2 {
    display: none;
}

.d-page6-text1 {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 3.3rem;
    margin-left: 7rem;
}

.d-page6-endtext1 {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    margin-left: 6rem;
    margin-top: -.5rem;
    letter-spacing: 0rem;
    opacity: .95;
    width: 35rem;
}

.d-page6-text2 {
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    width: 36rem;
    color:  rgba(23, 30, 36, 1);
    font-weight: 100;
    font-size: 0.8rem;
}

.d-page6-endtext2 {
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    width: 36rem;
    color:  rgba(23, 30, 36, 1);
    font-weight: 100;
    font-size: 0.8rem;
    opacity: .8;
}

.d-page6-subtext {
    color: rgba(255, 255, 255, 1);
    font-size: .8rem;
    margin-left: 10rem;
    font-weight: 200;
    /* font-weight: 600; */
}

.d-page6-endbutton {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 8.2rem;
    height: 2.5rem;
    margin-top: 2rem;
    border-radius: .8rem;
    margin-left: 10rem;
    opacity: 1;
    background: rgba(255, 255, 255, 1);
}

.d-page6-endbutton p{
    color: rgba(23, 30, 36, 1);
}

.d-page6-buttondot {
    margin-right: 0.8rem;
    border-radius: 50%;
}

.d-page6-buttondot img{
    height: .4rem;
    width: .4rem;
    margin-left: -.2rem;
    margin-top: -1.3rem;
}

/* page 6 css end */  

.d-page-7 {
    display: none;
}   

.d-page-8 {
    display: none;
}   

.d-page-9 {
    display: none;
}   

.d-page-10 {
    display: none;
}   

.d-page-11 {
    display: none;
}   

.d-page-12 {
    display: none;
}