/* Default */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'PP Radio Grotesk';
}

:root {
    --bg-color: #eceff0;
    --second--bg-color: #dde6ec;
    --text-color: #111010;
    --main-color: #111212;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    /* border: 0.4rem solid pink; */
    width: 100%;
}

.mobile-html {
    display: none;
}

/* Navbar */
.desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.125rem;
    padding-top: 1.5rem;
}

.desktop-left-nav {
    margin-left: 7rem;
    margin-top: .5rem;
}

.desktop-left-nav-logo-img {
    height: 1.25rem;
    width: 3.125rem;
}

.desktop-left-nav-logo-text {
    margin-top: .125rem;
    font-family: PP Radio Grotesk;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4375rem;
    color: rgba(15, 16, 27, 0.4);
}

.desktop-mid-nav {
    width: 35.75rem;
    height: 2.625rem;
    padding: .25rem;
    border-radius: 2.5rem;
    background: rgba(241, 241, 241, 1);
    display: flex;
}

.desktop-mid-nav-home {
    width: 5.4375rem;
    height: 2.125rem;
    padding: .5rem 1rem .5rem 1rem;
    gap: .625rem;
    border-radius: 2.5rem;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
}

.desktop-mid-nav-home-p{
    width: 41px;
    height: 18px;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    /* text-align: center; */
    color: rgba(15, 16, 27, 1);
}

.desktop-mid-nav-ip {
    width: 5.0625rem;
    height: 2.125rem;
    padding: .5rem 1rem .5rem 1rem;
    gap: .625rem;
}

.desktop-mid-nav-ip-p {
    width: 49px;
    height: 18px;
    opacity: 0.7px;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    /* text-align: center; */
    color: rgba(15, 16, 27, 1);
}

.desktop-mid-nav-work {
    width: 4.1875rem;
    height: 2.125rem;
    padding: .5rem 1rem .5rem 1rem;
    gap: .625rem;
}

.desktop-mid-nav-work-p {
    width: 35px;
    height: 18px;
    gap: 0px;
    opacity: 0.7px;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    /* text-align: center; */
    color: rgba(15, 16, 27, 1);


}

.desktop-mid-nav-service {
    width: 5.5rem;
    height: 2.125rem;
    padding: .5rem 1rem .5rem 1rem;
    gap: .625rem;
}

.desktop-mid-nav-service-p {
    width: 56px;
    height: 18px;
    gap: 0px;
    opacity: 0.7px;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    /* text-align: center; */
    color: rgba(15, 16, 27, 1);
}

.desktop-mid-nav-about {
    width: 5.9375rem;
    height: 2.125rem;
    padding: .5rem 1rem .5rem 1rem;
    gap: .625rem;
}

.desktop-mid-nav-about-p {
    width: 63px;
    height: 18px;
    gap: 0px;
    opacity: 0.7px;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    /* text-align: center; */
    color: rgba(15, 16, 27, 1);
}

.desktop-mid-nav-careers {
    width: 5.25rem;
    height: 2.125rem;
    padding: .5rem 1rem .5rem 1rem;
    gap: .625rem;
}

.desktop-mid-nav-careers-p {
    width: 52px;
    height: 18px;
    gap: 0px;
    opacity: 0.7px;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    /* text-align: center; */
    color: rgba(15, 16, 27, 1);
}

.desktop-mid-nav-blog{
    width: 3.875rem;
    height: 2.125rem;
    padding: .5rem 1rem .5rem 1rem;
    gap: .625rem;
}

.desktop-mid-nav-blog-p {
    width: 30px;
    height: 18px;
    gap: 0px;
    opacity: 0.7px;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    /* text-align: center; */
    color: rgba(15, 16, 27, 1);
}   

.desktop-right-nav {
    width: 157px;
    height: 42px;
    top: 24px;
    left: 1171px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 40px;
    opacity: 0px;
    background: rgba(15, 16, 27, 1);
    display: flex;
    align-items: center;
}
.destop-rectangle2{
    width: 4px;
    height: 4px;
    gap: 0px;
    border-radius: 1px;
    opacity: 0px;
    background: rgba(217, 217, 217, 1);
}
.desktop-right-nav a{
    width: 95px;
    height: 18px;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

/* .desktop-page1-top-vector1{
    width: 219.98px;
    height: 65.01px;
    top: 183.87px;
    left: 47.3px;
    gap: 0px;
    border: 1.5px;
    opacity: 0.4px;
    transform: rotate(-12deg);
    border: 1.5px solid rgba(0, 0, 0, 0.22);
    position: absolute;
}
.desktop-page1-top-vector1-frame{
    width: Hug (203px)px;
    height: Hug (53.5px)px;
    top: 182.43px;
    left: 74.6px;
    padding: 13.5px 24px 12px 24px;
    gap: 15px;
    border-radius: 60px;
    opacity: 0px;
    transform: rotate(-12deg);
    background: rgba(241, 241, 241, 1);
} */

 .txt-accelerate{
    width: 719px;
    height: 222px;
    font-family: PP Radio Grotesk;
    font-size: 64px;
    font-weight: 400;
    line-height: 73.6px;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(15, 16, 27, 1);
    margin-top: 7.68px;
 }
 .txt-state{
    width: 436px;
    height: 68px;
    gap: 0px;
    font-family: PP Radio Grotesk;
    font-size: 28px;
    font-weight: 200;
    line-height: 33.6px;
    text-align: left;
    color: rgba(15, 16, 27, 0.7);
    margin-top: 24px;
 }
.destop-rectangle1{
    width: 1280px;
    height: 600px;
    top: 720px;
    left: 80px;
    gap: 0px;
    border-radius: 24px;
    margin-top: 64px;
    margin-left: 80px;
}
.showreel{
    width: 1473px;
    height: 55px;
    top: 995.86px;
    left: -17.37px;
    gap: 0px;
    opacity: 0px;
    transform: rotate(-1deg);
    font-family: PP Radio Grotesk;
    font-size: 48px;
    font-weight: 200;
    line-height: 55.2px;
    letter-spacing: -0.01em;
    text-align: left;
    /* color: rgba(255, 255, 255, 1); */
    margin-top: -300px;
    margin-left: -17.37px;
}
.txt-ready{
    width: 821px;
    height: 296px;
    top: 1468px;
    left: 293px;
    gap: 0px;
    opacity: 0px;
    font-family: PP Radio Grotesk;
    font-size: 64px;
    font-weight: 400;
    line-height: 73.6px;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(15, 16, 27, 1);
    margin-top: 448px;
    margin-left: 293px;
}