/* Default */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'TWK Lausanne';
}

:root {
    --bg-color: #eceff0;
    --second--bg-color: #dde6ec;
    --text-color: #111010;
    --main-color: #111212;
}

html {
    font-size: 100%;
}

@media (min-width: 1450px) and (max-width: 1459px) {
    html {
        font-size: 75.1%;
    }
 }
 
 @media (min-width: 1460px) and (max-width: 1469px) {
    html {
        font-size: 75.6%;
    }
 }
 
 @media (min-width: 1470px) and (max-width: 1479px) {
    html {
        font-size: 76.1%;
    }
 }
 
 @media (min-width: 1480px) and (max-width: 1489px) {
    html {
        font-size: 76.6%;
    }
 }
 
 @media (min-width: 1490px) and (max-width: 1499px) {
    html {
        font-size: 77.1%;
    }
 }
 
 @media (min-width: 1500px) and (max-width: 1509px) {
    html {
        font-size: 77.6%;
    }
 }
 
 @media (min-width: 1510px) and (max-width: 1519px) {
    html {
        font-size: 78.1%;
    }
 }
 
 @media (min-width: 1520px) and (max-width: 1529px) {
    html {
        font-size: 78.6%;
    }
 }
 
 @media (min-width: 1530px) and (max-width: 1539px) {
    html {
        font-size: 79.1%;
    }
 }
 
 @media (min-width: 1540px) and (max-width: 1549px) {
    html {
        font-size: 79.6%;
    }
 }
 
 @media (min-width: 1550px) and (max-width: 1559px) {
    html {
        font-size: 80.1%;
    }
 }
 
 @media (min-width: 1560px) and (max-width: 1569px) {
    html {
        font-size: 80.6%;
    }
 }
 
 @media (min-width: 1570px) and (max-width: 1579px) {
    html {
        font-size: 81.1%;
    }
 }
 
 @media (min-width: 1580px) and (max-width: 1589px) {
    html {
        font-size: 81.6%;
    }
 }
 
 @media (min-width: 1590px) and (max-width: 1599px) {
    html {
        font-size: 82.1%;
    }
 }
 
 @media (min-width: 1600px) and (max-width: 1609px) {
    html {
        font-size: 82.6%;
    }
 }
 
 @media (min-width: 1610px) and (max-width: 1619px) {
    html {
        font-size: 83.1%;
    }
 }
 
 @media (min-width: 1620px) and (max-width: 1629px) {
    html {
        font-size: 83.65%;
    }
 }
 
 @media (min-width: 1630px) and (max-width: 1639px) {
    html {
        font-size: 84.25%;
    }
 }
 
 @media (min-width: 1640px) and (max-width: 1649px) {
    html {
        font-size: 84.8%;
    }
 }
 
 @media (min-width: 1650px) and (max-width: 1659px) {
    html {
        font-size: 85.4%;
    }
 }
 
 @media (min-width: 1660px) and (max-width: 1669px) {
    html {
        font-size: 85.95%;
    }
 }
 
 @media (min-width: 1670px) and (max-width: 1679px) {
    html {
        font-size: 86.55%;
    }
 }
 
 @media (min-width: 1680px) and (max-width: 1689px) {
    html {
        font-size: 87%;
    }
 }
 
 @media (min-width: 1690px) and (max-width: 1699px) {
    html {
        font-size: 87.5%;
    }
 }
 
 @media (min-width: 1700px) and (max-width: 1709px) {
    html {
        font-size: 88%;
    }
 }
 
 @media (min-width: 1710px) and (max-width: 1719px) {
    html {
        font-size: 88.5%;
    }
 }
 
 @media (min-width: 1720px) and (max-width: 1729px) {
    html {
        font-size: 89%;
    }
 }
 
 @media (min-width: 1730px) and (max-width: 1739px) {
    html {
        font-size: 89.5%;
    }
 }
 
 @media (min-width: 1740px) and (max-width: 1749px) {
    html {
        font-size: 90.1%;
    }
 }
 
 @media (min-width: 1750px) and (max-width: 1759px) {
    html {
        font-size: 90.6%;
    }
 }
 
 @media (min-width: 1760px) and (max-width: 1769px) {
    html {
        font-size: 91.2%;
    }
 }
 
 @media (min-width: 1770px) and (max-width: 1779px) {
    html {
        font-size: 91.7%;
    }
 }
 
 @media (min-width: 1780px) and (max-width: 1789px) {
    html {
        font-size: 92.2%;
    }
 }
 
 @media (min-width: 1790px) and (max-width: 1799px) {
    html {
        font-size: 92.8%;
    }
 }
 
 @media (min-width: 1800px) and (max-width: 1809px) {
    html {
        font-size: 93.5%;
    }
 }
 
 @media (min-width: 1810px) and (max-width: 1819px) {
    html {
        font-size: 94%;
    }
 }
 
 @media (min-width: 1820px) and (max-width: 1829px) {
    html {
        font-size: 94.5%;
    }
 }
 
 @media (min-width: 1830px) and (max-width: 1839px) {
    html {
        font-size: 95%;
    }
 }
 
 @media (min-width: 1840px) and (max-width: 1849px) {
    html {
        font-size: 95.5%;
    }
 }
 
 @media (min-width: 1850px) and (max-width: 1859px) {
    html {
        font-size: 96%;
    }
 }
 
 @media (min-width: 1860px) and (max-width: 1869px) {
    html {
        font-size: 96.65%;
    }
 }
 
 @media (min-width: 1870px) and (max-width: 1879px) {
    html {
        font-size: 97.2%;
    }
 }
 
 @media (min-width: 1880px) and (max-width: 1889px) {
    html {
        font-size: 97.8%;
    }
 }
 
 @media (min-width: 1890px) and (max-width: 1899px) {
    html {
        font-size: 98.3%;
    }
 }
 
 @media (min-width: 1900px) and (max-width: 1909px) {
    html {
        font-size: 99%;
    }
 }
 
 @media (min-width: 1910px) and (max-width: 1918px) {
    html {
        font-size: 99.5%;
    }
 }

body {
    width: 120rem;
    overflow-x: hidden;
}

.mobile-html {
    display: none;
}

.d-prenav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.92);   
    height: 1.7rem; 
    padding-top: 1.7rem;
    padding-bottom: 1.8rem;
    width: 120rem;
}

.d-prenavimg {
    border-radius: 0.2rem;
    width: 1.4rem; 
    height: 1.4rem; 
    margin-top: -.1rem;
}

.d-prenav1 {
    margin-left: 0.5rem; 
    color: rgba(62, 131, 235, 1);
    font-size: 1.1rem; 
}

.d-prenav2 a {
    margin-left: .5rem; 
    font-size: 1rem; 
    color: black !important;
}

.d-prenav2-img1 {
    width: .75rem;
    height: .75rem;
    margin-top: .1rem;
}

.d-prenav2 span {
    font-weight: 600;
}

/* /Default */

.d-page1-background{
    background: url(img/Rec9151.png) no-repeat center center/cover;
    width: 120rem;
    height: 94.875rem;
}

.d-header {
    /* border: 0.4rem solid pink; */
    padding-top: 1.5rem;
    display: flex;
    width: 114.125rem;
    margin-left: 2.875rem;
    height: 3.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-left-nav,
.d-mid-nav,
.d-right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-left-nav {
    height: 2.5rem;
    width: 10.1875rem;
    border-radius: .75rem;
}

.d-left-nav img{
    width: 1.5rem;
    height: 1.6875rem;
    margin-left: .8rem;
    margin-bottom: .6rem;
}

.d-left-nav a{
    width: 7.1875rem;
    height: 1.375rem;
    font-size: 1.25rem;
}

.d-mid-nav {
    height: 2.625rem;
    width: 30.875 rem;
    gap: 2.5rem;
    margin-left: 9rem;
}

.d-mid-nav a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 250;
    margin-left: -.7rem;
    gap: 2.5rem;
}

.d-mid-nav a:hover,
.d-mid-nav a.active {
    color: var(--main-color);
}

.d-home1{
    width: 6.0625rem;
    height: 2.625rem;
    background: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 250;
    border-radius: .6rem;
    padding: .75rem 1.25rem .75rem 1rem;
}

.d-home1 img{
    height: .375rem;
    width: .375rem;
    border-radius: .125rem;
    margin-bottom: .15rem;
    margin-right: .5rem;
}

.d-right-nav a {
    color: rgba(62, 131, 235, 1);
    font-weight: 500;
    transition: 0.3s;
    padding-right: 1rem;
}

.d-right-nav a:hover,
.d-right-nav a.active {
    color: var(--main-color);
}

.d-getstart{
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 3.125rem;
    width: 13.5rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background: rgba(62, 131, 235, 0.1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-getstartimg{
    width: .6rem;
    margin-right: 1rem;
}

.d-menu-icon {
    display: none;
}

/* /header */

.d-pages {
    /* border: 0.4rem solid purple; */
    display: flex;
    flex-direction: column;
}

.d-page {
    /* border: 0.4rem solid red; */
    margin: 0;
    padding: 0;
}
/* /pageDefault */

/* page-1 CSS start*/

.d-page-1 {
    width: 120rem;
    display: flex;
    flex-direction: column;
}

.d-box11 {
    display: flex;
    flex-direction: row;
    /* border: 0.4rem solid blue; */
    margin-top: 13rem;
    margin-bottom: 7rem;
    margin-left: 9.76rem;
    width: 35.5rem;
    height: 25.375rem;
}

.d-box11-content{
    display: flex;
    flex-direction: column;
    height: 25.4rem;
    width: 35.5rem;
    padding: 0;
    margin-left: 3rem;
    /* margin-right: 7rem; */
    /* border: 0.4rem solid blue; */
}

.d-box11-content h1 {
    width: 35.5rem; 
    /* margin-left: 14.5%; */
    /* margin-top: 5rem; */
    font-size: 5rem;
    font-weight: 600;
    line-height: 5.5rem;
    margin-bottom: 1rem;
    letter-spacing: -.02rem;
    /* border: 0.4rem solid orange; */
}

.d-box11-content h1 {
    color: var(--main-color);
}

.d-box11-input-club {
    display: flex;
    flex-direction: row;
    width: 35rem;
    height: 3.625rem;
    /* margin-left: 6rem; */
    /* border: 0.4rem solid black; */
}

.d-inputBox {
    width: 35rem;
    height: 3.625rem;
    padding: .6rem;
    font-size: 1rem; 
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    border-radius: .9rem;
    padding-left: 1.2rem;
    margin-bottom: .6rem;
}

.d-box11-btn {
    margin-left: -11.4rem;
    margin-top: .39rem;
    width: 11rem;
    height: 2.8rem; 
    background: rgb(74, 133, 209);
    border: 0.2rem solid rgb(74, 133, 209);
    border-radius: 0.6rem;
    font-size: .9rem; 
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.d-box11-btn span{
    margin-left: .4rem;
}

.d-box-11-content {
    margin-top: .7rem;
    margin-left: .1rem;
}

.d-box-11-content p{
    text-align: start;
    /* margin-left: 6.2rem; */
    margin-top: .1rem;
    font-weight: 300;
    opacity: 0.8;
}

.d-page1-img-right {
    height: 40.5625rem;
    width: 57rem;
    margin-left: 9.5rem;
    margin-top: -6rem;
}

.d-img111 {
    /* border: #111010 2px solid; */
    /* margin-top: -1.8rem; */
    /* height: 100%; */
    height: 40.5625rem;
    width: 57rem;
    /* margin-left: 4.2rem; */
}

.d-img121{
    display: none;
}

.d-layout1 {
    width: 117rem;
    color: white;
    height: 16.8125rem; 
    border-radius: 2rem;
    background: url(img/Fr5411.png) no-repeat center center/cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 13rem;
    margin-bottom: 13rem;
    margin-left: 1.5rem;
}

.d-page1-end-text{
    display: flex;
    flex-direction: row;
    width: 100rem;
    height: 6.8125rem;
}

.d-text-block {
    margin: 1rem;
}

.d-page1-end-h11 {
    font-weight: 650;
    font-size: 3rem;
    margin-left: 9rem;
}

.d-page1-end-h41 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 9rem;
    opacity: .7;
}
.d-page1-end-h12 {
    font-weight: 600;
    font-size: 3rem;
    margin-left: 12rem;
}
.d-page1-end-h42 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 12rem;
    opacity: .7;
}
.d-page1-end-h13 {
    font-weight: 600;
    font-size: 3rem;
    margin-left: 15rem;
}
.d-page1-end-h43 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 15rem;
    opacity: .7;
}

/* page 1 css end */

/* page-2 CSS start*/
.d-page-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #ffffff;
    height: 65rem;
    padding: 0 10rem;
}

.d-page2-header{
    background: #ffffff;
}

.d-page2-header h1{
    width: 45rem;
    height: 8.75rem;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 4rem; 
}

.d-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85%;
}

.d-images-container-image {
    width: 32.5rem;
    height: 70%;
}

.d-image1 {

}

.d-imgg {
    height: 25.5625rem;
    width: 32.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.d-image2 {
    align-self: flex-end;
}

.d-image3 {
    align-self: flex-start;
}

.d-images-container-image .d-content{
    height: 33%;
    width: 67%;
    font-family: TWK Lausanne;
    text-align: left;
    display: flex;
    flex-direction: column;
    }

.d-images-container-image .d-content .d-contenth{
    font-size: 250%;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.04em;

}
.d-images-container-image .d-content .d-contentp{
    font-size: 16px;
    font-weight: 300;
    line-height: 21.6px;
}

.d-content {
    padding: 1.5625rem 1rem 1.5625rem 1rem;
}

/* /page-2  CSS end*/

/* page-3 CSS start*/

.d-page-3 {
    display: flex;
    flex-direction: row;
    background: url(img/Fra5413.png) no-repeat center center/cover;
    width: 117rem;
    height: 60rem;
    margin-left: 1.5rem;
    color: rgba(255, 255, 255, 1);
    border-radius: 2rem;
    padding-top: 1.3rem;
}

.d-background-image {
    border-radius: .2rem; 
    height: 55.8rem;
    width: 68.6875rem;
    margin-top: 2.5rem;
    margin-left: 3rem;
}

.d-background-image1{
    display: none;
}

.d-container3{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35rem;
    margin-top: 16.7rem;
    margin-left: -9rem;
}

.d-container3 h1 {
    width: 45rem;
    height: 13.125rem;
    font-size: 4rem;
    margin-bottom: .5rem;
    color: rgba(255, 255, 255, 1);
    opacity: .95;
}

.d-container3p31 {
    width: 32.5rem;
    height: 2.75rem;
    margin-bottom: .8rem;
    margin-top: .3rem;
    color: rgba(255, 255, 255, 1);
    opacity: .7;
    font-size: 1rem;
}

.d-container3p32 {
    display: none;
}

.d-page3-button {
    width: 10.9375rem;
    height: 3.125rem;
    border-radius: .75rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background: rgba(255, 255, 255, 1);
}

.d-page3-button p{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(23, 30, 36, 1);
    opacity: 1;
    cursor: pointer;
}

.d-page3-buttonspan {
    position: relative;
    top: -.1rem;
}

.d-page3-buttonspan img{
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
    margin-right: .7rem;
}

/* /page-3 CSS end*/

/* page-4 CSS start*/


.d-page-4{
    height: 51rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #EFF2F4, #EFF2F4);
}

.d-p4up{
    margin-top: 12.5rem;
    /* border: 4px solid yellow; */
}

.d-p4up-flex{
    display: flex;
    flex-direction: row;
}

.d-p4up-left{
    font-family:  TWK Lausanne;
    width: 31.9375rem;
    height: 8.75rem;
    margin-left: 10rem;
    /* border: 4px solid yellow; */
    font-weight: 600;
    font-family: TWK Lausanne;
    font-size: 4rem;
    letter-spacing: 0;
}

.d-p4up-left-star {
    position: relative;
    top: .5rem;
    margin-left: -.4rem;
    width: 3.3125rem;
    height: 3.875rem;
}

.d-p4up-right{
    margin-left: 18.6875rem;
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: column;
}

.d-p4up-right-p {
    width: 32.5rem;
    height: 4.125rem;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.35rem;
    opacity: .7;
    padding-right: 2.5rem;
}

.d-page4-button {
    display: flex;
    flex-direction: row;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 3.125rem;
    width: 13.5rem;
    border-radius: .75rem;
    background: rgba(62, 131, 235, 0.1);
    margin-top: 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    opacity: 1;
}

.d-page4-buttonimg {
    height: .5rem;
    width: .5rem;
    margin-top: .35rem;
    margin-right: 1rem;
}

.d-page4-button p{
    color: rgba(62, 131, 235, 1);
    font-size: 1rem;
    font-weight: 450;
    cursor: pointer;
}

.d-p4down{
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.d-quote{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #3E83EB1A;
    border-radius: 1rem;
    padding-left: 2.5rem;
}

.review-box-l {
    width: 50rem;
    height: 22.5rem;
    margin-right: 1.5rem; 
    margin-left: -33rem;
    margin-top: 5rem; 
}

.review-box-m {
    width: 50rem;
    height: 22.5rem;
    margin-right: 1.5rem; 
    margin-top: 5.5rem; 
}

.review-box-r {
    width: 50rem;
    height: 22.5rem;
    margin-top: 5rem; 
}

.d-quote img {
    width: 1.75rem;
    height: 1.5rem;
}

.d-page4-reviewp1 {
    width: 39.375rem;
    height: 10rem;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 2.5rem;
}

.d-page4-reviewp2 {
    width: 39.375rem;
    height: 10rem;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 2.5rem;
}

.d-page4-reviewp3 {
    width: 39.375rem;
    height: 10rem;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 2.5rem;
}

.d-discord{
    /* border: 4px solid green; */
    margin-top: 1rem;
    font-size: 1rem;
    color: rgba(62, 131, 235, 1);
}

.d-discord img {
    width: .5rem;
    height: .75rem;
    margin-left: .2rem;
    margin-bottom: .1rem;
}

.d-Mchein{
    /* border: 4px solid green; */
    margin-top: 3.4375rem;
    font-size: 1rem;
}

.d-Mchein span {
    opacity: .6;
}

.d-quote-l {
    margin-top: -.75rem;
    width: 1.75rem;
    height: 1.5rem;
}

.d-quote-m {
    margin-top: -.75rem;
    width: 1.75rem;
    height: 1.5rem;
}

.d-quote-r {
    margin-top: -.75rem;
    width: 1.75rem;
    height: 1.5rem;
}

/* /page-4 CSS end */

/* page 5 css start */

.d-page-55 {
    width: 117rem;
    margin-left: 1.5rem;
    margin-top: 10rem;
    height: 80.5rem;
    background-color: rgba(255, 255, 255, 1);
    background: url(img/Fra542.png) no-repeat center center/cover;
    border-radius: 2rem;
}

.d-page55 {
    display: flex;
    flex-direction: row;
}

.d-page5-start{
    display: flex;
    flex-direction: column;
}

.d-page5-h1{
    width: 32.5rem;
    height: 8.75rem;
    margin-top: 7.5rem;
    margin-left: 16.9375rem;
    color: rgba(255, 255, 255, 1);
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.4rem;
    letter-spacing: -.02rem;
}

.d-page55-imgg{
    margin-top: 2.8125rem;
    margin-left: 16.9375rem;
}

.d-page5-img{
    height: 53.9375rem;
    width: 40.9375rem;
}

.d-page5-button{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 23.57rem;
}

.d-page5-box1{
    background-color: rgb(26 44 64);
    height: 3.125rem;
    width: 14rem;
   border-radius: .75rem;
   padding: .875rem, 1rem, .875rem, 1rem;
   margin-top: 9.8125rem;
   color: white;
   font-size: 1rem;
}

.d-page5-box2{
    background-color: rgb(255, 255, 255);
    height: 3.125rem;
    width: 14rem;
   border-radius: .75rem;
   padding: .875rem, 1rem, .875rem, 1rem;
   margin-top: 9.8125rem;
   color: rgb(37, 23, 58);
   text-align:center;
   font-size: 1rem;
}

/* page 5 css end */

/* page 6 css start */
.d-page-6{
    width: 100%;
    height: 99.5rem;
    background: rgba(255, 255, 255, 1);
}

.d-page6{
    margin-top: 12.5rem;
}

.d-page6-text11 h1{
    width: 66.9375rem;
    height: 8.75rem;
    margin-left: 26.5625rem;
    font-size: 4rem;
    font-weight: 600;
    color: #111010;
    align-items: center;
}

.d-page6-span1{
    width: 12rem;
    height: 4.875rem;
    font-size: 4rem;
    color: rgb(14, 174, 14);
    background-color: rgba(80, 164, 51, 0.1);
    padding: .5rem .75rem .5rem .75rem;
    border-radius: 1.5rem;
}

.d-page6-span2{
    width: 8.4375rem;
    height: 4.875rem;
    color: rgb(228, 65, 65);
    background-color: rgba(237, 73, 73, 0.1);
    padding: .5rem .75rem .5rem .75rem;
    border-radius: .4rem;
    border-radius: 8px;
}

.d-page6-span3 {
    margin-left: 4rem;
}

.d-page6-img{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 10rem;
}

.d-page6-img1 img{
    width: 49.375rem;
    height: 35rem;
    margin-right: 1.25rem;
    border-radius: 1rem;
}

.d-page6-img21{
    width: 49.375rem;
    height: 35rem;
    border-radius: 1rem;
}

.d-page6-img22{
    display: none;
}

.d-page6-text2 {
    margin-top: 2rem;
    width: 32.5rem;
}

.d-page6-text2-p{
    width: 32.5rem;
    height: 4.125rem;
    opacity: .7;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
}

.d-page6-button{
    margin-top: 1.5rem;
    height: 3.125rem;
    width: 15.1875rem;
    border-radius: .75rem;
    cursor: pointer;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page6-elipse{
    height: .5rem;
    width: .5rem;
    margin-right: .5rem;
}

.d-page6-button p{
    font-size: .9rem;
    cursor: pointer;
    color: rgba(62, 131, 235, 1);
    font-weight: 500;
}

.d-page6-end{
    display: flex;
    flex-direction: column;
    margin-top: 12.5rem;
    width: 117rem;
    height: 30rem;
    border-radius: 2rem;
    margin-left: 1.5rem;
    background: url(img/Fr811403.png) no-repeat center center/cover;
}

.d-page6-end-text {
    display: flex;
    flex-direction: row;
    margin-left: 2.5rem;
    margin-top: 5rem;
}

.d-page6-endimg2 {
    display: none;
}

.d-page6-text1 {
    display: flex;
    color: rgb(255, 255, 255);
    width: 44.5rem;
    font-size: 4rem;
    margin-left: 7rem;
}

.d-page6-endtext1 {
    display: flex;
    color: rgb(255, 255, 255);
    margin-left: 6rem;
    line-height: 4.4rem;
    opacity: .95;
    width: 44.5rem;
    height: 8.75rem;
    font-size: 4rem;
}

.d-page6-text2 {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 36rem;
    color:  rgba(23, 30, 36, 1);
    font-weight: 100;
    font-size: 0.8rem;
}

.d-page6-endtext2 {
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    margin-top: 1rem;
    width: 36rem;
    color:  rgba(23, 30, 36, 1);
    font-weight: 100;
    font-size: 0.8rem;
}

.d-page6-subtext {
    color: rgba(255, 255, 255, 1);
    width: 32.5rem;
    height: 2.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
    opacity: .7;
}

.d-page6-endbutton {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 9.25rem;
    height: 3.125rem;
    margin-top: 1.25rem;
    border-radius: .75rem;
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page6-endbutton p{
    color: rgba(23, 30, 36, 1);
    font-size: 1rem;
    font-weight: 450;
}

.d-page6-buttondot {
    margin-right: 0.8rem;
    border-radius: 50%;
}

.d-page6-buttondot img{
    height: .4rem;
    width: .4rem;
}

/* page 6 css end */  

/* page 7 css start */

.d-page-7{
    width: 99%;
    height: 208rem;
    background: rgba(255, 255, 255, 1);
}

.d-page7-start{
    margin-top: 15rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.d-page7-img1 img{
    height: 37.5rem;
    width: 49.375rem;
    margin-left: 9.6875rem;
}

.d-page7-text1{
    width: 40.9375rem;
    height: 19.875rem;
    margin-left: 0rem;
    padding: 3rem 2rem 3rem 2rem;
}

.d-page7-text1h1 {
    width: 36.9375rem;
    height: 5.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin-bottom: .5rem;
}

.d-page7-text1p1 {
    width: 26.25rem;
    height: 2.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
    opacity: .7;
}

#d-button71{
    width: 11.5625rem;
    height: 3.125rem;
    border-radius: .75rem;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    font-size: 1rem;
    font-weight: 450;
}

.d-page7-elipse1 {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}

.d-page7-middle1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 10rem;
    margin-top: 3rem;
}

.d-page7-img2 img{
    height: 37.5rem;
    width: 49.375rem;
}

.d-page7-text2{
    width: 40.9375rem;
    height: 19.875rem;
    margin-left: 1rem;
    padding: 3rem 2rem 3rem 2rem;
}

.d-page7-text2h1 {
    width: 36.9375rem;
    height: 5.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin-bottom: .5rem;
}

.d-page7-text2p1 {
    width: 26.25rem;
    height: 2.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
    padding-right: 1.5rem;
    opacity: .7;
}

.d-page7-button2 {
    width: 11.5625rem;
    height: 3.125rem;
    border-radius: .75rem;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    font-size: 1rem;
    font-weight: 450;
}

.d-page7-elipse2 {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}

.d-page7-middle2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-left: 10rem;
    margin-top: 3rem;
}

.d-page7-img3 img{
    height: 37.5rem;
    width: 49.375rem;
    margin-left: 9.6875rem;
}

.d-page7-text3{
    width: 40.9375rem;
    height: 19.875rem;
    margin-left: 0rem;
    padding: 3rem 2rem 3rem 2rem;
}

.d-page7-text3h1 {
    width: 36.9375rem;
    height: 5.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin-bottom: .5rem;
}

.d-page7-text3p1 {
    width: 26.25rem;
    height: 4.125rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
    opacity: .7;
}

.d-page7-button3 {
    width: 11.5625rem;
    height: 3.125rem;
    border-radius: .75rem;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    font-size: 1rem;
    font-weight: 450;
}

.d-page7-elipse3 {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}

.d-page7-end {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 10rem;
    margin-top: 3rem;
}

.d-page7-img4 img{
    height: 37.5rem;
    width: 49.375rem;
}

.d-page7-text4 {
    width: 40.9375rem;
    height: 19.875rem;
    margin-left: 1rem;
    padding: 3rem 2rem 3rem 2rem;
}

.d-page7-text4h1 {
    width: 36.9375rem;
    height: 5.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin-bottom: .5rem;
}

.d-page7-text4p1 {
    width: 26.25rem;
    height: 4.125rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.35rem;
    padding-right: 1.5rem;
    opacity: .7;
}

.d-page7-button4 {
    width: 11.5625rem;
    height: 3.125rem;
    border-radius: .75rem;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    font-size: 1rem;
    font-weight: 450;
}

.d-page7-elipse4 {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}

.d-page7-container {
    display: flex;
    height: 30rem;
    width: 117rem;
    background: rgba(228, 238, 250, 1);
    margin-left: 1.5rem;
    margin-top: 17.5rem;
    border-radius: 2rem;
}

.d-page7-box{
    display: flex;
    flex-direction: row;
}

.d-page7-boximg{
    display: flex;
    margin-left: 8.4375rem;
    height: 33.8125rem;
    width: 35.875rem;
    margin-top: -7.5rem;
}

.d-page7-text {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.d-page7-text-h11 {
    margin-top: 7rem;
    color: rgb(10, 7, 7);
    font-size: 2.8rem;
    width: 29rem;
    margin-left: 2rem;
    letter-spacing: 0rem;
}

.d-subsstext-end1 {
    width: 26.25rem;
    height: 2.75rem;
    font-size: 1rem;
    font-weight: 300;
    color: grey;
    margin-left: 2rem;
    margin-top: .5rem;
    padding-right: 1.5rem;
}

.d-page7-button5 {
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 2.5rem;
    width: 12rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    margin-left: 2rem;
    margin-top: .8rem;
    font-size: 1rem;
}

.d-page7-elipse5 {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}
/* page 7 css end */  

/* page 8 css start */
.d-page-8{
    width: 99%;
    height: 60rem;
    background: rgba(255, 255, 255, 1);
    padding-left: 10rem;
}

.d-page81{
    margin-top: 12.5rem;
}

.d-page8-textup {
    display: flex;
    flex-direction: row;
}

.d-page8-textup1{
    width: 49.375rem;
    height: 13.125rem;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.4rem;
    letter-spacing: -.01rem;
}

.d-page8-textup2{
    width: 40.9375rem;
    height: 8.75rem;
    margin-left: 9.6875rem;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.4rem;
    padding-right: 14rem;
}

.d-page8-middle{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.d-page8-middleimg img{
    width: 56.5625rem;
    height: 37.5rem;
    border-radius: 1rem;
}

.d-page8-middletext h1{
    width: 18rem;
    height: 5.5rem;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-bottom: .5rem;
}

.d-page8-middletextp1 {
    width: 25rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 2.5rem;
    font-weight: 300;
    opacity: .7;
}

.d-page8-button1 {
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 3.125rem;
    width: 13.375rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    margin-left: 2rem;
    margin-top: .8rem;
    font-size: 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page8-elipse {
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}

/* page 8 css end */  

/* page 9 css start */

.d-page-9{
    height: 90rem;
    padding-top: 10rem;
    width: 99%;
}

.d-page9-img{
    width: 117rem;
    height: 75.5rem;
    margin-left: 1.5rem;
    background: url(img/Fra811415.png) no-repeat center center/cover;
    border-radius: 2rem;
}

.d-page9-text{
    display: flex; 
}

.d-page9-h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    margin-top: 6rem;
    margin-left: 42.1875rem;
    width: 23.9375rem;
    height: 8.75rem;
}

.d-page9-img img{
    margin-top: 2rem;
    margin-left: 8.5rem;
    height: 51rem;
    width: 100rem;
}

/* page 9 css end */

/* page 10 css start */

.d-page-10{
    width: 100%;
    height: 75rem;
    padding-top: 5.5rem;
    padding-left: 10rem;
    /* border: .4rem solid #111010; */
}

.d-page10-text{
    display: flex;
    margin-left: 42.875rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3.875rem;
    width: 14.3125rem;
    border-radius: .75rem;
    background: rgba(239, 242, 244, 1);
    padding: .25rem;
}

.d-page10-month{
    height: 3.375rem;
    width: 7.1875rem;
    border-radius: .5rem;
    background: rgba(255, 255, 255, .5);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page10-year {
    width: 6.125rem;
    height: 3.375rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page10-mid{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 2rem;
}

.d-page10-con1{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 47.5625rem;
    background: rgba(239, 242, 244, 1);
    margin-right: 1.25rem;
    border-radius: 1.5rem;
}

.d-page10-con2{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 47.5625rem;
    background: rgba(239, 242, 244, 1);
    margin-right: 1.25rem;
    border-radius: 1.5rem;
}

.d-page10-con3{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 47.5625rem;
    background: rgba(239, 242, 244, 1);
    border-radius: 1.5rem;
}

.d-page10-con1up{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 3rem;
    padding: 1rem 6.25rem 1rem 6.25rem;
    background: rgb(245, 246, 247, .9);
    align-items: center;
}

.d-page10-con1up p{
    font-size: 1rem;
    font-weight: 300;
}

.d-page10-con2up{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 3rem;
    padding: 1rem 6.25rem 1rem 6.25rem;
    background: rgb(245, 246, 247, .9);
    align-items: center;
}

.d-page10-con2up p{
    font-size: 1rem;
    font-weight: 300;
}

.d-page10-con3up{
    display: flex;
    flex-direction: column;
    width: 32.5rem;
    height: 3rem;
    padding: 1rem 6.25rem 1rem 6.25rem;
    background: rgb(245, 246, 247, .9);
    align-items: center;
}

.d-page10-con3up p{
    font-size: 1rem;
    font-weight: 300;
}

.d-page10-con1mid1{
    display: flex;
    flex-direction: column;
    height: 4.125rem;
    width: 9.3125rem;
    background: rgb(248, 248, 248, 1);
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
    border-radius: .75rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.d-page10-con2mid1{
    display: flex;
    flex-direction: column;
    height: 4.125rem;
    width: 9.3125rem;
    background: rgb(248, 248, 248, 1);
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
    border-radius: .75rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.d-page10-con3mid1{
    display: flex;
    flex-direction: column;
    height: 4.125rem;
    width: 9.3125rem;
    background: rgb(248, 248, 248, 1);
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
    border-radius: .75rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.d-page10-con1mid2 h1{
    width: 24.75rem;
    height: 6.625rem;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.d-page10-con2mid2 h1{
    width: 24.75rem;
    height: 6.625rem;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.d-page10-con3mid2 h1{
    width: 24.75rem;
    height: 6.625rem;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.d-page10-con1mid2 p{
    width: 26.25rem;
    height: 2.75rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
    opacity: .7;
}

.d-page10-con2mid2 p{
    width: 26.25rem;
    height: 2.75rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
    opacity: .7;
}

.d-page10-con3mid2 p{
    width: 26.25rem;
    height: 2.75rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
    opacity: .7;
}

.d-page10-con1mid2 button{
    display: flex;
    flex-direction: column;
    height: 3.125rem;
    width: 13.5rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(41, 126, 223);
    border-radius: .75rem;
    background: rgba(62, 131, 235, 0.1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page10-con2mid2 button{
    display: flex;
    flex-direction: column;
    height: 3.125rem;
    width: 13.5rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(41, 126, 223);
    border-radius: .75rem;
    background: rgba(62, 131, 235, 0.1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page10-con3mid2 button{
    display: flex;
    flex-direction: column;
    height: 3.125rem;
    width: 13.5rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(41, 126, 223);
    border-radius: .75rem;
    background: rgba(62, 131, 235, 0.1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page10-con1mid2 img{
    width: 20.0625rem;
    height: 11.4375rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}

.d-page10-con2mid2 img{
    width: 18.125rem;
    height: 11.4375rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}

.d-page10-con3mid2 img{
    width: 18.125rem;
    height: 11.4375rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}

.d-page10-con4{
    position: relative;
    display: flex;
    width: 62.25rem;
    margin-top: -5rem;
    height: 9.75rem;
    background: url(img/Fra811424.png) no-repeat center center/cover;
    margin-left: 35.75rem;
    border-radius: 1rem;
    z-index: 10;
}

.d-page10-con4text{
    margin-top: 2.125rem;
    margin-left: 2rem;
}

.d-page10-con4text h1{
    width: 8.125rem;
    height: 2.1875rem;
    font-size: 2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -.037rem;
}

.d-page10-con4text p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    width: 21.4375rem;
    height: 2.75rem;
    margin-top: .5rem;
    opacity: .7;
}

.d-page10-con4button1{
    height: 3.625rem;
    width: 9.9375rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(248, 248, 248);
    margin-bottom: 1rem;
    border-radius: .75rem;
    background: rgba(92, 149, 234, 0.1);
    padding-top: .2rem;
    padding-left: .6rem;
    margin-left: 26rem;
    margin-top: 2.8rem;
}

.d-page10-con4button1 p{
    font-size: 1.5rem;
}

#d-page10-end2{
    display: none;
}

/* page 10 css end */

/* page 11 css start */

.d-page-11{
    width: 100%;
    height: 75.7rem;
    /* border: .4rem solid #111010; */
}

.d-page11-start{
    display: flex;
    flex-direction: row;
}

.d-page11-con1{
    width: 28.5rem;
    height: 9.75rem;
    background: url(img/F13213.png) no-repeat center center/cover;
    margin-top: 15rem;
    margin-left: 12rem;
    border-radius: 1rem;
    color: rgba(255, 255, 255, 0.916);
}

.d-page11-elipse{
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.4rem;
}

.d-page11-con1 h1{
    margin-left: 2rem;
    margin-top: 1rem;
}

.d-page11-con1button{
    height: 3.125rem;
    width: 14.4375rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background: white;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page11-con1button img {
    height: .5rem;
    width: .5rem;
    margin-right: .5rem;
}

.d-page11-con2{
    display: flex;
    height: 17.5rem;
    width: 60rem;
    background: rgb(242, 242, 242);
    margin-left: -10rem;
    border-radius: 1rem;
}

.d-page11con2-text1{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.d-page11con2-img img{
    height: 16.5rem;
    width: 16.5rem;
    margin-left: .5rem;
    margin-top: .5rem;
    border-radius: 1rem;
}

.d-page11-mid{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
}

.d-page11-right{
    display: flex;
    flex-direction: row;
}

.d-page11-right img{
    height: 28rem;
    margin-left: 18rem;
}

.d-page11-textbox1{
    margin-top: 3rem;
    width: 32.5rem;
    height: 15rem;
}

.d-page11-textbox1 h1{
    font-size: 4rem;
    width: 32.5rem;
    height: 8.75rem;
    line-height: 4.4rem;
}

.d-page11-textbox1 p{
    margin-top: 1rem;
    font-size: 1rem;
    width: 26.25rem;
    height: 4.125rem;
    opacity: .7;
    padding-right: 2.5rem;
}

.d-page11-textbox2{
    margin-top: 1rem;
    margin-left: -33.5rem;
}

.d-page11-textbox2 p{
    font-weight: 600;
    margin-top: .5rem;
    margin-bottom: 3rem;
}

.d-page11-textboxp4 {
    margin-top: 0;
    margin-bottom: 4rem;
    font-weight: 400 !important;
    font-size: .9rem;
    width: 25rem;
}

.d-page11-end{
    margin-top: 2rem;
    width: 117rem;
    height: 19.5rem;
    margin-left: 1.5rem;
    background: url(img/Fr1416.png) no-repeat center center/cover;
    border-radius: 2rem;
}

.d-page11-end-text {
    display: flex;
    flex-direction: row;
}

.d-page11-text-end {
    display: flex;
    flex-direction: column;
}

.d-page11-text{
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: .9rem;
}

.d-page11-butt{
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 3.125rem;
    width: 12.5rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 0.1);
    color: rgba(62, 131, 235, 1);
    margin-left: 1rem;
    margin-top: .6rem;
    font-size: 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-page11-ending{
    padding-top: 3.2rem;
    padding-left: 4.8rem;
    font-size: 2.8rem;
    color:white ;
    width: 41rem;
}

.d-subtext-page11{
    width: 33rem;
    color: white;
    margin-top: 4rem;
    margin-left: 20rem;
    font-weight: 300;
    font-size: 1rem;
    opacity: .7;
}

.d-button-page11{
    margin-top: 1.5rem;
    margin-left: 20rem;
    border-radius: .9rem;
    height: 3rem;
    width: 13rem;
    font-size: 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.d-button-page11 .dot {
    height: .4rem;
    width: .4rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.d-page11-elipse {
    margin-bottom: .1rem;
    margin-right: .5rem;
}
/* page 11 css end */

/* page 12 css start */
.d-page-12{
    height: 26.5rem;
    width: 100.8vw;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
    background: linear-gradient(180deg, #E6ECEF 36.44%, rgba(221, 228, 232, 0) 100%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page121{
    display: flex;
    flex-direction: row;
}

.d-page12-left{
    margin-left: 10rem;
    margin-top: 4rem;
    font-size: 1.25rem;
    font-weight: 450s;
}

.d-page12-img2 {
    width: 1.5rem;
    height: 1.875rem;
    margin-right: .4rem;
}

.d-page12-inputbox {
    width: 35rem;
    height: 3.625rem;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1.25rem;
    font-size: 1rem;
    font-weight: 250;
}

.d-page12-inputbox-p {
    opacity: .5;
    font-weight: 250;
}

.d-page12-button0 {
    display: flex;
    position: relative;
    border: .1rem solid rgba(62, 131, 235, 0.15);
    height: 2.5rem;
    width: 14rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 21rem;
    margin-top: -2.8rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
    padding-left: .5rem;
    z-index: 10;
}
.d-page12-button0 span {
    margin-left: 10px; 
}

.d-page12-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.d-page12-button1 img{
    height: 2rem;
    width: 4rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-button2 img{
    height: 2rem;
    width: 4rem;
    margin-left: -1rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-button3 img{
    height: 2rem;
    width: 4rem;
    margin-left: -1rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-button4 img{
    height: 2rem;
    width: 4rem;
    margin-left: -1rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-button5 img{
    height: 2rem;
    width: 4rem;
    margin-left: -1rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-button6 img{
    height: 2rem;
    width: 4rem;
    margin-left: -1rem;
    opacity: .5;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.d-page12-right{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-top: 3rem;
}

.d-page12-right1 {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-left: 8rem;
}

.d-page12-right1 p{
    opacity: .5;
}

.d-page12-right2{
    display: flex;
    flex-direction: column;
}

.d-page12-right2 p{
    opacity: .5;
}

.d-page12-right1{
    gap: 1.5rem;
}

.d-page12-right2{
    gap: 2rem;
}

.d-page-12end{
    margin-top: 8.7rem;
    margin-left: 42%;
    opacity: .6;
}

.d-img2{
    height:1.3rem;
    width: 1.3rem;
}

.d-end{
    color: rgb(164, 161, 161);
}
/* page 12 css end */