<section class="home" id="home">
    <div class="box11">
        <div class="home-content">
            <h1><span>Reliable Insights for Rewarding Returns.
            </span></h1>
            <div class="text-animate">
            </div>
            <input type="text" class="inputBox" placeholder="Enter your email address...">
            <div class="btn-box">
                <a href="#" class="btn gett">Get started for Free  <span> ></span></a>
            </div>
            <p>Explore Stock Unlock and our capabilities instantly.</p> <p>No payment info required.</p>
            <div class="layout1"></div>
        </div>
    </div>
        <img src="image106.png" alt="img" class="img3"/>
        <img src="s1.png" alt="img" class="img1"/>
</section>