<% layout("/layout/boilerplate") %>
<body>
    <%- include('home') %>
    <%- include('Page2') %>
    <%- include('Page3') %>
    <%- include('review') %>
    <script src="script.js"></script>
</body>