@media only screen and (max-width: 769px) {

    @media (min-width: 390px) and (max-width: 400px) {
        html {
            font-size: 100%; 
        }
    }
    
    @media (min-width: 380px) and (max-width: 390px) {
        html {
            font-size: 98.5%; 
        }
    }
    
    @media (min-width: 370px) and (max-width: 380px) {
        html {
            font-size: 96%; 
        }
    }
    
    @media (min-width: 360px) and (max-width: 370px) {
        html {
            font-size: 94.5%; 
        }
    }
    
    @media (min-width: 350px) and (max-width: 360px) {
        html {
            font-size: 92%; 
        }
    }
    
    @media (min-width: 340px) and (max-width: 350px) {
        html {
            font-size: 89%; 
        }
    }
    
    @media (min-width: 330px) and (max-width: 340px) {
        html {
            font-size: 87%; 
        }
    }
    
    @media (min-width: 320px) and (max-width: 330px) {
        html {
            font-size: 85%; 
        }
    }
    
    @media (min-width: 310px) and (max-width: 320px) {
        html {
            font-size: 82%; 
        }
    }
    
    @media (min-width: 300px) and (max-width: 310px) {
        html {
            font-size: 80%; 
        }
    }
    
    @media (min-width: 290px) and (max-width: 300px) {
        html {
            font-size: 77%; 
        }
    }
    
    @media (min-width: 280px) and (max-width: 290px) {
        html {
            font-size: 74%; 
        }
    }
    
    @media (min-width: 270px) and (max-width: 280px) {
        html {
            font-size: 72%; 
        }
    }
    
    @media (min-width: 260px) and (max-width: 270px) {
        html {
            font-size: 69%; 
        }
    }
    
    @media (min-width: 250px) and (max-width: 260px) {
        html {
            font-size: 66%; 
        }
    }
    
    @media (min-width: 240px) and (max-width: 250px) {
        html {
            font-size: 64%; 
        }
    }
    
    @media (min-width: 230px) and (max-width: 240px) {
        html {
            font-size: 61%; 
        }
    }
    
    @media (min-width: 220px) and (max-width: 230px) {
        html {
            font-size: 58%; 
        }
    }
    
    @media (min-width: 210px) and (max-width: 220px) {
        html {
            font-size: 55%; 
        }
    }
    
    @media (min-width: 200px) and (max-width: 210px) {
        html {
            font-size: 52%; 
        }
    }
    
    @media (min-width: 190px) and (max-width: 200px) {
        html {
            font-size: 50%; 
        }
    }
    
    @media (min-width: 180px) and (max-width: 190px) {
        html {
            font-size: 48%; 
        }
    }
    
    @media (min-width: 170px) and (max-width: 180px) {
        html {
            font-size: 46%; 
        }
    }
    
    @media (min-width: 160px) and (max-width: 170px) {
        html {
            font-size: 43%; 
        }
    }
    
    @media (min-width: 150px) and (max-width: 160px) {
        html {
            font-size: 40%; 
        }
    }
    
    @media (min-width: 140px) and (max-width: 150px) {
        html {
            font-size: 37%; 
        }
    }
    
    @media (min-width: 130px) and (max-width: 140px) {
        html {
            font-size: 35%; 
        }
    }
    
    @media (min-width: 120px) and (max-width: 130px) {
        html {
            font-size: 33%; 
        }
    }
    
    @media (min-width: 110px) and (max-width: 120px) {
        html {
            font-size: 30%; 
        }
    }
    
    @media (min-width: 100px) and (max-width: 110px) {
        html {
            font-size: 28%; 
        }
    } 

    @media (min-width: 90px) and (max-width: 100px) {
        html {
            font-size: 25%; 
        }
    }

    @media (min-width: 80px) and (max-width: 90px) {
        html {
            font-size: 23%; 
        }
    }

    @media (min-width: 70px) and (max-width: 80px) {
        html {
            font-size: 20%; 
        }
    }

    @media (min-width: 60px) and (max-width: 70px) {
        html {
            font-size: 18%; 
        }
    }

    @media (min-width: 10px) and (max-width: 60px) {
        html {
            font-size: 15%; 
        }
    }
    
    @media (min-width: 400px) and (max-width: 410px) {
        html {
            font-size: 102%; 
        }
    }
    
    @media (min-width: 410px) and (max-width: 420px) {
        html {
            font-size: 105%; 
        }
    }
    
    @media (min-width: 420px) and (max-width: 430px) {
        html {
            font-size: 107%; 
        }
    }
    
    @media (min-width: 430px) and (max-width: 440px) {
        html {
            font-size: 110%; 
        }
    }
    
    @media (min-width: 440px) and (max-width: 450px) {
        html {
            font-size: 113%; 
        }
    }
    
    @media (min-width: 450px) and (max-width: 460px) {
        html {
            font-size: 115%; 
        }
    }
    
    @media (min-width: 460px) and (max-width: 470px) {
        html {
            font-size: 118%; 
        }
    }
    
    @media (min-width: 470px) and (max-width: 480px) {
        html {
            font-size: 120%; 
        }
    }
    
    @media (min-width: 480px) and (max-width: 490px) {
        html {
            font-size: 123%; 
        }
    }
    
    @media (min-width: 490px) and (max-width: 500px) {
        html {
            font-size: 126%; 
        }
    }
    
    @media (min-width: 500px) and (max-width: 510px) {
        html {
            font-size: 128%; 
        }
    }
    
    @media (min-width: 510px) and (max-width: 520px) {
        html {
            font-size: 131%; 
        }
    }
    
    @media (min-width: 520px) and (max-width: 530px) {
        html {
            font-size: 133%; 
        }
    }
    
    @media (min-width: 530px) and (max-width: 540px) {
        html {
            font-size: 136%; 
        }
    }
    
    @media (min-width: 540px) and (max-width: 550px) {
        html {
            font-size: 138%; 
        }
    }
    
    @media (min-width: 550px) and (max-width: 560px) {
        html {
            font-size: 141%; 
        }
    }
    
    @media (min-width: 560px) and (max-width: 570px) {
        html {
            font-size: 144%; 
        }
    }
    
    @media (min-width: 570px) and (max-width: 580px) {
        html {
            font-size: 147%; 
        }
    }
    
    @media (min-width: 580px) and (max-width: 590px) {
        html {
            font-size: 150%; 
        }
    }
    
    @media (min-width: 590px) and (max-width: 600px) {
        html {
            font-size: 152%; 
        }
    }
    
    @media (min-width: 600px) and (max-width: 610px) {
        html {
            font-size: 156%; 
        }
    }

    @media (min-width: 610px) and (max-width: 620px) {
        html {
            font-size: 158%; 
        }
    }
    
    @media (min-width: 620px) and (max-width: 630px) {
        html {
            font-size: 161%; 
        }
    }
    
    @media (min-width: 630px) and (max-width: 640px) {
        html {
            font-size: 164%; 
        }
    }
    
    @media (min-width: 640px) and (max-width: 650px) {
        html {
            font-size: 167%; 
        }
    }
    
    @media (min-width: 650px) and (max-width: 660px) {
        html {
            font-size: 170%; 
        }
    }
    
    @media (min-width: 660px) and (max-width: 670px) {
        html {
            font-size: 172%; 
        }
    }
    
    @media (min-width: 670px) and (max-width: 680px) {
        html {
            font-size: 174%; 
        }
    }
    
    @media (min-width: 680px) and (max-width: 690px) {
        html {
            font-size: 177%; 
        }
    }
    
    @media (min-width: 690px) and (max-width: 700px) {
        html {
            font-size: 180%; 
        }
    }
    
    @media (min-width: 700px) and (max-width: 710px) {
        html {
            font-size: 183%; 
        }
    }
    
    @media (min-width: 710px) and (max-width: 720px) {
        html {
            font-size: 185%; 
        }
    }
    
    @media (min-width: 720px) and (max-width: 730px) {
        html {
            font-size: 188%; 
        }
    }
    
    @media (min-width: 730px) and (max-width: 740px) {
        html {
            font-size: 190%; 
        }
    }
    
    @media (min-width: 740px) and (max-width: 750px) {
        html {
            font-size: 193%; 
        }
    }
    
    @media (min-width: 750px) and (max-width: 760px) {
        html {
            font-size: 196%; 
        }
    }
    
    @media (min-width: 760px) and (max-width: 768px) {
        html {
            font-size: 198%; 
        }
    }
    
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html { 
    scroll-behavior: smooth; 
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
    padding-top: 0rem;
}

.desktop-html {
    display: none;
}

.mobile-html {
    display: block;
    width: 24.375rem;
} 

.m-navbar {
    width: 24.375rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
}

.m-navbar-custom {
    background-color: white;
    padding: .5rem 0;
}

.m-nav-link {
    color: #6c757d;
    font-weight: 500;
}

.m-btn-custom {
    background-color: #C6ABF7;
    color: white;
    border-radius: 1rem;
    padding: .5rem .75rem;
    font-weight: 600;
    border: none;
}

.m-navbar-logo {
    flex-grow: 1;
    margin-left: 1.25rem;
}

.supernest-text {
    font-family: F37 Neuro Trial;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.18125rem;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.ai-text {
    font-family: F37 Neuro Trial;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.18125rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.4); 
}

.m-nav-center {
    flex-grow: 3;
    justify-content: center; 
}

.m-ea-button {
    flex-grow: 1;
    width: 11rem;
    height: 2.25rem;
    margin-left: 2.8125rem;
    padding: 0rem 1rem .125rem 1rem;
    font-size: .75rem;
    margin-top: .15rem;
}

.m-btn-custom {
    font-family: F37 Neuro Trial;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: left;
}

.m-section-1, .section-other {
    width: 22.875rem;
    height: 40rem;
    margin: .75rem auto;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}


.m-carousel-content {
    position: relative;
    text-align: center;
    color: white;
    width: 20.125rem;
    margin-top: 3.5rem;
    margin-left: 1.375rem;
}

.m-logo {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.m-title-gradient {
    margin-top: 1rem;
    font-family: 'F37 Caslon Text Trial';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 2.876rem;
    text-align: center;
    letter-spacing: -0.05rem;
    background: linear-gradient(180deg, #FFFFFF 31.16%, rgba(255, 255, 255, 0.5) 104.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.m-title-gradient1 {
    margin-top: 1rem;
    font-family: 'F37 Caslon Text Trial';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 2.876rem;
    text-align: center;
    letter-spacing: -.2rem !important;
    background: linear-gradient(180deg, #FFFFFF 31.16%, rgba(255, 255, 255, 0.5) 104.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.m-title-gradient1 span {
    color: white;
}

.m-main-title div:last-child {
    font-family: 'F37 Caslon Text Trial';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 2.8rem;
    text-align: center;
    letter-spacing: -0.1rem;
    color: #FFFFFF;
}


.m-phone-input-box {
    position: relative;
    padding-left: 2.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 19.875rem;
    height: 2.5rem;
    background: #FFFFFF;
    box-shadow: .1rem .2rem .5rem .5rem rgba(5, 93, 236, 0.1);
    border-radius: .75rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.m-phone-input-box img {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: -1.5rem;
    margin-right: .5rem;
    opacity: .9;
}

.m-desc {
    width: 17rem;
    height: 1.75rem;
    margin-right: .5rem;
    font-family: 'F37 Neuro Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.25rem;
    border: none;
    outline: none;
    color: #422477;
    opacity: 0.4;
}

.m-phone-input-box ::placeholder {
    color: #422477;
}

.m-phone-input-box .m-smartphone-icon {
    font-size: x-large;
    color: #422477;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-btn-custom-main{
    width: 19.875rem;
    height: 2.5rem;
    padding: 0px 1rem .125rem 1rem;
    gap: .625rem;
    border-radius: 6.25rem;

    background: rgba(244, 238, 253, 1);
    color: rgba(66, 36, 119, 1);
    font-family: F37 Neuro Trial;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: center;
    border: none;
}

.m-request-access .m-request-access1{
    overflow: hidden;
    width: 12.125rem;
    height: 3rem;
    background: #C6ABF7;
    border-radius: 6.25rem;
    justify-content: center;
    align-items: center;
    padding: 0px 0px .125rem;
    gap: .625rem;
}

.m-request-access .m-tab-name .m-request-access1 .m-tab-name1 {
    font-family: 'F37 Neuro Trial';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    display: flex;
    padding: 0;
    align-items: center;
    color: #422477;
}


.m-locations {
    position: relative;
    margin-left: 1.5rem;
    margin-top: 8rem;
    width: 16.9375rem;
    height: 3.5625rem;
    font-family: 'F37 Neuro Trial';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    z-index: 2;
}

/* City labels styles */
.m-city-labels {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 1rem;
    z-index: 3;
}

.m-city-label {
    position: relative;
    width: 7.5rem;
    padding-top: .75rem;
    color: white;
    font-size: .875rem;
    font-weight: 400;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    text-align: left;
}

.m-city-label.active {
    opacity: 1;
}

.m-city-labels-top {
    display: flex;
    flex-direction: row;
    margin-left: -4rem;
}

.m-city-labels-bottom {
    display: flex;
    flex-direction: row;
    margin-left: -4rem;
}

.m-top-image img{
    width: 24rem;
    object-fit: cover;
    border-radius: 1rem;
    opacity: 50%;
}

.m-progress-bar-container {
    height: .125rem;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
}

.m-progress-bar, .m-progress-bar-new {
    height: .125rem;
    background-color: white;
    width: 0;
    transition: width 4s linear;
}

.m-city-label.active .m-progress-bar {
    width: 100%;
}

/* Scrolling shapes animation */
.m-scrolling-shapes {
    width: 24.375rem;
    height: 5rem;
    background-repeat: repeat-x;
    animation: scroll 25s linear infinite;
    z-index: 1;
    margin-top: -4.5rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Stats section styles */
.m-stats-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2.5rem;
    padding: 1.25rem;
    border-radius: .625rem;
}

.m-stat-item {
    text-align: center;
}

.m-stat-number {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: .625rem;
}

.m-stat-label {
    font-size: .875rem;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
}

/* Accordion styles */
.m-accordion-container {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    width: 24.375rem;
    margin: .625rem auto;
}

.m-left-column {
    flex: 2;
}

.m-right-column {
    flex: 3;
    padding-left: 12.5rem;
}

.m-left-column {
    width: 12.5rem;
    height: 4.375rem;
    margin-left: 1.25rem;
}

.m-left-column h1 {
    font-family: F37 Caslon Text Trial;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.16rem;
    letter-spacing: -0.03em;
    text-align: left;    
}

.m-accordion {
    width: 100%;
}

.m-accordion-item {
    margin-bottom: .625rem;
    border-bottom: .0625rem solid #e0e0e0;
}

.m-accordion-header {
    padding: .9375rem .3125rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-accordion-text {
    width: 19.875rem !important;
    height: 3rem;
    flex: 1;
    margin-left: 1.25rem;
    font-family: F37 Neuro Trial;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.51875rem;
    text-align: left;
}

.m-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.m-accordion-content-inner {
    width: 21.875rem;
    height: 4.0625rem;
    margin-left: 1.25rem;
    padding: .625rem;
    font-family: F37 Neuro Trial;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.18125rem;
    letter-spacing: -0.02rem;
    text-align: left;    
}

.m-toggle-icon {
    font-size: x-large;
    color: #696969;
    margin-left: .5rem;
    margin-right: .75rem;
    margin-top: -.5rem;
    transition: transform 0.3s ease;
}

.m-accordion-item.active .m-toggle-icon {
    transform: rotate(45deg);
}

/* New styles for additional sections */
.m-title-gradient-new {
    font-family: 'F37 Caslon Text Trial';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 90%;
    letter-spacing: -0.04rem;
    background: linear-gradient(180deg, #FFFFFF 31.16%, rgba(255, 255, 255, 0.5) 104.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    width: 60%;
}

.m-title-gradient-new span {
    font-family: 'F37 Caslon Text Trial';
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 110%;
    letter-spacing: -0.04rem;
    color: #FFFFFF;
}

.m-carousel-content-new {
    position: relative;
    text-align: left;
    color: white;
    width: 100%;
    padding: 0 1.25rem;
    z-index: 2;
}

.m-locations-new {
    position: relative;
    width: 16.9375rem;
    height: 3.5625rem;
    margin-left: 1.5rem;
    margin-top: .5rem;
    font-family: 'F37 Neuro Trial';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 135%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    z-index: 2;
}

/* City labels styles for new sections */

.m-section-other {
    width: 22.875rem;
    height: 40rem;
    margin: .75rem auto;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.top-image img {
    width: 22.875rem;
    height: 40rem;
    border-radius: 1rem;
}

.m-city-labels-new {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1.25rem;
    z-index: 2;
}

.m-city-label-new {
    flex: 1;
    width: 20rem;
    padding: .75rem 0;
    padding-left: 0rem;
    color: white;
    font-size: .875rem;
    font-weight: 400;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    text-align: left;
}

.m-city-label-new.active {
    opacity: 1;
}

.m-city-labels-new-top {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.m-progress-bar-container-new {
    height: .125rem;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
}

.m-city-label-new.active .m-progress-bar-new {
    width: 100%;
}

.m-scrolling-shapes-new {
    margin-top: -22rem;
    width: 29.375rem;
    height: 6rem;
    background-repeat: repeat-x;
    animation: scroll-reverse 25s linear infinite;
    z-index: 1;
}

@keyframes scroll-reverse {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50%);
    }
}

.m-title-gradient-new21 {
    margin-top: 16rem;
    font-family: F37 Caslon Text Trial;
    font-size: 3rem;
    font-weight: 600;
    line-height: 2.88rem;
    letter-spacing: -0.04rem;
    text-align: left;
}

.m-title-gradient-new22 {
    font-family: F37 Caslon Text Trial;
    font-size: 3rem;
    font-weight: 600;
    line-height: 2.88rem;
    letter-spacing: -0.04rem;
    text-align: left;
}

/* Tenant and property manager section styles */
.m-tenants, .m-propertymanagers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 24.375rem;
    margin: 1.25rem auto;
}

.m-btn-custom-tenant{
    background-color: #C6ABF7;
    color: white;
    border-radius: 3.125rem;
    padding: .5rem 1.25rem;
    font-weight: 600;
    border: none;
}

.m-btn-custom-prop{
    background-color: #C6ABF7;
    color: white;
    border-radius: 3.125rem;
    padding: .5rem 1.25rem;
    font-weight: 600;
    border: none;
}

.m-content {
    flex: 1;
    padding: 1.25rem;
    transition: opacity 0.3s ease-in-out;
}

.m-font {
    width: 21.1125rem;
    height: 4.375rem;
    font-family: F37 Caslon Text Trial;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.16rem;
    letter-spacing: -0.1rem;
    text-align: left;    
}

.m-small {
    width: 16.9375rem;
    height: 3.5625rem;
    gap: 0px;
    margin-top: 1.25rem;
    font-family: F37 Neuro Trial;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.18125rem;
    letter-spacing: -0.01rem;
    text-align: left;
}

.m-head {
    font-style: normal;
    color: #000000;
    margin-top: 1rem;
    opacity: 0.6;
    width: 11.5625rem;
    height: 1.1875rem;
    opacity: 0.6;
    font-family: F37 Neuro Trial;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.18125rem;
    text-align: left;
}

.m-labels {
    height: 2.6875rem;
    display: flex;
    flex-direction: column;
    opacity: 1; 
    z-index:1000;
    margin-bottom: 3rem;
}

.m-labels-top {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.m-labels-bottom {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.m-labels a {
    text-decoration: none;
    color: #000;
    display: block;
    text-align: left;
    width: 9.75rem;
    height: 2.6875rem;
    padding: .75rem 0px .75rem 0px;
    gap: .5rem;
    border: .0625rem 0rem 0rem 0rem;

    font-family: F37 Neuro Trial;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.18125rem;
    text-align: left;
}

.m-labels a::after {
    content: '';
    display: block;
    width: 100%;
    height: .125rem;
    background-color: #ccc;
    transition: width 0.3s ease; 
}

.m-labels a.active {
    font-weight: bold;
}

.m-labels a.m-active::after {
    background-color: #000; 
    animation: line-fill 5s forwards;
}

@keyframes line-fill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.m-tenantSection, .m-propertySection {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.m-tenantSection.hidden, .m-propertySection.hidden {
    opacity: 0;
    visibility: hidden;
}

.m-propertyhead {
    font-style: normal;
    margin-top:150px;
    color: #000000;
    opacity: 0.6;
    width: 11.625rem;
    height: 1.1875rem;

    font-family: F37 Neuro Trial;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.18125rem;
    text-align: left;
}

.m-containertl{
    width: 100%;
    box-sizing: border-box;
    margin: 1.25rem auto;
    display: flex;
    justify-content: space-around;
    height: 35rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.m-tl-container{
    width: 24.375rem;
    height: 35rem;
    flex-shrink: 0;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    color: rgb(0, 0, 0);
    background-clip: border-box;
    background-attachment: scroll;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    border-top-left-radius: 25rem;
    border-top-right-radius: 25rem;
}

.m-step {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex: 1;
    padding: 0 .625rem;
}

.m-step-text {
    display: flex;
    flex-direction: column;
}

.m-step-number1 {
    margin-top: 3.5rem;
    width: 3rem;
    height: 2.5rem;
    font-size: .875rem;
    padding-top: .5rem;
    color: #1c1a1a;
    background-color: #ddd;
    border: .125rem solid #ddd;
    border-radius: 1rem;
}

.m-step-number2 {
       width: 3rem;
       height: 2.5rem;
       font-size: .875rem;
       padding-top: .5rem;
       color: #1c1a1a;
       background-color: #ddd;
       border: .125rem solid #ddd;
       border-radius: 1rem;
   }

   .m-step-number3 {
    width: 3rem;
    height: 2.5rem;
    font-size: .875rem;
    padding-top: .5rem;
    color: #1c1a1a;
    background-color: #ddd;
    border: .125rem solid #ddd;
    border-radius: 1rem;
}

.m-mid1 {
     color: #333;
     margin-top: 3.5rem;
     width: 15rem;
     height: 3.875rem;
     gap: 0rem;

     font-family: 'F37 Caslon Text Trial', serif;
     font-size: 2rem;
     font-weight: 600;
     line-height: 1.92rem;
     letter-spacing: -0.09rem;
     text-align: center;
     z-index: 3;
}

.m-mid2 {
     color: #333;
     margin: .625rem 0;
     width: 15rem;
     height: 3.875rem;
     gap: 0rem;

     font-family: 'F37 Caslon Text Trial', serif;
     font-size: 2rem;
     font-weight: 600;
     line-height: 1.92rem;
     letter-spacing: -0.11rem;
     text-align: center;
     z-index: 3;
 }

 .m-mid3 {
    color: #333;
    margin: .625rem 0;
    width: 17.25rem;
    height: 3.875rem;
    gap: 0rem;

    font-family: 'F37 Caslon Text Trial', serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.92rem;
    letter-spacing: -0.15rem;
    text-align: center;
    z-index: 3;
}

.m-down1 {
    color: #666;
    margin: 0;
    width: 12.5rem;
    height: 2.375rem;
    gap: 0px;

    font-family: 'F37 Neuro Trial', sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.18125rem;
    letter-spacing: -0.02rem;
    text-align: center;
    z-index: 3;
}

.m-down2 {
    color: #666;
    margin: 0;
    width: 12.5rem;
    height: 2.375rem;
    gap: 0px;
    
    font-family: 'F37 Neuro Trial', sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.18125rem;
    letter-spacing: -0.02rem;
    text-align: center;
    z-index: 3;
}

.m-down3 {
    color: #666;
    margin: 0;
    width: 12.5rem;
    height: 2.375rem;
    gap: 0px;

    font-family: 'F37 Neuro Trial', sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.18125rem;
    letter-spacing: -0.02rem;
    text-align: center;
    z-index: 3;
}


.m-image-container {
    width: 22.875rem;
    height: 17.5rem;
    overflow: hidden;
    border-radius: 1rem;
    background-color: #f0f0f0;
}

.m-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.m-footerbg-light{
    box-sizing: border-box;
    display: flex;
    margin-left: .75rem;
}

.m-container-footer{
    width: 24.375rem;
    height: 25.25rem;
    padding-top: 4rem;
    margin-bottom: .75rem;
    flex-shrink: 0;
    background: linear-gradient(to bottom, #ffffff, #c6abf7);
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    text-size-adjust: 100%;
    color: rgb(33, 37, 41);
    background-clip: border-box;
    background-attachment: scroll;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.m-copyright{
    display: flex;
    justify-content: center;
}

.m-scrolling-shapes{
    width: 200%;
    height: 9.375rem;
    background-repeat: repeat-x;
    animation: scroll 25s linear infinite;
    z-index: 0;
    margin-top: -3.4rem;
}

.m-logoandtitle{
    display: flex;
    gap: .5rem;
}

.m-topf{
    color: #000;
    font-style: normal;
    font-weight: 400;
    width: 4.9375rem;
    height: 1.1875rem;
    gap: 0px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .875rem;
    line-height: 1.18125rem;
    text-align: center;
}
    

.m-midf{
    color: #000;
    margin-top: 1.25rem;
    width: 16.9375rem;
    height: 3.5625rem;
    opacity: 0.7;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.18125rem;
    text-align: center;
}

.m-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 7.5rem;
    margin-top: .625rem;
}

.m-phone-input-box11 {
    width: 20rem;
    height: 2.5rem;
    border-radius: .5rem;
    padding: .5rem .5rem .5rem .625rem;
    display: flex;
    align-items: left;
    padding-right: 4.5rem;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: .125rem .25rem 3rem .75rem rgba(5, 93, 236, 0.1);
    border-radius: .75rem;
    margin-bottom: .5rem;
}

.m-phone-input-box11 input{
    border: none;
    outline: none;
}

.m-phone-input-box11 img {
    width: 1.5rem;
    height: 1.5rem;
}

.m-desc11 {
    color: black;
    opacity: 1;
    width: 20rem;
    height: 2.5rem;

    font-family: 'F37 Neuro Trial';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
    color: black;
}

.m-phone-input-box1 ::placeholder {
    color: #422477;
}

.m-phone-input-box1 .m-smartphone-icon {
    font-size: x-large;
    color: #422477;
}

.m-request-access1 {
    background: #e8e3f2;
    display: flex;
    flex-direction: column;
    padding: 0px 1rem .125rem;
    gap: .625rem;
    width: 10.8125rem;
    height: 2.5rem;
    padding: 0px 1rem .15rem 1rem;
    padding-top: .5rem;
    padding-left: 1.35rem;
    gap: .625rem;
    border-radius: 6.25rem;

    font-family: 'F37 Neuro Trial';
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: left;
    z-index:3;
}

.m-request-access1 .m-tab-name {
    font-family: 'F37 Neuro Trial';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    color: #422477;
}

.m-symbols{
    display: flex;
    gap: 1.25rem;
    margin-top: 1.375rem;
    margin-bottom: .75rem;
    justify-content: center;
}

.m-insta-icon:hover{
    background-color: rgb(249, 242, 242);
    opacity: 1;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 30%;
}

.m-whatsapp-icon:hover{
    background-color: rgb(249, 242, 242);
    opacity: 1;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 30%;
}

.m-mail-icon:hover{
    background-color: rgb(249, 242, 242);
    opacity: 1;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 30%;
}

}