@media (min-width: 770px) {
   html {
       font-size: 44.6%;
   }
}

@media (min-width: 780px) {
   html {
       font-size: 45.15%;
   }
}

@media (min-width: 790px) {
   html {
       font-size: 45.7%;
   }
}

@media (min-width: 800px) {
   html {
       font-size: 46.25%;
   }
}

@media (min-width: 810px) {
   html {
       font-size: 46.8%;
   }
}

@media (min-width: 820px) {
   html {
       font-size: 47.4%;
   }
}

@media (min-width: 830px) {
   html {
       font-size: 47.95%;
   }
}

@media (min-width: 840px) {
   html {
       font-size: 48.55%;
   }
}

@media (min-width: 850px) {
   html {
       font-size: 49.2%;
   }
}

@media (min-width: 860px) {
   html {
       font-size: 49.75%;
   }
}

@media (min-width: 870px) {
   html {
       font-size: 50.3%;
   }
}

@media (min-width: 880px) {
   html {
       font-size: 50.85%;
   }
}

@media (min-width: 890px) {
   html {
       font-size: 51.5%;
   }
}

@media (min-width: 900px) {
   html {
       font-size: 52.1%;
   }
}

@media (min-width: 910px) {
   html {
       font-size: 52.6%;
   }
}

@media (min-width: 920px) {
   html {
       font-size: 53.2%;
   }
}

@media (min-width: 930px) {
   html {
       font-size: 53.85%;
   }
}

@media (min-width: 940px) {
   html {
       font-size: 54.4%;
   }
}

@media (min-width: 950px) {
   html {
       font-size: 55%;
   }
}

@media (min-width: 960px) {
   html {
       font-size: 55.55%;
   }
}

@media (min-width: 970px) {
   html {
       font-size: 56.15%;
   }
}

@media (min-width: 980px) {
   html {
       font-size: 56.7%;
   }
}

@media (min-width: 990px) {
   html {
       font-size: 57.25%;
   }
}

@media (min-width: 1000px) {
   html {
       font-size: 57.8%;
   }
}

@media (min-width: 1010px) {
   html {
       font-size: 58.45%;
   }
}

@media (min-width: 1020px) {
   html {
       font-size: 59%;
   }
}

@media (min-width: 1030px) {
   html {
       font-size: 59.55%;
   }
}

@media (min-width: 1040px) {
   html {
       font-size: 60.2%;
   }
}

@media (min-width: 1050px) {
   html {
       font-size: 60.7%;
   }
}

@media (min-width: 1060px) {
   html {
       font-size: 61.3%;
   }
}

@media (min-width: 1070px) {
   html {
       font-size: 61.85%;
   }
}

@media (min-width: 1080px) {
   html {
       font-size: 62.4%;
   }
}

@media (min-width: 1090px) {
   html {
       font-size: 63.1%;
   }
}

@media (min-width: 1100px) {
   html {
       font-size: 63.6%;
   }
}

@media (min-width: 1110px) {
   html {
       font-size: 64.2%;
   }
}

@media (min-width: 1120px) {
   html {
       font-size: 64.8%;
   }
}

@media (min-width: 1130px) {
   html {
       font-size: 65.4%;
   }
}

@media (min-width: 1140px) {
   html {
       font-size: 66%;
   }
}

@media (min-width: 1150px) {
   html {
       font-size: 66.55%;
   }
}

@media (min-width: 1160px) {
   html {
       font-size: 67.1%;
   }
}

@media (min-width: 1170px) {
   html {
       font-size: 67.65%;
   }
}

@media (min-width: 1180px) {
   html {
       font-size: 68.2%;
   }
}

@media (min-width: 1190px) {
   html {
       font-size: 68.85%;
   }
}

@media (min-width: 1200px) {
   html {
       font-size: 69.35%;
   }
}

@media (min-width: 1210px) {
   html {
       font-size: 70%;
   }
}

@media (min-width: 1220px) {
   html {
       font-size: 70.6%;
   }
}

@media (min-width: 1230px) {
   html {
       font-size: 71.15%;
   }
}

@media (min-width: 1240px) {
   html {
       font-size: 71.7%;
   }
}

@media (min-width: 1250px) {
   html {
       font-size: 72.3%;
   }
}

@media (min-width: 1260px) {
   html {
       font-size: 72.85%;
   }
}

@media (min-width: 1270px) {
   html {
       font-size: 73.5%;
   }
}

@media (min-width: 1280px) {
   html {
       font-size: 74.05%;
   }
}

@media (min-width: 1290px) {
   html {
       font-size: 74.6%;
   }
}

@media (min-width: 1300px) {
   html {
       font-size: 75.15%;
   }
}

@media (min-width: 1310px) {
   html {
       font-size: 75.85%;
   }
}

@media (min-width: 1320px) {
   html {
       font-size: 76.4%;
   }
}

@media (min-width: 1330px) {
   html {
       font-size: 77%;
   }
}

@media (min-width: 1340px) {
   html {
       font-size: 77.6%;
   }
}

@media (min-width: 1350px) {
   html {
       font-size: 78.15%;
   }
}

@media (min-width: 1360px) {
   html {
       font-size: 78.7%;
   }
}

@media (min-width: 1370px) {
   html {
       font-size: 79.25%;
   }
}

@media (min-width: 1380px) {
   html {
       font-size: 79.8%;
   }
}

@media (min-width: 1390px) {
   html {
       font-size: 80.45%;
   }
}

@media (min-width: 1400px) {
   html {
       font-size: 81%;
   }
}

@media (min-width: 1410px) {
   html {
       font-size: 81.65%;
   }
}

@media (min-width: 1420px) {
   html {
       font-size: 82.1%;
   }
}

@media (min-width: 1430px) {
   html {
       font-size: 82.65%;
   }
}

@media (min-width: 1440px) {
   html {
       font-size: 83.25%;
   }
}

@media (min-width: 1450px) {
   html {
       font-size: 83.8%;
   }
}

@media (min-width: 1460px) {
   html {
       font-size: 84.5%;
   }
}

@media (min-width: 1470px) {
   html {
       font-size: 85.1%;
   }
}

@media (min-width: 1480px) {
   html {
       font-size: 85.65%;
   }
}

@media (min-width: 1490px) {
   html {
       font-size: 86.3%;
   }
}

@media (min-width: 1500px) {
   html {
       font-size: 86.8%;
   }
}

@media (min-width: 1510px) {
   html {
       font-size: 87.3%;
   }
}

@media (min-width: 1520px) {
   html {
       font-size: 88.05%;
   }
}

@media (min-width: 1530px) {
   html {
       font-size: 88.6%;
   }
}

@media (min-width: 1540px) {
   html {
       font-size: 89.15%;
   }
}

@media (min-width: 1550px) {
   html {
       font-size: 89.7%;
   }
}

@media (min-width: 1560px) {
   html {
       font-size: 90.25%;
   }
}

@media (min-width: 1570px) {
   html {
       font-size: 90.8%;
   }
}

@media (min-width: 1580px) {
   html {
       font-size: 91.35%;
   }
}

@media (min-width: 1590px) {
   html {
       font-size: 91.9%;
   }
}

@media (min-width: 1600px) {
   html {
       font-size: 92.45%;
   }
}

@media (min-width: 1610px) {
   html {
       font-size: 93.1%;
   }
}

@media (min-width: 1620px) {
   html {
       font-size: 93.65%;
   }
}

@media (min-width: 1630px) {
   html {
       font-size: 94.25%;
   }
}

@media (min-width: 1640px) {
   html {
       font-size: 94.8%;
   }
}

@media (min-width: 1650px) {
   html {
       font-size: 95.4%;
   }
}

@media (min-width: 1660px) {
   html {
       font-size: 95.95%;
   }
}

@media (min-width: 1670px) {
   html {
       font-size: 96.55%;
   }
}

@media (min-width: 1680px) {
   html {
       font-size: 97.25%;
   }
}

@media (min-width: 1690px) {
   html {
       font-size: 97.85%;
   }
}

@media (min-width: 1700px) {
   html {
       font-size: 98.3%;
   }
}

@media (min-width: 1710px) {
   html {
       font-size: 98.85%;
   }
}

@media (min-width: 1720px) {
   html {
       font-size: 99.4%;
   }
}

@media (min-width: 1730px) {
   html {
       font-size: 100%;
   }
}

@media (min-width: 1740px) {
   html {
       font-size: 100.7%;
   }
}

@media (min-width: 1750px) {
   html {
       font-size: 101.25%;
   }
}

@media (min-width: 1760px) {
   html {
       font-size: 101.8%;
   }
}

@media (min-width: 1770px) {
   html {
       font-size: 102.35%;
   }
}

@media (min-width: 1780px) {
   html {
       font-size: 102.9%;
   }
}

@media (min-width: 1790px) {
   html {
       font-size: 103.45%;
   }
}

@media (min-width: 1800px) {
   html {
       font-size: 104%;
   }
}

@media (min-width: 1810px) {
   html {
       font-size: 104.7%;
   }
}

@media (min-width: 1820px) {
   html {
       font-size: 105.25%;
   }
}

@media (min-width: 1830px) {
   html {
       font-size: 105.8%;
   }
}

@media (min-width: 1840px) {
   html {
       font-size: 106.5%;
   }
}

@media (min-width: 1850px) {
   html {
       font-size: 107%;
   }
}

@media (min-width: 1860px) {
   html {
       font-size: 107.65%;
   }
}

@media (min-width: 1870px) {
   html {
       font-size: 108.2%;
   }
}

@media (min-width: 1880px) {
   html {
       font-size: 108.8%;
   }
}

@media (min-width: 1890px) {
   html {
       font-size: 109.3%;
   }
}

@media (min-width: 1900px) {
   html {
       font-size: 109.9%;
   }
}

@media (min-width: 1910px) {
   html {
       font-size: 110.5%;
   }
}

@media (min-width: 1920px) {
   html {
       font-size: 111.05%;
   }
}

@media (min-width: 1930px) {
   html {
       font-size: 111.7%;
   }
}

@media (min-width: 1940px) {
   html {
       font-size: 112.25%;
   }
}


@media (min-width: 1950px) {
   html {
       font-size: 112.8%;
   }
}

@media (min-width: 1960px) {
   html {
       font-size: 113.4%;
   }
}

@media (min-width: 1970px) {
   html {
       font-size: 114%;
   }
}

@media (min-width: 1980px) {
   html {
       font-size: 114.45%;
   }
}

@media (min-width: 1990px) {
   html {
       font-size: 115%;
   }
}

@media (min-width: 2000px) {
   html {
       font-size: 115.55%;
   }
}

@media (min-width: 2010px) {
   html {
       font-size: 116.1%;
   }
}

@media (min-width: 2020px) {
   html {
       font-size: 116.65%;
   }
}

@media (min-width: 2030px) {
   html {
       font-size: 117.75%;
   }
}

@media (min-width: 2040px) {
   html {
       font-size: 118.3%;
   }
}

@media (min-width: 2050px) {
   html {
       font-size: 118.85%;
   }
}

@media (min-width: 2060px) {
   html {
       font-size: 119.4%;
   }
}

@media (min-width: 2070px) {
   html {
       font-size: 119.95%;
   }
}

@media (min-width: 2080px) {
   html {
       font-size: 120.5%;
   }
}

@media (min-width: 2090px) {
   html {
       font-size: 121.05%;
   }
}

@media (min-width: 2100px) {
   html {
       font-size: 121.6%;
   }
}

@media (min-width: 2110px) {
   html {
       font-size: 122.15%;
   }
}

@media (min-width: 2120px) {
   html {
       font-size: 122.7%;
   }
}

@media (min-width: 2130px) {
   html {
       font-size: 123.25%;
   }
}

@media (min-width: 2140px) {
   html {
       font-size: 123.8%;
   }
}

@media (min-width: 2150px) {
   html {
       font-size: 124.9%;
   }
}

@media (min-width: 2160px) {
   html {
       font-size: 125.45%;
   }
}

@media (min-width: 2170px) {
   html {
       font-size: 126%;
   }
}

@media (min-width: 2180px) {
   html {
       font-size: 126.55%;
   }
}

@media (min-width: 2190px) {
   html {
       font-size: 127.1%;
   }
}

@media (min-width: 2200px) {
   html {
       font-size: 127.65%;
   }
}

@media (min-width: 2210px) {
   html {
       font-size: 128.2%;
   }
}

@media (min-width: 2220px) {
   html {
       font-size: 128.75%;
   }
}

@media (min-width: 2230px) {
   html {
       font-size: 129.3%;
   }
}

@media (min-width: 2240px) {
   html {
       font-size: 129.85%;
   }
}

@media (min-width: 2250px) {
   html {
       font-size: 130.4%;
   }
}

@media (min-width: 2260px) {
   html {
       font-size: 130.95%;
   }
}

@media (min-width: 2270px) {
   html {
       font-size: 131.5%;
   }
}

@media (min-width: 2280px) {
   html {
       font-size: 132.05%;
   }
}

@media (min-width: 2290px) {
   html {
       font-size: 132.6%;
   }
}

@media (min-width: 2300px) {
   html {
       font-size: 133.15%;
   }
}

@media (min-width: 2310px) {
   html {
       font-size: 133.7%;
   }
}

@media (min-width: 2320px) {
   html {
       font-size: 134.25%;
   }
}

@media (min-width: 2330px) {
   html {
       font-size: 134.8%;
   }
}

@media (min-width: 2340px) {
   html {
       font-size: 135.35%;
   }
}

@media (min-width: 2350px) {
   html {
       font-size: 135.9%;
   }
}

@media (min-width: 2360px) {
   html {
       font-size: 136.45%;
   }
}

@media (min-width: 2370px) {
   html {
       font-size: 137%;
   }
}

@media (min-width: 2380px) {
   html {
       font-size: 137.55%;
   }
}

@media (min-width: 2390px) {
   html {
       font-size: 138.1%;
   }
}

@media (min-width: 2400px) {
   html {
       font-size: 138.65%;
   }
}

@media (min-width: 2410px) {
   html {
       font-size: 139.2%;
   }
}

@media (min-width: 2420px) {
   html {
       font-size: 139.75%;
   }
}

@media (min-width: 2430px) {
   html {
       font-size: 140.3%;
   }
}

@media (min-width: 2440px) {
   html {
       font-size: 140.85%;
   }
}

@media (min-width: 2450px) {
   html {
       font-size: 141.4%;
   }
}
