@media (min-width: 770px) {
   html{
      font-size: 49%;
   }
}

@media (min-width: 900px) {
   html{
      font-size: 60%;
   }
}

@media (min-width: 1100px) {
   html{
      font-size: 71%;
   }
}

@media (min-width: 1300px) {
   html{
      font-size: 85%;
   }
}

@media (min-width: 1700px) {
    html{
       font-size: 110%;
    }
}

@media (min-width: 1900px) {
    html{
       font-size: 120%;
    }
}

@media (min-width: 2100px) {
    html{
       font-size: 130%;
    }
}

@media (min-width: 2300px) {
    html{
       font-size: 140%;
    }
}

@media (min-width: 2500px) {
    html{
       font-size: 150%;
    }
}

@media (min-width: 2700px) {
 html{
    font-size: 160%;
 }
}

@media (min-width: 2900px) {
   html{
      font-size: 170%;
   }
  }

  @media (min-width: 3100px) {
   html{
      font-size: 180%;
   }
  }

  @media (min-width: 3300px) {
   html{
      font-size: 190%;
   }
  }

  @media (min-width: 3500px) {
   html{
      font-size: 200%;
   }
  }