@media (min-width: 1930px) and (max-width: 1939px) {
    html {
        font-size: 100.5%;
    }
 }
 
 @media (min-width: 1940px) and (max-width: 1949px) {
    html {
        font-size: 101%;
    }
 }
 
 @media (min-width: 1950px) and (max-width: 1959px) {
    html {
        font-size: 101.5%;
    }
 }
 
 @media (min-width: 1960px) and (max-width: 1969px) {
    html {
        font-size: 102%;
    }
 }
 
 @media (min-width: 1970px) and (max-width: 1979px) {
    html {
        font-size: 102.5%;
    }
 }
 
 @media (min-width: 1980px) and (max-width: 1989px) {
    html {
        font-size: 103%;
    }
 }
 
 @media (min-width: 1990px) and (max-width: 1999px) {
    html {
        font-size: 103.5%;
    }
 }
 
 @media (min-width: 2000px) and (max-width: 2009px) {
    html {
        font-size: 104%;
    }
 }
 
 @media (min-width: 2010px) and (max-width: 2019px) {
    html {
        font-size: 104.5%;
    }
 }
 
 @media (min-width: 2020px) and (max-width: 2029px) {
    html {
        font-size: 105%;
    }
 }
 
 @media (min-width: 2030px) and (max-width: 2039px) {
    html {
        font-size: 105.5%;
    }
 }
 
 @media (min-width: 2040px) and (max-width: 2049px) {
    html {
        font-size: 106%;
    }
 }
 
 @media (min-width: 2050px) and (max-width: 2059px) {
    html {
        font-size: 106.5%;
    }
 }
 
 @media (min-width: 2060px) and (max-width: 2069px) {
    html {
        font-size: 107%;
    }
 }
 
 @media (min-width: 2070px) and (max-width: 2079px) {
    html {
        font-size: 107.5%;
    }
 }
 
 @media (min-width: 2080px) and (max-width: 2089px) {
    html {
        font-size: 108%;
    }
 }
 
 @media (min-width: 2090px) and (max-width: 2099px) {
    html {
        font-size: 108.5%;
    }
 }
 
 @media (min-width: 2100px) and (max-width: 2109px) {
    html {
        font-size: 109%;
    }
 }
 
 @media (min-width: 2110px) and (max-width: 2119px) {
    html {
        font-size: 109.5%;
    }
 }
 
 @media (min-width: 2120px) and (max-width: 2129px) {
    html {
        font-size: 110%;
    }
 }
 
 @media (min-width: 2130px) and (max-width: 2139px) {
    html {
        font-size: 110.5%;
    }
 }
 
 @media (min-width: 2140px) and (max-width: 2149px) {
    html {
        font-size: 111%;
    }
 }
 
 @media (min-width: 2150px) and (max-width: 2159px) {
    html {
        font-size: 111.5%;
    }
 }
 
 @media (min-width: 2160px) and (max-width: 2169px) {
    html {
        font-size: 112%;
    }
 }
 
 @media (min-width: 2170px) and (max-width: 2179px) {
    html {
        font-size: 112.5%;
    }
 }
 
 @media (min-width: 2180px) and (max-width: 2189px) {
    html {
        font-size: 113%;
    }
 }
 
 @media (min-width: 2190px) and (max-width: 2199px) {
    html {
        font-size: 113.5%;
    }
 }
 
 @media (min-width: 2200px) and (max-width: 2209px) {
    html {
        font-size: 114%;
    }
 }
 
 @media (min-width: 2210px) and (max-width: 2219px) {
    html {
        font-size: 114.5%;
    }
 }
 
 @media (min-width: 2220px) and (max-width: 2229px) {
    html {
        font-size: 115%;
    }
 }
 
 @media (min-width: 2230px) and (max-width: 2239px) {
    html {
        font-size: 115.5%;
    }
 }
 
 @media (min-width: 2240px) and (max-width: 2249px) {
    html {
        font-size: 116%;
    }
 }
 
 @media (min-width: 2250px) and (max-width: 2259px) {
    html {
        font-size: 116.5%;
    }
 }
 
 @media (min-width: 2260px) and (max-width: 2269px) {
    html {
        font-size: 117%;
    }
 }
 
 @media (min-width: 2270px) and (max-width: 2279px) {
    html {
        font-size: 117.5%;
    }
 }
 
 @media (min-width: 2280px) and (max-width: 2289px) {
    html {
        font-size: 118%;
    }
 }
 
 @media (min-width: 2290px) and (max-width: 2299px) {
    html {
        font-size: 118.5%;
    }
 }
 
 @media (min-width: 2300px) and (max-width: 2309px) {
    html {
        font-size: 119%;
    }
 }
 
 @media (min-width: 2310px) and (max-width: 2319px) {
    html {
        font-size: 119.5%;
    }
 }
 
 @media (min-width: 2320px) and (max-width: 2329px) {
    html {
        font-size: 120%;
    }
 }
 
 @media (min-width: 2330px) and (max-width: 2339px) {
    html {
        font-size: 120.5%;
    }
 }
 
 @media (min-width: 2340px) and (max-width: 2349px) {
    html {
        font-size: 121%;
    }
 }
 
 @media (min-width: 2350px) and (max-width: 2359px) {
    html {
        font-size: 121.5%;
    }
 }
 
 @media (min-width: 2360px) and (max-width: 2369px) {
    html {
        font-size: 122%;
    }
 }
 
 @media (min-width: 2370px) and (max-width: 2379px) {
    html {
        font-size: 122.5%;
    }
 }
 
 @media (min-width: 2380px) and (max-width: 2389px) {
    html {
        font-size: 123%;
    }
 }
 
 @media (min-width: 2390px) and (max-width: 2399px) {
    html {
        font-size: 123.5%;
    }
 }
 
 @media (min-width: 2400px) and (max-width: 2409px) {
    html {
        font-size: 124%;
    }
 }
 
 @media (min-width: 2410px) and (max-width: 2419px) {
    html {
        font-size: 124.5%;
    }
 }
 
 @media (min-width: 2420px) and (max-width: 2429px) {
    html {
        font-size: 125%;
    }
 }
 
 @media (min-width: 2430px) and (max-width: 2439px) {
    html {
        font-size: 125.5%;
    }
 }
 
 @media (min-width: 2440px) and (max-width: 2449px) {
    html {
        font-size: 126%;
    }
 }
 
 @media (min-width: 2450px) and (max-width: 2459px) {
    html {
        font-size: 126.5%;
    }
 }
 
 @media (min-width: 2460px) and (max-width: 2469px) {
    html {
        font-size: 127%;
    }
 }
 
 @media (min-width: 2470px) and (max-width: 2479px) {
    html {
        font-size: 127.5%;
    }
 }
 
 @media (min-width: 2480px) and (max-width: 2489px) {
    html {
        font-size: 128%;
    }
 }
 
 @media (min-width: 2490px) and (max-width: 2499px) {
    html {
        font-size: 128.5%;
    }
 }
 
 @media (min-width: 2500px) and (max-width: 2509px) {
    html {
        font-size: 129%;
    }
 }
 
 @media (min-width: 2510px) and (max-width: 2519px) {
    html {
        font-size: 129.5%;
    }
 }
 
 @media (min-width: 2520px) and (max-width: 2529px) {
    html {
        font-size: 130%;
    }
 }
 
 @media (min-width: 2530px) and (max-width: 2539px) {
    html {
        font-size: 130.5%;
    }
 }
 
 @media (min-width: 2540px) and (max-width: 2549px) {
    html {
        font-size: 131%;
    }
 }
 
 @media (min-width: 2550px) and (max-width: 2559px) {
    html {
        font-size: 131.5%;
    }
 }
 
 @media (min-width: 2560px) and (max-width: 2569px) {
    html {
        font-size: 132%;
    }
 }
 
 @media (min-width: 2570px) and (max-width: 2579px) {
    html {
        font-size: 132.5%;
    }
 }
 
 @media (min-width: 2580px) and (max-width: 2589px) {
    html {
        font-size: 133%;
    }
 }
 
 @media (min-width: 2590px) and (max-width: 2599px) {
    html {
        font-size: 133.5%;
    }
 }
 
 @media (min-width: 2600px) and (max-width: 2609px) {
    html {
        font-size: 134%;
    }
 }
 
 @media (min-width: 2610px) and (max-width: 2619px) {
    html {
        font-size: 134.5%;
    }
 }
 
 @media (min-width: 2620px) and (max-width: 2629px) {
    html {
        font-size: 135%;
    }
 }
 
 @media (min-width: 2630px) and (max-width: 2639px) {
    html {
        font-size: 135.5%;
    }
 }
 
 @media (min-width: 2640px) and (max-width: 2649px) {
    html {
        font-size: 136%;
    }
 }
 
 @media (min-width: 2650px) and (max-width: 2659px) {
    html {
        font-size: 136.5%;
    }
 }
 
 @media (min-width: 2660px) and (max-width: 2669px) {
    html {
        font-size: 137%;
    }
 }
 
 @media (min-width: 2670px) and (max-width: 2679px) {
    html {
        font-size: 137.5%;
    }
 }
 
 @media (min-width: 2680px) and (max-width: 2689px) {
    html {
        font-size: 138%;
    }
 }
 
 @media (min-width: 2690px) and (max-width: 2699px) {
    html {
        font-size: 138.5%;
    }
 }
 
 @media (min-width: 2700px) and (max-width: 2709px) {
    html {
        font-size: 139%;
    }
 }
 
 @media (min-width: 2710px) and (max-width: 2719px) {
    html {
        font-size: 139.5%;
    }
 }
 
 @media (min-width: 2720px) and (max-width: 2729px) {
    html {
        font-size: 140%;
    }
 }
 
 @media (min-width: 2730px) and (max-width: 2739px) {
    html {
        font-size: 140.5%;
    }
 }
 
 @media (min-width: 2740px) and (max-width: 2749px) {
    html {
        font-size: 141%;
    }
 }
 
 @media (min-width: 2750px) and (max-width: 2759px) {
    html {
        font-size: 141.5%;
    }
 }
 
 @media (min-width: 2760px) and (max-width: 2769px) {
    html {
        font-size: 142%;
    }
 }
 
 @media (min-width: 2770px) and (max-width: 2779px) {
    html {
        font-size: 142.5%;
    }
 }
 
 @media (min-width: 2780px) and (max-width: 2789px) {
    html {
        font-size: 143%;
    }
 }
 
 @media (min-width: 2790px) and (max-width: 2799px) {
    html {
        font-size: 143.5%;
    }
 }
 
 @media (min-width: 2800px) and (max-width: 2809px) {
    html {
        font-size: 144%;
    }
 }
 
 @media (min-width: 2810px) and (max-width: 2819px) {
    html {
        font-size: 144.5%;
    }
 }
 
 @media (min-width: 2820px) and (max-width: 2829px) {
    html {
        font-size: 145%;
    }
 }
 
 @media (min-width: 2830px) and (max-width: 2839px) {
    html {
        font-size: 145.5%;
    }
 }
 
 @media (min-width: 2840px) and (max-width: 2849px) {
    html {
        font-size: 146%;
    }
 }
 
 @media (min-width: 2850px) and (max-width: 2859px) {
    html {
        font-size: 146.5%;
    }
 }
 
 @media (min-width: 2860px) and (max-width: 2869px) {
    html {
        font-size: 147%;
    }
 }
 
 @media (min-width: 2870px) and (max-width: 2879px) {
    html {
        font-size: 147.5%;
    }
 }
 
 @media (min-width: 2880px) and (max-width: 2889px) {
    html {
        font-size: 148%;
    }
 }
 
 @media (min-width: 2890px) and (max-width: 2899px) {
    html {
        font-size: 148.5%;
    }
 }
 
 @media (min-width: 2900px) and (max-width: 2909px) {
    html {
        font-size: 149%;
    }
 }
 
 @media (min-width: 2910px) and (max-width: 2919px) {
    html {
        font-size: 149.5%;
    }
 }
 
 @media (min-width: 2920px) and (max-width: 2929px) {
    html {
        font-size: 150%;
    }
 }
 
 @media (min-width: 2930px) and (max-width: 2939px) {
    html {
        font-size: 150.5%;
    }
 }
 
 @media (min-width: 2940px) and (max-width: 2949px) {
    html {
        font-size: 151%;
    }
 }
 
 @media (min-width: 2950px) and (max-width: 2959px) {
    html {
        font-size: 151.5%;
    }
 }
 
 @media (min-width: 2960px) and (max-width: 2969px) {
    html {
        font-size: 152%;
    }
 }
 
 @media (min-width: 2970px) and (max-width: 2979px) {
    html {
        font-size: 152.5%;
    }
 }
 
 @media (min-width: 2980px) and (max-width: 2989px) {
    html {
        font-size: 153%;
    }
 }
 
 @media (min-width: 2990px) and (max-width: 2999px) {
    html {
        font-size: 153.5%;
    }
 }
 
 @media (min-width: 3000px) and (max-width: 3009px) {
    html {
        font-size: 154%;
    }
 }
 
 @media (min-width: 3010px) and (max-width: 3019px) {
    html {
        font-size: 154.5%;
    }
 }
 
 @media (min-width: 3020px) and (max-width: 3029px) {
    html {
        font-size: 155%;
    }
 }
 
 @media (min-width: 3030px) and (max-width: 3039px) {
    html {
        font-size: 155.5%;
    }
 }
 
 @media (min-width: 3040px) and (max-width: 3049px) {
    html {
        font-size: 156%;
    }
 }
 
 @media (min-width: 3050px) and (max-width: 3059px) {
    html {
        font-size: 156.5%;
    }
 }
 
 @media (min-width: 3060px) and (max-width: 3069px) {
    html {
        font-size: 157%;
    }
 }
 
 @media (min-width: 3070px) and (max-width: 3079px) {
    html {
        font-size: 157.5%;
    }
 }
 
 @media (min-width: 3080px) and (max-width: 3089px) {
    html {
        font-size: 158%;
    }
 }
 
 @media (min-width: 3090px) and (max-width: 3099px) {
    html {
        font-size: 158.5%;
    }
 }
 
 @media (min-width: 3100px) and (max-width: 3109px) {
    html {
        font-size: 159%;
    }
 }
 
 @media (min-width: 3110px) and (max-width: 3119px) {
    html {
        font-size: 159.5%;
    }
 }
 
 @media (min-width: 3120px) and (max-width: 3129px) {
    html {
        font-size: 160%;
    }
 }
 
 @media (min-width: 3130px) and (max-width: 3139px) {
    html {
        font-size: 160.5%;
    }
 }
 
 @media (min-width: 3140px) and (max-width: 3149px) {
    html {
        font-size: 161%;
    }
 }
 
 @media (min-width: 3150px) and (max-width: 3159px) {
    html {
        font-size: 161.5%;
    }
 }
 
 @media (min-width: 3160px) and (max-width: 3169px) {
    html {
        font-size: 162%;
    }
 }
 
 @media (min-width: 3170px) and (max-width: 3179px) {
    html {
        font-size: 162.5%;
    }
 }
 
 @media (min-width: 3180px) and (max-width: 3189px) {
    html {
        font-size: 163%;
    }
 }
 
 @media (min-width: 3190px) and (max-width: 3199px) {
    html {
        font-size: 163.5%;
    }
 }
 
 @media (min-width: 3200px) and (max-width: 3209px) {
    html {
        font-size: 164%;
    }
 }
 
 @media (min-width: 3210px) and (max-width: 3219px) {
    html {
        font-size: 164.5%;
    }
 }
 
 @media (min-width: 3220px) and (max-width: 3229px) {
    html {
        font-size: 165%;
    }
 }
 
 @media (min-width: 3230px) and (max-width: 3239px) {
    html {
        font-size: 165.5%;
    }
 }
 
 @media (min-width: 3240px) and (max-width: 3249px) {
    html {
        font-size: 166%;
    }
 }
 
 @media (min-width: 3250px) and (max-width: 3259px) {
    html {
        font-size: 166.5%;
    }
 }
 
 @media (min-width: 3260px) and (max-width: 3269px) {
    html {
        font-size: 167%;
    }
 }
 
 @media (min-width: 3270px) and (max-width: 3279px) {
    html {
        font-size: 167.5%;
    }
 }
 
 @media (min-width: 3280px) and (max-width: 3289px) {
    html {
        font-size: 168%;
    }
 }
 
 @media (min-width: 3290px) and (max-width: 3299px) {
    html {
        font-size: 168.5%;
    }
 }
 
 @media (min-width: 3300px) and (max-width: 3309px) {
    html {
        font-size: 169%;
    }
 }
 
 @media (min-width: 3310px) and (max-width: 3319px) {
    html {
        font-size: 169.5%;
    }
 }
 
 @media (min-width: 3320px) and (max-width: 3329px) {
    html {
        font-size: 170%;
    }
 }
 
 @media (min-width: 3330px) and (max-width: 3339px) {
    html {
        font-size: 170.5%;
    }
 }
 
 @media (min-width: 3340px) and (max-width: 3349px) {
    html {
        font-size: 171%;
    }
 }
 
 @media (min-width: 3350px) and (max-width: 3359px) {
    html {
        font-size: 171.5%;
    }
 }
 
 @media (min-width: 3360px) and (max-width: 3369px) {
    html {
        font-size: 172%;
    }
 }
 
 @media (min-width: 3370px) and (max-width: 3379px) {
    html {
        font-size: 172.5%;
    }
 }
 
 @media (min-width: 3380px) and (max-width: 3389px) {
    html {
        font-size: 173%;
    }
 }
 
 @media (min-width: 3390px) and (max-width: 3399px) {
    html {
        font-size: 173.5%;
    }
 }
 
 @media (min-width: 3400px) and (max-width: 3409px) {
    html {
        font-size: 174%;
    }
 }
 
 @media (min-width: 3410px) and (max-width: 3419px) {
    html {
        font-size: 174.5%;
    }
 }
 
 @media (min-width: 3420px) and (max-width: 3429px) {
    html {
        font-size: 175%;
    }
 }
 
 @media (min-width: 3430px) and (max-width: 3439px) {
    html {
        font-size: 175.5%;
    }
 }
 
 @media (min-width: 3440px) and (max-width: 3449px) {
    html {
        font-size: 176%;
    }
 }
 
 @media (min-width: 3450px) and (max-width: 3459px) {
    html {
        font-size: 176.5%;
    }
 }
 
 @media (min-width: 3460px) and (max-width: 3469px) {
    html {
        font-size: 177%;
    }
 }
 
 @media (min-width: 3470px) and (max-width: 3479px) {
    html {
        font-size: 177.5%;
    }
 }
 
 @media (min-width: 3480px) and (max-width: 3489px) {
    html {
        font-size: 178%;
    }
 }
 
 @media (min-width: 3490px) and (max-width: 3499px) {
    html {
        font-size: 178.5%;
    }
 }
 
 @media (min-width: 3500px) {
    html {
        font-size: 179%;
    }
 }