@media (min-width: 100px) and (max-width: 768px){

    @media (min-width: 390px) and (max-width: 400px) {
        html {
            font-size: 100%; 
        }
    }
    
    @media (min-width: 380px) and (max-width: 390px) {
        html {
            font-size: 99.5%; 
        }
    }
    
    @media (min-width: 370px) and (max-width: 379px) {
        html {
            font-size: 99%; 
        }
    }
    
    @media (min-width: 360px) and (max-width: 369px) {
        html {
            font-size: 98.5%; 
        }
    }
    
    @media (min-width: 350px) and (max-width: 359px) {
        html {
            font-size: 98%; 
        }
    }
    
    @media (min-width: 340px) and (max-width: 349px) {
        html {
            font-size: 97.5%; 
        }
    }
    
    @media (min-width: 330px) and (max-width: 339px) {
        html {
            font-size: 97%; 
        }
    }
    
    @media (min-width: 320px) and (max-width: 329px) {
        html {
            font-size: 96.5%; 
        }
    }
    
    @media (min-width: 310px) and (max-width: 319px) {
        html {
            font-size: 96%; 
        }
    }
    
    @media (min-width: 300px) and (max-width: 309px) {
        html {
            font-size: 95.5%; 
        }
    }
    
    @media (min-width: 290px) and (max-width: 299px) {
        html {
            font-size: 95%; 
        }
    }
    
    @media (min-width: 280px) and (max-width: 289px) {
        html {
            font-size: 94.5%; 
        }
    }
    
    @media (min-width: 270px) and (max-width: 279px) {
        html {
            font-size: 94%; 
        }
    }
    
    @media (min-width: 260px) and (max-width: 269px) {
        html {
            font-size: 93.5%; 
        }
    }
    
    @media (min-width: 250px) and (max-width: 259px) {
        html {
            font-size: 93%; 
        }
    }
    
    @media (min-width: 240px) and (max-width: 249px) {
        html {
            font-size: 92.5%; 
        }
    }
    
    @media (min-width: 230px) and (max-width: 239px) {
        html {
            font-size: 92%; 
        }
    }
    
    @media (min-width: 220px) and (max-width: 229px) {
        html {
            font-size: 91.5%; 
        }
    }
    
    @media (min-width: 210px) and (max-width: 219px) {
        html {
            font-size: 91%; 
        }
    }
    
    @media (min-width: 200px) and (max-width: 209px) {
        html {
            font-size: 90.5%; 
        }
    }
    
    @media (min-width: 190px) and (max-width: 199px) {
        html {
            font-size: 90%; 
        }
    }
    
    @media (min-width: 180px) and (max-width: 189px) {
        html {
            font-size: 89.5%; 
        }
    }
    
    @media (min-width: 170px) and (max-width: 179px) {
        html {
            font-size: 89%; 
        }
    }
    
    @media (min-width: 160px) and (max-width: 169px) {
        html {
            font-size: 88.5%; 
        }
    }
    
    @media (min-width: 150px) and (max-width: 159px) {
        html {
            font-size: 88%; 
        }
    }
    
    @media (min-width: 140px) and (max-width: 149px) {
        html {
            font-size: 87.5%; 
        }
    }
    
    @media (min-width: 130px) and (max-width: 139px) {
        html {
            font-size: 87%; 
        }
    }
    
    @media (min-width: 120px) and (max-width: 129px) {
        html {
            font-size: 86.5%; 
        }
    }
    
    @media (min-width: 110px) and (max-width: 119px) {
        html {
            font-size: 86%; 
        }
    }
    
    @media (min-width: 100px) and (max-width: 109px) {
        html {
            font-size: 85.5%; 
        }
    } 
    
    @media (min-width: 400px) and (max-width: 410px) {
        html {
            font-size: 102%; 
        }
    }
    
    @media (min-width: 410px) and (max-width: 420px) {
        html {
            font-size: 104%; 
        }
    }
    
    @media (min-width: 420px) and (max-width: 430px) {
        html {
            font-size: 106%; 
        }
    }
    
    @media (min-width: 430px) and (max-width: 440px) {
        html {
            font-size: 108%; 
        }
    }
    
    @media (min-width: 440px) and (max-width: 450px) {
        html {
            font-size: 110%; 
        }
    }
    
    @media (min-width: 450px) and (max-width: 460px) {
        html {
            font-size: 113%; 
        }
    }
    
    @media (min-width: 460px) and (max-width: 470px) {
        html {
            font-size: 115%; 
        }
    }
    
    @media (min-width: 470px) and (max-width: 480px) {
        html {
            font-size: 117%; 
        }
    }
    
    @media (min-width: 480px) and (max-width: 490px) {
        html {
            font-size: 119%; 
        }
    }
    
    @media (min-width: 490px) and (max-width: 500px) {
        html {
            font-size: 122%; 
        }
    }
    
    @media (min-width: 500px) and (max-width: 510px) {
        html {
            font-size: 124%; 
        }
    }
    
    @media (min-width: 510px) and (max-width: 520px) {
        html {
            font-size: 127%; 
        }
    }
    
    @media (min-width: 520px) and (max-width: 530px) {
        html {
            font-size: 130%; 
        }
    }
    
    @media (min-width: 530px) and (max-width: 540px) {
        html {
            font-size: 133%; 
        }
    }
    
    @media (min-width: 540px) and (max-width: 550px) {
        html {
            font-size: 135%; 
        }
    }
    
    @media (min-width: 550px) and (max-width: 560px) {
        html {
            font-size: 138%; 
        }
    }
    
    @media (min-width: 560px) and (max-width: 570px) {
        html {
            font-size: 140%; 
        }
    }
    
    @media (min-width: 570px) and (max-width: 580px) {
        html {
            font-size: 143%; 
        }
    }
    
    @media (min-width: 580px) and (max-width: 590px) {
        html {
            font-size: 146%; 
        }
    }
    
    @media (min-width: 590px) and (max-width: 600px) {
        html {
            font-size: 149%; 
        }
    }
    
    @media (min-width: 600px) and (max-width: 610px) {
        html {
            font-size: 152%; 
        }
    }
    
    @media (min-width: 610px) and (max-width: 620px) {
        html {
            font-size: 154%; 
        }
    }
    
    @media (min-width: 620px) and (max-width: 630px) {
        html {
            font-size: 157%; 
        }
    }
    
    @media (min-width: 630px) and (max-width: 640px) {
        html {
            font-size: 159%; 
        }
    }
    
    @media (min-width: 640px) and (max-width: 650px) {
        html {
            font-size: 162%; 
        }
    }
    
    @media (min-width: 650px) and (max-width: 660px) {
        html {
            font-size: 164%; 
        }
    }
    
    @media (min-width: 660px) and (max-width: 670px) {
        html {
            font-size: 166%; 
        }
    }
    
    @media (min-width: 670px) and (max-width: 680px) {
        html {
            font-size: 168%; 
        }
    }
    
    @media (min-width: 680px) and (max-width: 690px) {
        html {
            font-size: 172%; 
        }
    }
    
    @media (min-width: 690px) and (max-width: 700px) {
        html {
            font-size: 175%; 
        }
    }
    
    @media (min-width: 700px) and (max-width: 710px) {
        html {
            font-size: 177%; 
        }
    }
    
    @media (min-width: 710px) and (max-width: 720px) {
        html {
            font-size: 180%; 
        }
    }
    
    @media (min-width: 720px) and (max-width: 730px) {
        html {
            font-size: 182%; 
        }
    }
    
    @media (min-width: 730px) and (max-width: 740px) {
        html {
            font-size: 185%; 
        }
    }
    
    @media (min-width: 740px) and (max-width: 750px) {
        html {
            font-size: 187%; 
        }
    }
    
    @media (min-width: 750px) and (max-width: 760px) {
        html {
            font-size: 189%; 
        }
    }
    
    @media (min-width: 760px) and (max-width: 768px) {
        html {
            font-size: 193%; 
        }
    } 

/* Default */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'PP Radio Grotesk';
}

:root {
    --bg-color: #eceff0;
    --second--bg-color: #dde6ec;
    --text-color: #111010;
    --main-color: #111212;
}

/* html {
    overflow-x: hidden;
    overflow-y: auto;
} */


.desktop-html {
    display: none;
}

.mobile-html {
    display: block;
}

/* Navbar CSS start */
.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.125rem;
    padding-top: 1.5rem;
}

.mobile-left-nav {
    margin-left: 1.25rem;
    margin-top: .5rem;
}

.mobile-left-nav-logo-img {
    height: 1.25rem;
    width: 3.125rem;
}

.mobile-left-nav-logo-text {
    margin-top: .125rem;
    font-family: PP Radio Grotesk;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4375rem;
    color: rgba(15, 16, 27, 0.4);
}

.mobile-mid-nav {
    display: flex;
    width: 35.75rem;
    height: 2.625rem;
    padding: .25rem;
    border-radius: 2.5rem;
    margin-left: 2rem;
    background: rgba(241, 241, 241, 1);
}

.mobile-rectangle2{
    width: .25rem;
    height: .25rem;
    border-radius: .0625rem;
    background: rgba(15, 16, 27, 1);
}

.mobile-right-nav {
    width: 9.8125rem;
    height: 2.625rem;
    padding: .75rem 1.5rem .75rem 1.5rem;
    gap: .625rem;
    border-radius: 2.5rem;
    background: rgba(15, 16, 27, 1);
    display: flex;
    align-items: center;
}

.mobile-right-nav-rectangle{
    width: .25rem;
    height: .25rem;
    border-radius: .0625rem;
    background: rgba(217, 217, 217, 1);
}

.mobile-right-nav a{
    width: 5.9375rem;
    height: 1.125rem;
    font-family: PP Radio Grotesk;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.15rem;
    color: rgba(255, 255, 255, 1);
}

/* Navbar CSS end */


/* page 1 CSS start */

 .mobile-page1-top img{
    height: 15rem;
    width: 17.5rem;
    margin-left: 1.5remrem;
    margin-top: 2rem;
 }

 .mobile-page1-mid-text-accelerate{
    width: 21.875rem;
    height: 9.25rem;
    margin-left: 1.125rem;
    font-family: 'PP Radio Grotesk';
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: -0.01rem;
    color: rgba(15, 16, 27, 1);
    margin-top: .48rem;
 }

 .mobile-page1-mid-text-state{
    width: 16.1875rem;
    height: 4.3125rem;
    margin-left: 1.125rem;
    font-family: 'PP Radio Grotesk';
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.4375rem;
    color: rgba(15, 16, 27, 0.7);
    margin-top: 1.5rem;
 }

.mobile-page1-mid-img1 img{
    width: 21.875rem;
    height: 16rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 1.125rem;
}

.mobile-page1-mid-showreel{
    width: 23.75rem;
    height: 2.3175rem;
    font-family: 'PP Radio Grotesk';
    font-size: 1rem;
    font-weight: 200;
    line-height: 2.3rem;
    letter-spacing: -0.01rem;
    color: rgba(243, 7, 7, 0.659);
    margin-top: -10rem;
    margin-left: 1.085625rem;
}

.mobile-page1-mid-txt-ready{
    width: 21.875rem;
    height: 11.5625rem;
    font-family: 'PP Radio Grotesk';
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;
    letter-spacing: 0.01rem;
    text-align: center;
    color: rgba(15, 16, 27, 1);
    margin-top: 7rem;
    margin-left: 1.125rem;
}

.mobile-page1-mid-button {
    width: 8.125rem;
    height: 2rem;
    padding: .5rem 1rem .5rem 1rem;
    gap: .625rem;
    border-radius: 2.5rem;
    background: rgba(15, 16, 27, 1);
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 9rem;
}

.mobile-page1-mid-button a{
    width: 5.25rem;
    height: 1rem;
    font-family: 'PP Radio Grotesk';
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.05rem;
    color: rgba(255, 255, 255, 1);
}

.mobile-page1-mid-button1 {
    width: .25rem;
    height: .25rem;
    border-radius: .0625rem;
    background: rgba(217, 217, 217, 1);
}

.mobile-page1-mid-rectangle {
    width: 21.875rem;
    height: 16rem;
    border-radius: 1rem;
    background: linear-gradient(271.32deg, #FC9086 -110.66%, #FFC693 94.9%);
    color: rgba(255, 255, 255, 1);
    margin-top: 1rem;
    margin-left: 1.25rem;
    display: flex;
    align-items: center;
}

.mobile-page1-mid-frame12 {
    width: 30rem;
    height: 6rem;
    gap: -.5rem;
    color: rgba(255, 255, 255, 1);
    margin-left: -34rem;
    display: flex;
    align-items: center;
}

.mobile-page1-mid-image {
    width: 18.125rem;
    height: 6rem;
}



.mobile-page1-bottom-section1 {
    display: flex;
    flex-direction: column;
}

.mobile-page1-bottom-rectangle1 {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 1.25rem; 
}

.mobile-page1-bottom-img1 {
    width: 16.1875rem;
    height: 19rem;   
}

.mobile-page1-bottom-img1-txt {
    width: 16.1875rem;
    height: 2.875rem;
    font-family: 'PP Radio Grotesk';
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.4375rem;
    margin-top: 1rem;
    color: rgba(15, 16, 27, 1);
}

.mobile-page1-bottom-rectangle2 {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 6.9375rem; 
}

.mobile-page1-bottom-img2 {
    width: 16.1875rem;
    height: 17.5rem;
}

.mobile-page1-bottom-img2-txt {
    width: 16.1875rem;
    height: 4.3125rem;
    font-family: 'PP Radio Grotesk';
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.4375rem;
    margin-top: 1rem;
    color: rgba(15, 16, 27, 1);    
}

.mobile-page1-bottom-section2 {
    display: flex;
    flex-direction: column;
}

.mobile-page1-bottom-rectangle3 {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 12.8125rem;
}

.mobile-page1-bottom-img3 {
    width: 30.9375rem;
    height: 31.1875rem;
}

.mobile-page1-bottom-img3-txt{
    width: 24.5rem;
    height: 6.375rem;
    font-family: 'PP Radio Grotesk';
    font-size: 1.75rem;
    font-weight: 200;
    line-height: 2.1rem;
    text-align: left;
    color: rgba(15, 16, 27, 1);    
}

.mobile-page1-bottom-rectangle4{
    display: flex;
    flex-direction: column;
    margin-top: 5rem; 
    margin-left: 2rem;
}

.mobile-page1-bottom-img4{
    width: 30.9375rem;
    height: 31.1875rem;
}

.mobile-page1-bottom-img4-txt{
    width: 23.25rem;
    height: 6.375rem;
    font-family: 'PP Radio Grotesk';
    font-size: 1.75rem;
    font-weight: 200;
    line-height: 2.1rem;
    color: rgba(15, 16, 27, 1);
}

/* page 1 CSS end */

/* page 2 CSS start */

.mobile-page2-top-txt{
    width: 37.125rem;
    height: 9.25rem;
    font-family: 'PP Radio Grotesk';
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.6rem;
    letter-spacing: -0.01em;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 10rem;
    margin-left: 25.8125rem;     
}

.mobile-page2-top-frame1 {
    width: 80rem;
    height: 15rem;
    padding: 10.1875rem 7.9375rem 0rem 4.5625rem;
    border-radius: 1.5rem;
    margin-top: 4.5rem;
    margin-left: 4.375rem;
    background: url(svg/frame131.png) no-repeat center center/cover;
    color: rgba(255, 255, 255, 1);
}

.mobile-page2-top-reach{
    width: 118.875rem;
    height: 3.4375rem;
    transform: rotate(-1deg);
    font-family: 'PP Radio Grotesk';
    font-size: 3rem;
    font-weight: 200;
    line-height: 3.45rem;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(255, 255, 255, 0.812);       
    margin-top: -9.549375rem;
    margin-left: -15.0625rem;
}

.mobile-page2-mid-rectangle1 {
    width: 90rem;
    height: 75rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #EBEDEE 21.17%, #EBEDEE 76.32%, #FFFFFF 100%);
    margin-top: 5.7025rem;
    margin-left: -1.875rem;
}

.mobile-page2-mid-rectangle1-txt{
    width: 12.5rem;
    height: 5.75rem;
    font-family: 'PP Radio Grotesk';
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.875rem;
    letter-spacing: -0.01em;
    margin-top: 15.7025rem;
    margin-left: 27.5rem;
}

.mobile-page2-mid-rectangle1-frame {
    width: 8.0625rem;
    height: 2.625rem;
    padding: .75rem 1.5rem .75rem 1.5rem;
    gap: .625rem;
    border-radius: 2.5rem;
    background: rgba(15, 16, 27, 1);
    margin-top: -4.1875rem;
    margin-left: 52.5625rem;
    display: flex;
    align-items: center;
}

.mobile-page2-mid-rectangle1-frame a{
    font-family: PP Radio Grotesk;
    color: rgba(255, 255, 255, 1);
    font-size: 0.85rem;
}

.mobile-page2-mid {
    display: flex;
    flex-direction: row;
}

.mobile-page2-mid-box {
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 37.5rem;
    border-radius: 1.5rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 10px 24px 96px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 4px 20px 32px 0px rgba(0, 0, 0, 0.04);
    box-shadow: -1px 3px 8px 0px rgba(0, 0, 0, 0.05);
    margin-top: 4.2rem;
    margin-left: 25.625rem;
}

.mobile-page2-mid-box-txt {
    width: 23.375rem;
    height: 9.25rem;
    font-family: 'PP Radio Grotesk';
    font-size: 4rem;
    font-weight: 400;
    line-height: 73.6px;
    letter-spacing: -0.01rem;
    text-align: left;
    background: rgba(255, 255, 255, 1);
    padding-top: 3rem;
    margin-left: 3rem;
}

.mobile-page2-mid-frame25{
    width: 30rem;
    height: 14.5rem;
    gap: 1rem;
    margin-top: 11.25rem;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
}

.mobile-page2-mid-frame21{
    width: 17.5rem;
    height: 2.125rem;
    padding: 0px .5rem 0px .5rem;
    gap: .5rem;
    display: flex;
    flex-direction: row;    
}

.mobile-page2-mid-frame21-txt1{
    width: 1.25rem;
    height: 1.1875rem;
    opacity: 0.4;
    font-family: PP Radio Grotesk;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.2rem;
    color: rgba(15, 16, 27, 1);        
}

.mobile-page2-mid-frame21-txt2{
    width: 14.75rem;
    height: 2.125rem;
    font-family: 'PP Radio Grotesk';
    font-size: 1.75rem;
    font-weight: 200;
    line-height: 2.1rem;
    color: rgba(15, 16, 27, 1);        
}

.mobile-page2-book {
    margin-left: -8.5rem;
    margin-top: 2rem;
}

.mobile-page2-book img {
    width: 46rem;
    height: 53rem;
}

.mobile-page2-bottom  {
    margin-left: 15.625rem;
}

.mobile-page2-bottom-h1 {
    width: 470px;
    height: 148px;
}

.mobile-page2-bottom-h1-txt {
    font-family: 'PP Radio Grotesk';
    font-size: 4rem;
    font-weight: 400;
    line-height: 73.6px;
    letter-spacing: -0.01rem;
}

.mobile-page2-bottom-rectangle {
    width: 880px;
    height: 485px;
}

.mobile-page2-bottom-rectangle span{
    width: 20px;
    height: 20px;
    color: rgba(217, 217, 217, 1);    
}

.mobile-page2-bottom-rectangle p{
    width: 583px;
    height: 19px;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0.02em;
    color: rgba(15, 16, 27, 1);
    margin-left: -1rem;
}

.mobile-page2-bottom-rectangle-txt1 {
    width: 880px;
    height: 52px;
    padding: 1rem 0rem 1rem 0rem;
    gap: 11px;
    border: 0px 0px 1px 0px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.mobile-page2-bottom-rectangle-txt2 {
    width: 880px;
    height: 52px;
    padding: 1rem 0rem 1rem 0rem;
    gap: 11px;
    border: 0px 0px 1px 0px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.mobile-page2-bottom-rectangle-txt3 {
    width: 880px;
    height: 52px;
    padding: 1rem 0rem 1rem 0rem;
    gap: 11px;
    border: 0px 0px 1px 0px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.mobile-page2-bottom-rectangle-txt4{
    width: 880px;
    height: 173px;
    padding: 20px 0px 20px 0px;
    gap: 11px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)    
}

.mobile-page2-bottom-rectangle-txt4up {
    width: 880px;
    height: 52px;
    padding: 1rem 0rem 1rem 0rem;
    gap: 11px;
    border: 0px 0px 1px 0px;
    display: flex;
}

.mobile-page2-bottom-rectangle-txt4down {
    width: 640px;
    height: 102px;
    padding: 0px 24px 0px 24px;
    gap: 10px;
    font-family: PP Radio Grotesk;
    font-size: 28px;
    font-weight: 200;
    line-height: 33.6px;
    text-align: left;
}

.mobile-page2-bottom-rectangle-txt5 {
    width: 880px;
    height: 52px;
    padding: 1rem 0rem 1rem 0rem;
    gap: 11px;
    border: 0px 0px 1px 0px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.mobile-page2-bottom-rectangle-txt6 {
    width: 880px;
    height: 52px;
    padding: 1rem 0rem 1rem 0rem;
    gap: 11px;
    border: 0px 0px 1px 0px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.mobile-page2-bottom-rectangle-txt7 {
    width: 880px;
    height: 52px;
    padding: 1rem 0rem 1rem 0rem;
    gap: 11px;
    border: 0px 0px 1px 0px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}



/* page 2 CSS end */

/* page 3 CSS start */

.mobile-page3 {

}

.mobile-page3-top {
    display: flex;
    flex-direction: row;
}

.mobile-page3-top-rectangle1 {
    width: 870px;
    height: 560px;
    margin-left: -652px;
    border-radius: 24px;
}

.mobile-page3-top-rectangle2 {
    width: 880px;
    height: 560px;
    border-radius: 24px;
    background: url(svg/page3-rec.png) no-repeat center center/cover;
    margin-top: 13.1875rem;
}

.mobile-page-3-top-rectangle2-frame {
    display: flex;
    flex-direction: row;
}

.mobile-page3-top-rectangle2-img {
    display: flex;
    flex-direction: column;
}

.mobile-page3-top-rectangle2-img1 {
    margin-left: -8rem;
    margin-top: 10rem;
}

.mobile-page3-top-rectangle2-img2 {
    width: 5rem;
    height: 5rem;
    margin-left: -10rem;
}

.mobile-page3-footer{
    display: flex;
    width: 100%;
    height: auto;
}

.mobile-page3-footer-group10{
    width: 302px;
    height: 108px;
    margin-top: 9.5rem;
    margin-left: 3.9375rem;
    display: flex;
    flex-wrap: wrap;
}

.mobile-page3-footer-group10-img{
    width: 50px;
    height: 20px;   
}

.mobile-page3-footer-group10-media{
    width: 53px;
    height: 23px;
    font-family: 'PP Radio Grotesk';
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: rgba(15, 16, 27, 1);
    margin-left: .25rem;    
}

.mobile-page3-footer-group10-txt{
    width: 302px;
    height: 76px;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 19.2px;
    letter-spacing: 0.01em;
    color: rgba(15, 16, 27, 1);
    margin-top: 0.75rem;
}

.mobile-page3-footer-frame42{
    width: 120px;
    height: 136px;
    margin-top: 9.5rem;
    margin-left: 32.625rem;
}

.mobile-page3-footer-frame42-home{
    width: 120px;
    height: 34px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
}

.mobile-page3-footer-frame42-home-p{
    width: 41px;
    height: 18px;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: left;
    color: rgba(15, 16, 27, 1);        
}

.mobile-page3-footer-frame42-ip{
    width: 120px;
    height: 34px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;  
}

.mobile-page3-footer-frame42-ip-p{
    width: 49px;
    height: 18px;
    opacity: 0.7;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    text-align: left;
    color: rgba(15, 16, 27, 1);        
}

.mobile-page3-footer-frame42-work{
    width: 120px;
    height: 34px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;  
}

.mobile-page3-footer-frame42-work-p{
    width: 49px;
    height: 18px;
    opacity: 0.7;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    text-align: left;
    color: rgba(15, 16, 27, 1);        
}

.mobile-page3-footer-frame42-service{
    width: 120px;
    height: 34px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;  
}

.mobile-page3-footer-frame42-service-p{
    width: 49px;
    height: 18px;
    opacity: 0.7;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    color: rgba(15, 16, 27, 1);        
}

.mobile-page3-footer-frame43{
    width: 120px;
    height: 136px;
    top: 7264px;
    left: 887px;
    margin-top: 9.5rem;
    margin-left: 5.375rem;
    background-color: #FC9086;
}

.mobile-page3-footer-frame43-aboutus{
    width: 120px;
    height: 34px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
}

.mobile-page3-footer-frame43-aboutus-p{
    width: 41px;
    height: 18px;
    opacity: .7;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    color: rgba(15, 16, 27, 1);        
}

.mobile-page3-footer-frame43-careers{
    width: 120px;
    height: 34px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;  
}

.mobile-page3-footer-frame43-careers-p{
    width: 49px;
    height: 18px;
    opacity: 0.7;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    color: rgba(15, 16, 27, 1);
}

.mobile-page3-footer-frame43-blog{
    width: 120px;
    height: 34px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;  
}

.mobile-page3-footer-frame43-blog-p{
    width: 49px;
    height: 18px;
    opacity: 0.7;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    color: rgba(15, 16, 27, 1);        
}

.mobile-page3-footer-frame43-contact{
    width: 120px;
    height: 34px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;  
}

.mobile-page3-footer-frame43-contact-p{
    width: 49px;
    height: 18px;;
    opacity: 0.7;
    font-family: PP Radio Grotesk;
    font-size: 16px;
    font-weight: 200;
    line-height: 18.4px;
    text-align: left;
    color: rgba(15, 16, 27, 1);        
}


}