@media (min-width: 100px) and  (max-width: 768px){
    /* navbar responsive css */
    html {
        font-size: 100%;
    }

    @media (min-width: 390px) and (max-width: 399px) {
        html {
            font-size: 100%; 
        }
    }

    @media (min-width: 380px) and (max-width: 389px) {
        html {
            font-size: 99.5%; 
        }
    }
    
    @media (min-width: 370px) and (max-width: 379px) {
        html {
            font-size: 99%; 
        }
    }
    
    @media (min-width: 360px) and (max-width: 369px) {
        html {
            font-size: 98.5%; 
        }
    }
    
    @media (min-width: 350px) and (max-width: 359px) {
        html {
            font-size: 98%; 
        }
    }
    
    @media (min-width: 340px) and (max-width: 349px) {
        html {
            font-size: 97.5%; 
        }
    }
    
    @media (min-width: 330px) and (max-width: 339px) {
        html {
            font-size: 97%; 
        }
    }
    
    @media (min-width: 320px) and (max-width: 329px) {
        html {
            font-size: 96.5%; 
        }
    }
    
    @media (min-width: 310px) and (max-width: 319px) {
        html {
            font-size: 96%; 
        }
    }
    
    @media (min-width: 300px) and (max-width: 309px) {
        html {
            font-size: 95.5%; 
        }
    }
    
    @media (min-width: 290px) and (max-width: 299px) {
        html {
            font-size: 95%; 
        }
    }
    
    @media (min-width: 280px) and (max-width: 289px) {
        html {
            font-size: 94.5%; 
        }
    }
    
    @media (min-width: 270px) and (max-width: 279px) {
        html {
            font-size: 94%; 
        }
    }
    
    @media (min-width: 260px) and (max-width: 269px) {
        html {
            font-size: 93.5%; 
        }
    }
    
    @media (min-width: 250px) and (max-width: 259px) {
        html {
            font-size: 93%; 
        }
    }
    
    @media (min-width: 240px) and (max-width: 249px) {
        html {
            font-size: 92.5%; 
        }
    }
    
    @media (min-width: 230px) and (max-width: 239px) {
        html {
            font-size: 92%; 
        }
    }
    
    @media (min-width: 220px) and (max-width: 229px) {
        html {
            font-size: 91.5%; 
        }
    }
    
    @media (min-width: 210px) and (max-width: 219px) {
        html {
            font-size: 91%; 
        }
    }
    
    @media (min-width: 200px) and (max-width: 209px) {
        html {
            font-size: 90.5%; 
        }
    }
    
    @media (min-width: 190px) and (max-width: 199px) {
        html {
            font-size: 90%; 
        }
    }
    
    @media (min-width: 180px) and (max-width: 189px) {
        html {
            font-size: 89.5%; 
        }
    }
    
    @media (min-width: 170px) and (max-width: 179px) {
        html {
            font-size: 89%; 
        }
    }
    
    @media (min-width: 160px) and (max-width: 169px) {
        html {
            font-size: 88.5%; 
        }
    }
    
    @media (min-width: 150px) and (max-width: 159px) {
        html {
            font-size: 88%; 
        }
    }
    
    @media (min-width: 140px) and (max-width: 149px) {
        html {
            font-size: 87.5%; 
        }
    }
    
    @media (min-width: 130px) and (max-width: 139px) {
        html {
            font-size: 87%; 
        }
    }
    
    @media (min-width: 120px) and (max-width: 129px) {
        html {
            font-size: 86.5%; 
        }
    }
    
    @media (min-width: 110px) and (max-width: 119px) {
        html {
            font-size: 86%; 
        }
    }
    
    @media (min-width: 100px) and (max-width: 109px) {
        html {
            font-size: 85.5%; 
        }
    }    

    @media (min-width: 400px) and (max-width: 409px) {
        html {
            font-size: 100.5%; 
        }
    }
    
    @media (min-width: 410px) and (max-width: 419px) {
        html {
            font-size: 101%; 
        }
    }
    
    @media (min-width: 420px) and (max-width: 429px) {
        html {
            font-size: 101.5%; 
        }
    }
    
    @media (min-width: 430px) and (max-width: 439px) {
        html {
            font-size: 102%; 
        }
    }
    
    @media (min-width: 440px) and (max-width: 449px) {
        html {
            font-size: 102.5%; 
        }
    }
    
    @media (min-width: 450px) and (max-width: 459px) {
        html {
            font-size: 103%; 
        }
    }
    
    @media (min-width: 460px) and (max-width: 469px) {
        html {
            font-size: 103.5%; 
        }
    }
    
    @media (min-width: 470px) and (max-width: 479px) {
        html {
            font-size: 104%; 
        }
    }
    
    @media (min-width: 480px) and (max-width: 489px) {
        html {
            font-size: 104.5%; 
        }
    }
    
    @media (min-width: 490px) and (max-width: 499px) {
        html {
            font-size: 105%; 
        }
    }
    
    @media (min-width: 500px) and (max-width: 509px) {
        html {
            font-size: 105.5%; 
        }
    }
    
    @media (min-width: 510px) and (max-width: 519px) {
        html {
            font-size: 106%; 
        }
    }
    
    @media (min-width: 520px) and (max-width: 529px) {
        html {
            font-size: 106.5%; 
        }
    }
    
    @media (min-width: 530px) and (max-width: 539px) {
        html {
            font-size: 107%; 
        }
    }
    
    @media (min-width: 540px) and (max-width: 549px) {
        html {
            font-size: 107.5%; 
        }
    }
    
    @media (min-width: 550px) and (max-width: 559px) {
        html {
            font-size: 108%; 
        }
    }
    
    @media (min-width: 560px) and (max-width: 569px) {
        html {
            font-size: 108.5%; 
        }
    }
    
    @media (min-width: 570px) and (max-width: 579px) {
        html {
            font-size: 109%; 
        }
    }
    
    @media (min-width: 580px) and (max-width: 589px) {
        html {
            font-size: 109.5%; 
        }
    }
    
    @media (min-width: 590px) and (max-width: 599px) {
        html {
            font-size: 110%; 
        }
    }
    
    @media (min-width: 600px) and (max-width: 609px) {
        html {
            font-size: 110.5%; 
        }
    }
    
    @media (min-width: 610px) and (max-width: 619px) {
        html {
            font-size: 111%; 
        }
    }
    
    @media (min-width: 620px) and (max-width: 629px) {
        html {
            font-size: 111.5%; 
        }
    }
    
    @media (min-width: 630px) and (max-width: 639px) {
        html {
            font-size: 112%; 
        }
    }
    
    @media (min-width: 640px) and (max-width: 649px) {
        html {
            font-size: 112.5%; 
        }
    }
    
    @media (min-width: 650px) and (max-width: 659px) {
        html {
            font-size: 113%; 
        }
    }
    
    @media (min-width: 660px) and (max-width: 669px) {
        html {
            font-size: 113.5%; 
        }
    }
    
    @media (min-width: 670px) and (max-width: 679px) {
        html {
            font-size: 114%; 
        }
    }
    
    @media (min-width: 680px) and (max-width: 689px) {
        html {
            font-size: 114.5%; 
        }
    }
    
    @media (min-width: 690px) and (max-width: 699px) {
        html {
            font-size: 115%; 
        }
    }
    
    @media (min-width: 700px) and (max-width: 709px) {
        html {
            font-size: 115.5%; 
        }
    }
    
    @media (min-width: 710px) and (max-width: 719px) {
        html {
            font-size: 116%; 
        }
    }
    
    @media (min-width: 720px) and (max-width: 729px) {
        html {
            font-size: 116.5%; 
        }
    }
    
    @media (min-width: 730px) and (max-width: 739px) {
        html {
            font-size: 117%; 
        }
    }
    
    @media (min-width: 740px) and (max-width: 749px) {
        html {
            font-size: 117.5%; 
        }
    }
    
    @media (min-width: 750px) and (max-width: 759px) {
        html {
            font-size: 118%; 
        }
    }
    
    @media (min-width: 760px) and (max-width: 768px) {
        html {
            font-size: 118.5%; 
        }
    }    
    
    body {
        width: 24.5625rem !important;
    }

    .desktop-html {
        display: none;
    }

    .mobile-html {
        display: flex;
        flex-direction: column;
    }

    .m-prenav1 {
        width: 24.5625rem;
        height: 3.5rem; 
        display: flex;
        background: rgba(255, 255, 255, 0.4); 
    }

    .m-prenav1 a {
        display: flex;
        flex-direction: row;
        margin: .75rem 1rem .75rem 1rem;   
        width: 24.5625rem;
        height: 2rem; 
        font-size: .875rem;
        font-weight: 250;
        color: rgba(23, 30, 36, 1);
    }

    .m-prenav-arrow {
        width: .75rem; 
        height: .75rem; 
        margin-top: .7rem;
    }

    .m-prenav1-a-p {
        width: 19.3125rem;
        margin-right: 2.5rem;
    }

    .m-page1-background{
        background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
        width: 24.5625rem;
        height: 82.7rem;
    }
    
    .header {
        display: flex;
        flex-direction: row;
        width: 21.8125rem;
        height: 1.875rem;
        margin-left: 1.25rem;
        margin-top: 1.25rem;
    }

    .menu-icon {
        display: block;
        margin-top: .4rem;
        margin-left: 12.5rem;
    }
    
    .mid-nav,
    .right-nav {
        display: none;

    }

    .left-nav {
        display: flex;
        flex-direction: row;
        height: 1.875rem;
        width: 8.125rem;
        border-radius: .75rem;
        font-size: 1rem;
    }
    
    .left-nav img{
        width: 1.125rem;
        height: 1.406rem;
        margin-left: .8rem;
        margin-bottom: .6rem;
        margin-right: .5rem;
    }

    .left-nav a {
        margin-top: .5rem;
        font-size: .9rem;
        width: 5.75rem;
        height: 1.125rem;
    }

    .logo {
        font-size: 1.6rem; 
        color: var(--text-color);
        font-weight: 540;
        padding-left: .2rem;
    }

    /* page 1 css responsive */

    .pages {
        /* border: 0.4rem solid purple; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .page-1 {
        box-sizing: border-box;
        place-items: center;
        width: 24.5625rem;
        height: 82.2rem;
    }

    .box11 {
        width: 24.5625rem;
    }

    .box11-content {
        /* border: 0.4rem solid green; */
        width: 21.5625rem;
        height: 18.625rem;
    }

    .layout1 {
        width: 24.5625rem;
        margin-top: 5rem;
        height: 36.25rem; 
        background: url(img/Fr5411.png) no-repeat center center/cover;
        color: #ffffff;
    }

    .m-text-block {
        display: flex;
        align-items: center;
        align-items: center;
        flex-direction: column;
    }

    .page1-end-text{
        display: flex;
        flex-direction: column;
    }

    .page1-end-h11 {
        margin-top: 4rem;
        margin-left: 1rem;
        font-weight: 600;
        font-size: 2.5rem;
    }

    .page1-end-h41 {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        font-size: 1.15rem;
        margin-top: 1rem;
        width: 17rem;
        margin-left: 1rem;
        align-items: center;
        justify-content: center;
    }

    .page1-end-h12 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        margin-top: 3rem;
        font-weight: 600;
        font-size: 2.8rem;
    }
    
    .page1-end-h42 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 1.17rem;
        margin-top: 1rem;
        width: 17rem;
        margin-left: 1rem;
    }

    .page1-end-h13 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        margin-left: 1rem;
        font-weight: 600;
        font-size: 2.5rem;
    }
    
    .page1-end-h43 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 1.17rem;
        margin-top: 1rem;
        width: 17rem;
        margin-left: 1rem;
    }
    
    .box11-flex {
        flex-direction: column-reverse;
        justify-content: left;
        align-items: start;
    }

    .box11-content h1 {
        width: 20.5625rem; 
        height: 8.25rem;
        margin-left: 1.5rem;
        margin-top: 1rem;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 2.75rem;
        margin-bottom: .5rem;
        /* border: 0.4rem solid orange; */
    }
    
    .box11-input-club {
        width: 21.5625rem;
        margin: 0rem 0rem 0rem 0rem;
    }
    
    .m-inputBox {
        width: 21.5625rem;
        height: 2.75rem;
        font-size: 1rem; 
        padding: .875rem 1rem .875rem 1rem;
        border-radius: 0.5rem;
    }

    .page1-img-right {
        display: none;
    }

    .img111 {
        display: none;
    }
    
    .img121{
        display: block;
        height: 18.625rem;
        width: 22.5rem;
        margin-left: 1.5rem;
    }

    .input-club-flex {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
    }

    .m-box11-btn {
        width: 12rem;
        height: 2.8rem;
        margin-top: .75rem; 
        margin-bottom: 1rem;
        background: rgb(74, 133, 209);
        border: 0.2rem solid rgb(74, 133, 209);
        border-radius: 0.5rem;
        font-size: .875rem; 
        font-weight: 450;
        color: rgb(255, 255, 255);
    }
    
    .box11-content-p {
        width: 20.5rem;
        height: 2.375rem;
        margin-left: 1.5rem;
        font-size: .875rem;
        font-weight: 300;
        opacity: 70%;
    }

    /* page 2 css responsive */

    .page-2{
        width: 24.5625rem;
        padding-top: 5rem;
    }

    .page2-header {
        width: 20.5625rem;
        margin: 0rem;
        padding: 0rem;
    }

    .page-2 .images-container-flex {
        flex-direction: column;
        justify-content: left;
        align-items: left;
        margin: 0rem;
        padding: 0rem;
    }
    
    .images-container-image {
        /* border: 0.4rem solid #111010; */
        margin: 0rem;
    }

    .page2-header h1{
        width: 20.5625rem;
        font-size: 2.5rem;
        font-weight: 600;
        height: 8.25rem;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 2.75rem;
        padding: 0rem;
        color: rgba(23, 30, 36, 1);
    }

    .images-container-image {
        /* border: 0.4rem solid #111010; */
        width: 23.0625rem;
        height: 80%;
    }

    .image1{
        align-items: flex-start;
    }

    .imgg1 {
        width: 23.0625rem;
        height: 18.125rem;
        margin-left: .75rem;
        border-radius: .5rem;
    }
    
    .imgg2 {
        width: 23.0625rem;
        height: 18.125rem;
        margin-left: .75rem;
        border-radius: .5rem;
    }
    
    .imgg3 {
        width: 23.0625rem;
        height: 18.125rem;
        margin-left: .75rem;
        border-radius: .5rem;
    }
    
    .image2 {
        align-self: flex-start;
    }
    
    .image3 {
        align-self: flex-start;
    }
    
    .m-content {
        width: 23.0625rem;
        height: 7.8125rem;
        margin-left: .75rem;
        padding: 1rem .75rem 1rem .75rem;
        gap: .625rem;
    }

    .m-content h2 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    .page-3 {
        display: none;
    }

    .page-4 {
        display: none;
    }
    
    .page-5 {
        display: none;
    }
    
    .page-55 {
        display: none;
    }
    
    .page-6 {
        display: none;
    }   
    
    .page-7 {
        display: none;
    }   
    
    .page-8 {
        display: none;
    }   
    
    .page-9 {
        display: none;
    }   
    
    .page-10 {
        display: none;
    }   
    
    .page-11 {
        display: none;
    }   
    
    .page-12 {
        display: none;
    }
    
}