@media (max-width: 394px) {
    /* navbar responsive css */
    html {
        font-size: 100%;
    }
    
    body {
        width: 24.5625rem !important;
    }

    .desktop-html {
        display: none;
    }

    .mobile-html {
        display: flex;
        flex-direction: column;
    }

    .m-prenav1 {
        width: 24.5625rem;
        height: 3.5rem; 
        display: flex;
        background: rgba(255, 255, 255, 0.4); 
    }

    .m-prenav1 a {
        display: flex;
        flex-direction: row;
        margin: .75rem 1rem .75rem 1rem;   
        width: 24.5625rem;
        height: 2rem; 
        font-size: .875rem;
        font-weight: 250;
        color: rgba(23, 30, 36, 1);
    }

    .m-prenav-arrow {
        width: .75rem; 
        height: .75rem; 
        margin-top: .7rem;
    }

    .m-prenav1-a-p {
        width: 19.3125rem;
        margin-right: 2.5rem;
    }

    .m-page1-background{
        background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
        width: 24.5625rem;
        height: 82.7rem;
    }
    
    .header {
        display: flex;
        flex-direction: row;
        width: 21.8125rem;
        height: 1.875rem;
        margin-left: 1.25rem;
        margin-top: 1.25rem;
    }

    .menu-icon {
        display: block;
        margin-top: .4rem;
        margin-left: 12.5rem;
    }
    
    .mid-nav,
    .right-nav {
        display: none;

    }

    .left-nav {
        display: flex;
        flex-direction: row;
        height: 1.875rem;
        width: 8.125rem;
        border-radius: .75rem;
        font-size: 1rem;
    }
    
    .left-nav img{
        width: 1.125rem;
        height: 1.406rem;
        margin-left: .8rem;
        margin-bottom: .6rem;
        margin-right: .5rem;
    }

    .left-nav a {
        margin-top: .5rem;
        font-size: .9rem;
        width: 5.75rem;
        height: 1.125rem;
    }

    .logo {
        font-size: 1.6rem; 
        color: var(--text-color);
        font-weight: 540;
        padding-left: .2rem;
    }

    /* page 1 css responsive */

    .pages {
        /* border: 0.4rem solid purple; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .page-1 {
        box-sizing: border-box;
        place-items: center;
        width: 24.5625rem;
        height: 82.2rem;
    }

    .box11 {
        width: 24.5625rem;
    }

    .box11-content {
        /* border: 0.4rem solid green; */
        width: 21.5625rem;
        height: 18.625rem;
    }

    .layout1 {
        width: 24.5625rem;
        margin-top: 5rem;
        height: 36.25rem; 
        background: url(img/Fr5411.png) no-repeat center center/cover;
        color: #ffffff;
    }

    .page1-end-text{
        display: flex;
        flex-direction: column;
    }

    .page1-end-h11 {
        margin-top: 4rem;
        margin-left: 4rem;
        font-weight: 600;
        font-size: 2.5rem;
    }

    .page1-end-h41 {
        font-weight: 300;
        font-size: 1.15rem;
        margin-top: 1rem;
        width: 17rem;
        margin-left: 2.9rem;
    }

    .page1-end-h12 {
        margin-left: .6rem;
        margin-top: 3rem;
        font-weight: 600;
        font-size: 2.8rem;
    }
    
    .page1-end-h42 {
        font-weight: 300;
        font-size: 1.17rem;
        margin-top: 1rem;
        width: 17rem;
        margin-left: 2.9rem;
    }

    .page1-end-h13 {
        margin-top: 3rem;
        margin-left: .6rem;
        font-weight: 600;
        font-size: 2.5rem;
    }
    
    .page1-end-h43 {
        font-weight: 300;
        font-size: 1.17rem;
        margin-top: 1rem;
        width: 17rem;
        margin-left: 2.9rem;
    }
    
    .box11-flex {
        flex-direction: column-reverse;
        justify-content: left;
        align-items: start;
    }

    .box11-content h1 {
        width: 20.5625rem; 
        height: 8.25rem;
        margin-left: 1.5rem;
        margin-top: 1rem;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 2.75rem;
        margin-bottom: .5rem;
        /* border: 0.4rem solid orange; */
    }
    
    .box11-input-club {
        width: 21.5625rem;
        margin: 0rem 0rem 0rem 0rem;
    }
    
    .m-inputBox {
        width: 21.5625rem;
        height: 2.75rem;
        font-size: 1rem; 
        padding: .875rem 1rem .875rem 1rem;
        border-radius: 0.5rem;
    }

    .page1-img-right {
        display: none;
    }

    .img111 {
        display: none;
    }
    
    .img121{
        display: block;
        height: 18.625rem;
        width: 22.5rem;
        margin-left: 1.5rem;
    }

    .input-club-flex {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
    }

    .m-box11-btn {
        width: 12rem;
        height: 2.8rem;
        margin-top: .75rem; 
        margin-bottom: 1rem;
        background: rgb(74, 133, 209);
        border: 0.2rem solid rgb(74, 133, 209);
        border-radius: 0.5rem;
        font-size: .875rem; 
        font-weight: 450;
        color: rgb(255, 255, 255);
    }
    
    .box11-content-p {
        width: 20.5rem;
        height: 2.375rem;
        margin-left: 1.5rem;
        font-size: .875rem;
        font-weight: 300;
        opacity: 70%;
    }

    /* page 2 css responsive */

    .page-2{
        width: 24.5625rem;
        padding-top: 5rem;
    }

    .page2-header {
        width: 20.5625rem;
        margin: 0rem;
        padding: 0rem;
    }

    .page-2 .images-container-flex {
        flex-direction: column;
        justify-content: left;
        align-items: left;
        margin: 0rem;
        padding: 0rem;
    }
    
    .images-container-image {
        /* border: 0.4rem solid #111010; */
        margin: 0rem;
    }

    .page2-header h1{
        width: 20.5625rem;
        font-size: 2.5rem;
        font-weight: 600;
        height: 8.25rem;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 2.75rem;
        padding: 0rem;
        color: rgba(23, 30, 36, 1);
    }

    .images-container-image {
        /* border: 0.4rem solid #111010; */
        width: 23.0625rem;
        height: 80%;
    }

    .image1{
        align-items: flex-start;
    }

    .imgg1 {
        width: 23.0625rem;
        height: 18.125rem;
        margin-left: .75rem;
        border-radius: .5rem;
    }
    
    .imgg2 {
        width: 23.0625rem;
        height: 18.125rem;
        margin-left: .75rem;
        border-radius: .5rem;
    }
    
    .imgg3 {
        width: 23.0625rem;
        height: 18.125rem;
        margin-left: .75rem;
        border-radius: .5rem;
    }
    
    .image2 {
        align-self: flex-start;
    }
    
    .image3 {
        align-self: flex-start;
    }
    
    .m-content {
        width: 23.0625rem;
        height: 7.8125rem;
        margin-left: .75rem;
        padding: 1rem .75rem 1rem .75rem;
        gap: .625rem;
    }

    .m-content h2 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    .page-3 {
        display: none;
    }

    .page-4 {
        display: none;
    }
    
    .page-5 {
        display: none;
    }
    
    .page-55 {
        display: none;
    }
    
    .page-6 {
        display: none;
    }   
    
    .page-7 {
        display: none;
    }   
    
    .page-8 {
        display: none;
    }   
    
    .page-9 {
        display: none;
    }   
    
    .page-10 {
        display: none;
    }   
    
    .page-11 {
        display: none;
    }   
    
    .page-12 {
        display: none;
    }
    
}