/* Default */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'TWK Lausanne';
}

:root {
    --bg-color: #eceff0;
    --second--bg-color: #dde6ec;
    --text-color: #111010;
    --main-color: #111212;
}

html {
    font-size: 100%;
}

body {
    width: 120rem;
}

.page1-background{
    background: url(img/Rec9151.png) no-repeat center center/cover;
    width: 120rem;
    height: 94.875rem;
}

.prenav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.92);   
    height: 1.7rem; 
    padding-top: 1.7rem;
    padding-bottom: 1.8rem;
    width: 120rem;
}

.prenavimg {
    border-radius: 0.2rem;
    width: 1.4rem; 
    height: 1.4rem; 
    margin-top: -.1rem;
}

.prenav1 {
    margin-left: 0.5rem; 
    color: rgba(62, 131, 235, 1);
    font-size: 1.1rem; 
}

.prenav2 a {
    margin-left: .5rem; 
    font-size: 1rem; 
    color: black !important;
}

.prenav2 span {
    font-weight: 600;
}

/* /Default */

/* header */
.header {
    /* border: 0.4rem solid pink; */
    padding-top: 1.5rem;
    display: flex;
    width: 114.125rem;
    margin-left: 2.875rem;
    /* width: 95%; */
    height: 3.125rem;
}

.menu-icon {
    display: none;
}

.header-flex,
.left-nav,
.mid-nav,
.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    height: 2.5rem;
    width: 10.1875rem;
    border-radius: .75rem;
}

.left-nav img{
    width: 1.5rem;
    height: 1.6875rem;
    margin-left: .8rem;
    margin-bottom: .6rem;
}

.left-nav a{
    width: 7.1875rem;
    height: 1.375rem;
    font-size: 1.25rem;
}

.logo {
    font-size: 1.6rem; 
    color: var(--text-color);
    font-weight: 550;
}

.navbar1 {
    height: 2.625rem;
    width: 30.875 rem;
    gap: 2.5rem;
    margin-left: 5rem;
}

.navbar1 a {
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s;
    gap: 2.5rem;
}

.navbar1 a:hover,
.navbar1 a.active {
    color: var(--main-color);
}

.navbar2 a {
    color: rgba(62, 131, 235, 1);
    font-weight: 500;
    transition: 0.3s;
    padding-right: 1rem;
}

.navbar2 a:hover,
.navbar2 a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem; 
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.getstart{
    border: .1rem solid rgba(62, 131, 235, 0.15);
    margin-right: 4rem;
    height: 2.5rem;
    width: 12rem;
    border-radius: 1rem;
    margin-left: .5rem;
    background: rgba(62, 131, 235, 0.1);
    padding-left: 1rem;
    padding-top: .5rem;
}

.getstartimg{
    position: relative;
    top: -.1rem;
    padding-right: .2rem;
    width: .6rem;
}

.mid-nav{
    margin-left: 9rem;
}

.mid-nav a{
    font-size: 1rem;
    font-weight: 250;
    margin-left: -.7rem;
}

.home1{
    width: 6.0625rem;
    height: 2.625rem;
    background: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 250;
    border-radius: .6rem;
    padding: .75rem 1.25rem .75rem 1rem;
}

.home1 img{
    height: .375rem;
    width: .375rem;
    border-radius: .125rem;
    margin-bottom: .15rem;
    margin-right: .5rem;
}

/* /header */

/* pageDefault */
.pages {
    /* border: 0.4rem solid purple; */
    display: flex;
    flex-direction: column;
}

.page {
    /* border: 0.4rem solid red; */
    margin: 0;
    padding: 0;
    height: fit-content;
}
/* /pageDefault */

/* page-1 */
.page-1 {
    width: 120rem;
}

.home-flex {
    display: flex;
    flex-direction: column;
}

.box11 {
    margin-top: 13rem;
    margin-bottom: 7rem;
    margin-left: 9.76rem;
    width: 35.5rem;
    height: 25.375rem;
}

.box11-flex {
    display: flex;
    flex-direction: row;
    /* border: 0.4rem solid blue; */
}

.box11-content{
    height: 25.4rem;
    width: 35.5rem;
    padding: 0;
    margin-left: 3rem;
    /* top: 10%; */
    /* margin-right: 7rem; */
    /* border: 0.4rem solid blue; */
}

.page1-img-right {
    height: 40.5625rem;
    width: 57rem;
    margin-left: 9.5rem;
    margin-top: -6rem;
}

.img111 {
    /* border: #111010 2px solid; */
    /* margin-top: -1.8rem; */
    /* height: 100%; */
    height: 40.5625rem;
    width: 57rem;
    /* margin-left: 4.2rem; */
}

.img121{
    display: none;
}

.layout1 {
    width: 117rem;
    color: white;
    height: 16.8125rem; 
    border-radius: 2rem;
    background: url(img/Fr5411.png) no-repeat center center/cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 13rem;
    margin-bottom: 13rem;
    margin-left: 1.5rem;
}

.page1-end-text{
    display: flex;
    flex-direction: row;
    width: 100rem;
    height: 6.8125rem;
}

.text-block {
    margin: 1rem;
}

.page1-end-h11 {
    font-weight: 650;
    font-size: 3rem;
    margin-left: 9rem;
}

.page1-end-h41 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 9rem;
    opacity: .7;
}
.page1-end-h12 {
    font-weight: 600;
    font-size: 3rem;
    margin-left: 12rem;
}
.page1-end-h42 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 12rem;
    opacity: .7;
}
.page1-end-h13 {
    font-weight: 600;
    font-size: 3rem;
    margin-left: 15rem;
}
.page1-end-h43 {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-left: 15rem;
    opacity: .7;
}

.box11-content-flex {
    display: flex;
    flex-direction: column;
}

.box11-content h1 {
    width: 35.5rem; 
    /* margin-left: 14.5%; */
    /* margin-top: 5rem; */
    font-size: 5rem;
    font-weight: 600;
    line-height: 5.5rem;
    margin-bottom: 1rem;
    letter-spacing: -.02rem;
    /* border: 0.4rem solid orange; */
}

.box11-content h1 {
    color: var(--main-color);
}

.box11-input-club {
    width: 100%;
    /* margin-left: 6rem; */
    /* border: 0.4rem solid black; */
}

.input-club-flex {
    display: flex;
    flex-direction: row;
    width: 35rem;
    height: 3.625rem;
}

.box11-btn {
    margin-left: -11.4rem;
    margin-top: .39rem;
    width: 11rem;
    height: 2.8rem; 
    background: rgb(74, 133, 209);
    border: 0.2rem solid rgb(74, 133, 209);
    border-radius: 0.6rem;
    font-size: .9rem; 
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.box11-btn span{
    margin-left: .4rem;
}

.inputBox {
    width: 35rem;
    height: 3.625rem;
    padding: .6rem;
    font-size: 1rem; 
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    border-radius: .9rem;
    padding-left: 1.2rem;
    margin-bottom: .6rem;
}

.box11-content p {
    text-align: start;
    /* margin-left: 6.2rem; */
    margin-top: .1rem;
    font-weight: 300;
    opacity: 0.8;
}

/* page 1 css end */

/* page-2 */
.page-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #fafafa;
    height: 65rem;
    padding: 0 10rem;
}

.page2-header{
    background: #fafafa;
}

.page2-header h1{
    width: 45rem;
    height: 8.75rem;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 4rem; 
}

.page-2 .images-container {
    width: 100%;
    height: 85%;
}

.page-2 .images-container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.images-container-image {
    width: 32.5rem;
    height: 70%;
}

.imgg {
    height: 25.5625rem;
    width: 32.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.image2 {
    align-self: flex-end;
}
.image3 {
    align-self: flex-start;
}

.images-container-image .content{
    height: 33%;
    width: 67%;
    font-family: TWK Lausanne;
    text-align: left;
    display: flex;
    flex-direction: column;
    }

.images-container-image .content .contenth{
    font-size: 250%;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.04em;

}
.images-container-image .content .contentp{
    font-size: 16px;
    font-weight: 300;
    line-height: 21.6px;
}

.content {
    padding: 1.5625rem 1rem 1.5625rem 1rem;
}



/* @media (min-width: 900px) and (max-width: 1600px) {
    .page-2{
        padding: 0 3.35%;
    }
    .page2-header{
        width: 34.51rem;
        height: 6.65rem;

    }
    
    .page2-header h1{
        height: 6.65rem;

    }
    .page-2 .images-container-image {
        width: 26.5%;
        height: 58%;
    }
    
}  */




/* /page-2 */

.page-3{
    display: none;
}
.page-4 {
    display: none;
}

.page-5 {
    display: none;
}

.page-6 {
    display: none;
}   

.page-7 {
    display: none;
}   

.page-8 {
    display: none;
}   

.page-9 {
    display: none;
}   

.page-10 {
    display: none;
}   

.page-11 {
    display: none;
}   

.page-12 {
    display: none;
}

@media (min-width: 1535px) and (max-width: 1536px) {
    html {
        font-size: 79.145%;
    }
}

/* /page-1 */

