.black-box { 
    position: relative;
    top: -1700px;
    background: url("glow.png") no-repeat center center/cover;
    color: white;
    width: 1450px;
    height: 700px;
    border-radius: 10px 10px 10px 10px;
    left: 50px;
}

.background-image {
    position: relative;
    top: 52px;
    left: 58px;
    width: 833px;
    height: 648px;
    border-radius: 14px;
}

.container3 {
    position: relative;
    top: -421px;
    left: 760px;
    color: rgba(255, 255, 255, 1);
    width: 480px;
}

.conp1 {
    position: relative;
    font-family: TWK Lausanne;
    font-size: 43px;
font-weight: 600;
    width: 460px;
    letter-spacing: 0px;
}

.conp2 {
    letter-spacing: 0px;
    font-family: TWK Lausanne;
    font-size: 43px;
font-weight: 600;
}

.conp3 {
    font-family: TWK Lausanne;
    font-size: 43px;
font-weight: 600;
letter-spacing: 0px;
}

.conp4 {
    margin-top: 10px;
    font-family: TWK Lausanne;
    font-size: 12.5px;
font-weight: 300;
letter-spacing: 0px;
opacity: .8;
}

.conp5 {
    font-family: TWK Lausanne;
    font-size: 12.5px;
font-weight: 300;
letter-spacing: 0px;
opacity: .8;
}

.button3{
    display: flex;
    position: relative;
    top: -400px;
    left: 761px;
    border-radius: 13px;
    width: 144px;
    height: 40px;
}

.button3 p{
    position: relative;
    top: -10px;
    left: 29px;
    font-weight: 400;
    color: black;
}

.button3span{
    position: relative;
    left: -10px;
    font-size: 30px;
    top: -1px;
    font-weight: 900;
    border-radius: 10px;
}