<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
    <link rel="stylesheet" href="Page3.css">
</head>
<body>
    <div class="black-box">
        <img src="hhhhh.jpg" alt="Image" class="background-image">
        <div class="container3">
            <p class="conp1">AI Generated Stock and </p><p class="conp2">Portfolio Reports packed </p> <p class="conp3">with Insights</p>
            <p class="conp4">Stock Unlock blends cutting-edge market insights with easy-to-use 
                </p> <p class="conp5">
                tools, tailored for your financial journey.</p>
        </div>
        <button class="button3"><p><span class="button3span">.</span>Try AI Reports</p></button>
    </div>
</body>
</html>
