<section>
<link rel="stylesheet" href="Page2.css">
<div class="container1">
<div class="header1">
  <h1>
    <p class="headerP1">We want to help you</p>
    <p class="headerP2">become a better investor.</p>
</h1>
</div>

<div class="images1">
    <div class="image1">
        <img src="Page 2.png" alt="Page2" class="imgg1">
        <div class="content1">
            <h2>Learn.</h2>
            <br>
            <p>Stock Unlock blends cutting-edge market <br> insights with easy-to-use tools, tailored for <br> your financial journey.</p>
        </div>
    </div>

    <div class="image1">
        <img src="Page 2.2.png" alt="Page2.2" class="imgg2">
        <div class="content1">
            <h2>Research.</h2>
            <br>
            <p>Stock Unlock blends cutting-edge market <br> insights with easy-to-use tools, tailored for <br> your financial journey.</p>
        </div>
    </div>

    <div class="image1">
        <img src="Page 2.3.png" alt="Page2.3" class="imgg3">
        <div class="content1">
            <h2>Track.</h2>
            <br>
            <p>Stock Unlock blends cutting-edge market <br> insights with easy-to-use tools, tailored for <br> your financial journey.</p>
        </div>
    </div>
</div>
</div>
</section>