@media (max-width: 480px) {
    /* navbar responsive css */

    .prenav {
        width: 100%;
        height: 1.5rem; 
        padding-top: .5rem;
        margin-bottom: 0;
    }

    .prenavimg {
        display: none;
    }
    
    .prenav1 {
        display: none;
    }

    .prenav2 a {
        position: relative;
        top: 1rem;
        left: -.4rem;
        font-size: .9rem; 
        color: black !important;
        padding-left: 0;
        margin-left: 0;
    }
    
    .prenav2 span {
        font-weight: 600;
        margin-left: .4rem;
    }
    
    .header {
        top: .3rem;
        height: 2.5rem;
    }

    .menu-icon {
        display: block;
        margin-right: 1rem;
    }
    
    .mid-nav,
    .right-nav {
        display: none;
    }

    .logo {
        font-size: 1.6rem; 
        color: var(--text-color);
        font-weight: 540;
        padding-left: .2rem;
    }

    /* page 1 css responsive */

    .pages {
        /* border: 0.4rem solid purple; */
        width: 100%;
        height: 82.2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .page-1 {
        box-sizing: border-box;
        place-items: center;
        width: 100%;
        height: 82.2rem;
        background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
    }

    .box11-content {
        /* border: 0.4rem solid green; */
        width: 30rem;
    }

    .layout1 {
        width: 98%;
        margin-left: 0;
        margin-top: 1rem;
        height: 33.9rem; 
        border-radius: .5rem;
        background: url(img/Frame54.png) no-repeat center center/cover;
    }
    
    .box11-flex {
        flex-direction: column-reverse;
        justify-content: left;
        align-items: start;
    }

    .box11-content h1 {
        width: 20rem; 
        margin-left: 1.5rem;
        margin-top: 1rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 2.9rem;
        /* border: 0.4rem solid orange; */
    }
    
    .box11-input-club {
        margin-left: 1rem;
    }
    
    .inputBox {
        height: 3rem; 
        padding: .6rem;
        font-size: 1rem; 
        border-radius: 0.4rem;
        margin-left: .5rem;
    }
    
    .box11-content p {
        margin-left: 1rem;
        margin-top: .1rem;
        width: 23.8rem;
    }

    .img111 {
        display: none;
    }
    
    .img121{
        display: block;
        height: 24rem;
        width: 24.5rem;
        margin-left: 1.6rem;
    }

    
.input-club-flex {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

    .box11-btn {
        position: relative;
        align-self: center;
        width: 12rem;
        height: 2.8rem;
        margin-top: .5rem; 
        left: -2.4rem;
        background: rgb(74, 133, 209);
        border: 0.2rem solid rgb(74, 133, 209);
        border-radius: 0.5rem;
        font-size: .9rem; 
        font-weight: 500;
        color: rgb(255, 255, 255);
        overflow: hidden;
        transition: 0.5s;
        margin-bottom: .7rem;
    }
    
    .inputBox {
        width: 23rem;
        height: 3rem; 
        padding: .6rem;
        font-size: 1rem; 
        border: 0.1rem solid #ccc;
        border-radius: 0.6rem;
        outline: none;
    }
    
    .box11-content p {
        text-align: start;
        margin-left: 1.8rem;
        font-weight: 300;
        opacity: 0.8;
    }

    .box11-content {
        text-align: left;
        /* border: 0.4rem solid green; */
        width: 25rem;
    }

    /* page 2 css responsive */

    .page-2{
        height: 80rem;
    }

    .page2-header {
        margin-top: 3rem;
        padding-left: 6rem;
        width: 100%;
        margin-bottom: 0rem;
        height: 7rem !important;
    }

    .page-2 .images-container-flex {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: left;
        align-items: left;
        margin-left: 2rem;
    }
    
    .images-container-image {
        /* border: 0.4rem solid #111010; */
        width: 80%;
        height: 26%;
    }

    .page2-header {
        padding: 1%;
        width: 90%;
        height: 10%;
        margin-top: 3rem;
        margin-left: 0rem;
        font-size: 1rem;
    }

    .content1 p {
        color: rgb(83, 82, 82);
        font-size: 1rem;
    }

    .images-container-image {
        /* border: 0.4rem solid #111010; */
        margin-left: 1.5rem;
        width: 20rem;
        height: 80%;
    }

    .image1{
        margin-left: -5.5rem;
    }

    .imgg1 {
        margin-left: .2rem;
    }
    
    .imgg2 {
        margin-left: .2rem;
    }
    
    .imgg3 {
        margin-left: .5rem;
    }
    
    .image2 {
        align-self: flex-start;
    }
    
    .image3 {
        align-self: flex-start;
    }

    .content1 {
        text-align: left;
        margin-left: .3rem;
    }
    
    .content1h3{
        font-size: 1rem;
        font-weight: 600;
        color: black;
        margin-top: 3rem;
    }
    
    .content2 {
        text-align: left;
        margin-left: .3rem;
    }
    
    .content1p12 {
        color: rgb(83, 82, 82);
        font-size: 1rem; 
        width: 20rem;
    }
    
    .content3 {
        text-align: left;
        margin-left: .3rem;
    }
    
    .content1p13 {
        color: rgb(83, 82, 82);
        font-size: 1rem; 
    }
    

    /* page 3 css responsive */

    .blackbox {
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
        height: 36rem;
        padding-left: 1rem;
        margin-left: .7rem;
    }
    
    .background-image {
 
    }

    .background-image {
        display: none; 
    }
    
    .background-image1{
        display: block;
        height: 24rem;
        width: 25rem;
        border-radius: 1rem; 
        padding-top: 1rem;
        margin-left: -1rem;
    }
    
    .container3{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 31rem;
        margin-top: .3rem;
    }

    .container3 h1 {
        width: 20rem;
        font-size: 1.6rem;
        margin-bottom: 0rem;
        margin-left: 3.3rem;
        margin-top: -6rem !important;
    }
    
    .container3 p {
        margin-bottom: .5rem;
        font-size: .7rem;
        width: 24rem;
        margin-left: 3.3rem;
    }
    
    .button33{
        width: 10rem;
        height: 2.5rem;
        border-radius: .5rem;
        margin-left: 3.4rem;
    }
    
    .button33 p{
        font-size: 1rem;
        font-weight: 500;
        margin-left: -7rem;
        margin-top: -.6rem;
        color: blue;
    }
    
    .button33span{
        font-size: 2rem;
        margin-right: .5rem;
    }

    /* page 4 css responsive */

    .page-4{
        height: 45rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #EFF2F4, #EFF2F4);
    }

    .p4up-flex{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 0;
    }

    .p4up-left{
        width: 90%;
        height: 60%;
        /* border: 4px solid yellow; */
        padding: 0;
        font-weight: 600;
        font-family: TWK Lausanne;
        font-size: 3rem;
        letter-spacing: -0.04em;
        text-align: left;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .p4up-right{
        width: 95%;
        height: 100%;
        /* border: 4px solid yellow; */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 10%;
        padding: 1%;
        margin-left: .8rem;
    }

    .p4down{
        width: 100%;
        height: 55%;
        /* border: 4px solid yellow; */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1%;  
        margin-top: .5rem;
    }

    .quotes{
        padding: 2%;
        border-radius: 2%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 1%;
        background: #3E83EB1A;    
    }
    
    .quotes p{
        /* border: 4px solid green; */
        width: 23.5rem;
        height: 90%;
        margin-bottom: .3rem;
        font-size: 1.6rem;
    }
    
    .quotes .discord{
        /* border: 4px solid green; */
        width: 30%;
        font-size: .8rem;
        margin-bottom: .5rem;
        margin-top: -5rem;
    }
    
    .quotes .Mchein{
        /* border: 4px solid green; */
        width: 90%;
        font-size: .8rem;
    }
    
    .quote-left{
        height: 20rem;
        width: 24.5rem;
        margin-left: -23.8rem;
        /* border: 4px solid green; */
    }
    
    .quote-right{
        height: 20rem;
        width: 24.5rem;
        margin-top: .8rem;
        margin-left: .7rem;
    }
    
    .quote-mid{
        height: 20rem;
        width: 24.5rem;
        margin-top: .8rem;
        margin-left: .7rem;
    }
    
    .quote1{
        margin-top: -1.4rem;
        margin-bottom: .5rem;
        font-size: 1.8rem;
    }
    
    #quote2{
        margin-top: -1.4rem;
        margin-bottom: .5rem;
        font-size: 1.8rem;
    }
    
    #quote3{
        margin-top: -1.4rem;
        margin-bottom: .5rem;
        font-size: 1.8rem;
    }

    /* page 5 css start*/

    .page-55 {
        display: flex;
        flex-direction: row;
        width: 97%;
        margin-left: 1rem;
        height: 68rem;
        background-color: rgba(255, 255, 255, 1);
        background: url(img/Fra542.png) no-repeat center center/cover;
        border-radius: 1rem;
    }
    
    .page5-h1{
        margin-top: 2rem;
        margin-left: 1rem;
        color: rgba(255, 255, 255, 1);
        width: 28rem;
        font-size: 2.8rem;
    }
    
    .page55-imgg{
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .page5-img{
        height: 35rem;
        width: 30rem;
        border-radius: .5rem;
    }

    /* page 5 css end */

    /* page 6 css start */
.page-6{
    width: 99%;
    height: 80rem;
    background: rgba(255, 255, 255, 1);
}

.page6{
    margin-top: 3rem;
}

.page6-text1{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
}

.page6-text h1{
    font-weight: 700;
    color: #111010;
    opacity: .8;
}

.page6-span1{
    color: rgb(14, 174, 14);
}

.page6-span2{
    color: rgb(228, 65, 65);
}

.page6-img{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 12rem;
}

.page6-img1 img{
    width: 38rem;
    height: 30rem;
    margin-right: 3rem;
    border-radius: .5rem;
}

.page6-img2 img{
    width: 38rem;
    height: 30rem;
    border-radius: .5rem;
}

.page6-text2{
    margin-top: 1rem;
    width: 30rem;
}

.page6-button{
    margin-top: 1rem;
    height: 3rem;
    width: 13.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.page6-elipse{
    height: .5rem !important;
    width: .5rem !important;
    margin-right: .5rem;
}

.page6-button p{
    font-size: .9rem;
    cursor: pointer;
    color: rgba(62, 131, 235, 1);
    font-weight: 600;
}

.page6-end img{
    display: flex;
    flex-direction: row;
    width: 98%;
    margin-left: 1.5rem;
    margin-top: 2rem;
    height: 23rem;
}

/* page 6 css end */
    
}
