<% layout("/layout/boilerplate") %>
<body>
    <div class="signup_body">
    <div class="wrapper">
       <form action="/signup" method="post" class="needs-validation" >
        <h1>Sign up</h1>

        <div class="input-box">
            <div class="input-field">
                <input name="name" id="name" type="text" placeholder="Full Name" required>
                <i class="bx bxs-user"></i>
                <span class="focus"></span>
            </div>
            <div class="input-field">
                <input name="username" id="username" type="text" placeholder="Username" required>
                <i class="bx bxs-user"></i>
                <span class="focus"></span>
            </div>
        </div>

        <div class="input-box">
            <div class="input-field">
                <input name="email" id="email" type="email" placeholder="Email" required>
                <i class="bx bxs-envelope"></i>
                <span class="focus"></span>
            </div>
            <div class="input-field">
                <input name="phone_no" id="phone_no" type="number" placeholder="Phone Number" required>
                <i class="bx bxs-phone"></i>
                <span class="focus"></span>
            </div>
        </div>

        <div class="input-box">
            <div class="input-field">
                <input name="password" id="password" type="password" placeholder="Password" required>
                <i class="bx bxs-lock-alt"></i>
                <span class="focus"></span>
            </div>
            <div class="input-field">
                <input name="conformPassword" id="conformPassword" type="password" placeholder="Conform Password" required>
                <i class="bx bxs-lock-alt"></i>
                <span class="focus"></span>
            </div>
        </div>

        <label><input type="checkbox" required>I hereby declare that the above information provided is true and correct</label>
        <button type="submit" class="btn">Sign up</button>
       </form>
    </div>
</div>
    <script src="script.js"></script>
</body>