/* Default */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #eceff0;
    --second--bg-color: #dde6ec;
    --text-color: #111010;
    --main-color: #111212;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    /* border: 0.4rem solid pink; */
    width: 100vw;
    height:  800vh;
    background: rgba(221, 228, 232, 0);
    background: linear-gradient(360deg, #E6ECEF 36.44%, rgba(221, 228, 232, 0) 100%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.prenav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);    
    border-bottom: 0.1rem solid white;
    height: 2rem; 
    padding-top: 1.7rem;
    padding-bottom: 1.8rem;
}

.prenavimg {
    border-radius: 0.2rem;
    width: 1.4rem; 
    height: 1.4rem; 
}

.prenav1 {
    position: relative;
    left: 0.5rem; 
    color: rgba(62, 131, 235, 1);
    font-size: 1.1rem; 
}

.prenav2 a {
    position: relative;
    left: 1.5rem; 
    font-size: 1rem; 
    color: black !important;
}

.prenav2 span {
    font-weight: 600;
}

/* /Default */

/* header */
.header {
    /* border: 0.4rem solid pink; */
    position: relative;
    padding-top: 1rem;
    width: 100%;
    height: 3rem;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
    z-index: 100;
}

.menu-icon {
    display: none;
}

.header-flex,
.left-nav,
.mid-nav,
.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    padding-left: 4%;
}

.left-nav img{
    width: 1.5rem;
    height: 1.5rem;
}

.left-nav a{
    font-size: 1.2rem;
}

.logo {
    font-size: 1.6rem; 
    color: var(--text-color);
    font-weight: 550;
}

.navbar1 a {
    color: var(--text-color);
    font-weight: 500;
    margin-left: 1.5rem;
    transition: 0.3s;
}

.navbar1 a:hover,
.navbar1 a.active {
    color: var(--main-color);
}

.navbar2 a {
    color: rgba(62, 131, 235, 1);
    font-weight: 500;
    transition: 0.3s;
    padding-right: 1rem;
}

.navbar2 a:hover,
.navbar2 a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem; 
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.getstart{
    border: .1rem solid rgba(62, 131, 235, 0.15);
    margin-right: 4rem;
    height: 2.5rem;
    width: 12rem;
    border-radius: 1rem;
    margin-left: .5rem;
    background: rgba(62, 131, 235, 0.1);
    padding-left: 1rem;
    padding-top: .5rem;
}

.getstartimg{
    padding-right: .2rem;
    width: .6rem;
}

.home1{
    background: rgba(255, 255, 255, 0.5);
    width: 5.2rem;
    height: 2.2rem;
    border-radius: .6rem;
    padding-left: .8rem;
    padding-top: .5rem;
    font-size: .95rem;
}

.home1 img{
    margin-right: .28rem;
    border-radius: 95%;
    margin-bottom: .1rem;
}

/* /header */

/* pageDefault */
.pages {
    /* border: 0.4rem solid purple; */
    width: 100%;
    height: 345rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.page {
    /* border: 0.4rem solid red; */
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* /pageDefault */

/* page-1 */
.page-1 {
    height: 100vh;
    box-sizing: border-box;
    place-items: center;
    width: 100%;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.home-flex {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.box11 {
    /* border: 0.4rem solid black; */
    width: 100%;
    height: 43rem; /* 80% of its container */
    margin-bottom: 1rem;
}

.box11-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.img1 {
    margin-top: 1.5rem;
    height: 30rem;
    width: 50rem;
    /* border: 0.4rem solid blue; */
}

.layout1 {
    width: 93rem;
    margin-left: 1rem;
    height: 19rem; 
    border-radius: 1rem;
    background: url(img/f1.jpg) no-repeat center center/cover;
}

.layout2{
    display: none;
}

.box11-content {
    text-align: left;
    /* border: 0.4rem solid green; */
    width: 40rem;
}

.box11-content-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.box11-content h1 {
    width: 30rem; 
    margin-left: 15%;
    margin-top: 4rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: .6rem;
    /* border: 0.4rem solid orange; */
}

.box11-content h1 {
    color: var(--main-color);
}

.box11-input-club {
    width: 71.8%;
    margin-left: 6rem;
    /* border: 0.4rem solid black; */
}

.input-club-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.box11-btn {
    position: absolute;
    align-self: center;
    right: 1%;
    width: 11rem;
    height: 2.5rem; 
    top: .25rem;
    background: rgb(74, 133, 209);
    border: 0.2rem solid rgb(74, 133, 209);
    border-radius: 0.6rem;
    font-size: .9rem; 
    font-weight: 500;
    color: rgb(255, 255, 255);
    overflow: hidden;
    transition: 0.5s;
}

.box11-btn span{
    margin-left: .4rem;
}

.inputBox {
    width: 100%;
    height: 3rem; 
    padding: .6rem;
    font-size: 1rem; 
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    outline: none;
    border-radius: .9rem;
    padding-left: 1.2rem;
    margin-bottom: .6rem;
}

.box11-content p {
    text-align: start;
    margin-left: 6.2rem;
    margin-top: .1rem;
    font-weight: 300;
    opacity: 0.8;
}

/* /page-1 */

/* page-2 */
.page-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #fafafa;
}

.page2-header {
    padding: 1%;
    margin-top: 3rem;
    padding-left: 5rem;
    width: 100%;
    height: 15%;
    font-size: 1.5rem;
    /* border: 0.4rem solid orange; */
    background: #fafafa;
}

.headerP1 {
    font-weight: 700;
    margin: 0;
    letter-spacing: 0px;
    gap: 0px;
}

.headerP2 {
    font-weight: 700;
    margin: 0;
    width: 65rem; 
    letter-spacing: 0px !important;
    gap: 0px;
}

.page-2 .images-container {
    padding: 1%;
    width: 100%;
    height: 85%;
    /* border: 0.4rem solid orange; */
}

.page-2 .images-container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1%;
    justify-content: space-around;
    align-items: center;
}

.images-container-image {
    /* border: 0.4rem solid #111010; */
    padding: 1%;
    width: 30%;
    height: 80%;
}

.imgg {
    height: 68%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: .5rem;
    margin-bottom: .7rem;
}

.imgg1 {
    margin-left: 3rem;
}

.imgg2 {
    margin-left: -1.2rem;
}

.imgg3 {
    margin-left: -5.5rem;
}

.image2 {
    align-self: flex-end;
}

.image3 {
    align-self: flex-start;
}

.content1 {
    text-align: left;
    margin-left: 2.85rem;
}

.content1p11 {
    color: rgb(83, 82, 82);
    font-size: 1.1rem; 
}

.content1h3{
    font-size: 1rem;
    font-weight: 600;
    color: black;
    margin-top: 3rem;
}

.content2 {
    text-align: left;
    margin-left: -1.1rem;
}

.content1p12 {
    color: rgb(83, 82, 82);
    font-size: 1.1rem; 
}

.content3 {
    text-align: left;
    margin-left: -5.4rem;
}

.content1p13 {
    color: rgb(83, 82, 82);
    font-size: 1.1rem; 
}

/* /page-2 */

/* page-3 */
.blackbox {
    display: flex;
    flex-direction: row;
    background: url(img/glow.png) no-repeat center center/cover;
    width: 97%;
    height: 52.8rem;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
}

.background-image {
    height: 50rem;
    width: 50rem;
    border-radius: 1rem; 
    padding-left: 3rem;
    padding-top: 4rem;
}

.container3{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35rem;
    margin-top: 15.3rem;
    margin-left: -3rem;
}

.container3 h1 {
    font-size: 2.8rem;
    margin-bottom: .5rem;
}

.container3 p {
    margin-bottom: .5rem;
}

.button33{
    width: 10rem;
    height: 2.5rem;
    border-radius: .5rem;
}

.button33 p{
    font-size: 1rem;
    font-weight: 500;
    color: blue;
    margin-bottom: 1rem;
}

.button33span{
    position: relative;
    top: -.2rem;
    font-size: 1.5rem;
    margin-right: .5rem;
    border-radius: 5%;
    font-weight: 900;
}

/* /page-3 */


/* page-4 */


.page-4{
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #EFF2F4, #EFF2F4);
}

.p4up{
    width: 100%;
    height: 45%;
    /* border: 4px solid yellow; */
}

.p4up-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 5%;
}

.p4up-left{
    width: 31%;
    height: 100%;
    margin-left: 5.5rem;
    /* border: 4px solid yellow; */
    padding: 1%;
    font-weight: 600;
    font-family: TWK Lausanne;
    font-size: 3rem;
    letter-spacing: 0;
    text-align: left;

}

.p4up-left img{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: .2rem;
    margin-left: -.3rem;
}

.p4up-right{
    width: 38%;
    height: 100%;
    margin-right: 24rem;
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10%;
    padding: 1%;
}

.p4up-right p{
    font-weight: 300;
    width: 25rem;
    margin-top: .3rem;
    font-size: .78rem;
}

.getstart-container{
    width: 10.6rem;
    height: 2.5rem;
    background: rgba(62, 131, 235, 0.1);
    border: .1rem solid rgba(62, 131, 235, 1);
    color: rgba(62, 131, 235, 1);
    border-radius: 1rem;
    padding-left: 2rem;
    padding-top: .7rem;
    font-size: .8em;
}

.p4down{
    width: 100%;
    height: 35%;
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1%;  
}

.quotes{
    padding: 2%;
    border-radius: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1%;
    background: #3E83EB1A;    
}

.quotes p{
    /* border: 4px solid green; */
    width: 86%;
    height: 90%;
    margin-bottom: .3rem;
}

.quotes .discord{
    /* border: 4px solid green; */
    width: 25%;
    font-size: xx-small;
    margin-bottom: .5rem;
}

.quotes .Mchein{
    /* border: 4px solid green; */
    width: 50%;
    font-size: xx-small;
}

.quote-left{
    height: 8rem;
    width: 85rem;
    margin-top: 1.3rem;
}

.quote-right{
    height: 8rem;
    width: 85rem;
    margin-top: 1.3rem;
}

.quote-mid{
    height: 8rem;
    width: 85rem;
    margin-top: 1.5rem;
}

.quote1{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

#quote2{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

#quote3{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

/* /page-4 */

/* page 7 css start */

.page-7{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #EFF2F4, #EFF2F4);
}

.page7-img1{
    height: 10rem;
    width: 10rem;
}

.page7-img2{
    height: 10rem;
    width: 10rem;
}

.page7-img3{
    height: 10rem;
    width: 10rem;
}

.page7-img4{
    height: 10rem;
    width: 10rem;
}

.page7-boximg{
    height: 10rem;
    width: 10rem;
}