/* Default */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #eceff0;
    --second--bg-color: #dde6ec;
    --text-color: #111010;
    --main-color: #111212;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    /* border: 0.4rem solid pink; */
    width: 100%;
}

.page1-background{
    background: url(img/Rec9151.png) no-repeat center center/cover;
    width: 100%;
    height: 68rem;
}

.prenav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);    
    border-bottom: 0.1rem solid white;
    height: 1.8rem; 
    padding-top: 1.7rem;
    padding-bottom: 1.8rem;
}

.prenavimg {
    border-radius: 0.2rem;
    width: 1.4rem; 
    height: 1.4rem; 
    margin-top: -.1rem;
}

.prenav1 {
    position: relative;
    left: 0.5rem; 
    color: rgba(62, 131, 235, 1);
    font-size: 1.1rem; 
}

.prenav2 a {
    position: relative;
    left: 1.5rem; 
    font-size: 1rem; 
    color: black !important;
}

.prenav2 span {
    font-weight: 600;
}

/* /Default */

/* header */
.header {
    /* border: 0.4rem solid pink; */
    padding-top: 1.3rem;
    display: flex;
    width: 100%;
    height: 3rem;
}

.menu-icon {
    display: none;
}

.header-flex,
.left-nav,
.mid-nav,
.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    padding-left: 4%;
}

.left-nav img{
    width: 1.3rem;
    height: 1.3rem;
    margin-right: .5rem;
}

.left-nav a{
    font-size: 1.2rem;
}

.logo {
    font-size: 1.6rem; 
    color: var(--text-color);
    font-weight: 550;
}

.navbar1 a {
    color: var(--text-color);
    font-weight: 500;
    margin-left: 1.5rem;
    transition: 0.3s;
}

.navbar1 a:hover,
.navbar1 a.active {
    color: var(--main-color);
}

.navbar2 a {
    color: rgba(62, 131, 235, 1);
    font-weight: 500;
    transition: 0.3s;
    padding-right: 1rem;
}

.navbar2 a:hover,
.navbar2 a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem; 
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.getstart{
    border: .1rem solid rgba(62, 131, 235, 0.15);
    margin-right: 4rem;
    height: 2.5rem;
    width: 12rem;
    border-radius: 1rem;
    margin-left: .5rem;
    background: rgba(62, 131, 235, 0.1);
    padding-left: 1rem;
    padding-top: .5rem;
}

.getstartimg{
    position: relative;
    top: -.1rem;
    padding-right: .2rem;
    width: .6rem;
}

.mid-nav{
    padding-left: 1.7rem;
}

.right-nav{
    position: relative;
    right: -2rem;
}

.home1{
    background: rgba(255, 255, 255, 0.5);
    width: 5.2rem;
    height: 2.2rem;
    border-radius: .6rem;
    padding-left: .8rem;
    padding-top: .5rem;
    font-size: .95rem;
}

.home1 img{
    height: .5rem;
    width: .5rem;
}

/* /header */

/* pageDefault */
.pages {
    /* border: 0.4rem solid purple; */
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.page {
    /* border: 0.4rem solid red; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* /pageDefault */

/* page-1 */
.page-1 {
    height: 50rem;
    box-sizing: border-box;
    place-items: center;
    width: 100%;
}

.home-flex {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.box11 {
    /* border: 0.4rem solid black; */
    width: 100%;
    margin-top: 3rem;
    height: 43rem; /* 80% of its container */
    margin-bottom: 1rem;
}

.box11-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.img111 {
    margin-top: -1.8rem;
    height: 35rem;
    width: 55rem;
    margin-left: 4.2rem;
    /* border: 0.4rem solid blue; */
}

.img121{
    display: none;
}

.layout1 {
    width: 97.8%;
    margin-left: 1.1rem;
    margin-top: 2rem;
    color: white;
    height: 19rem; 
    border-radius: 1rem;
    background: url(img/Fr5411.png) no-repeat center center/cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.text-block {
    margin: 0 .8rem;
}
.text-block h1 {
    font-weight: bold;
    font-size: 2rem;
}
.text-block h4 {
    font-weight: 300;
    margin-top: .5rem;
}

.layout2{
    display: none;
}

.box11-content {
    text-align: left;
    /* border: 0.4rem solid green; */
    width: 40rem;
}

.box11-content-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.box11-content h1 {
    width: 30rem; 
    margin-left: 14.5%;
    margin-top: 5rem;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 1rem;
    /* border: 0.4rem solid orange; */
}

.box11-content h1 {
    color: var(--main-color);
}

.box11-input-club {
    width: 71.8%;
    margin-left: 6rem;
    /* border: 0.4rem solid black; */
}

.input-club-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.box11-btn {
    position: absolute;
    align-self: center;
    right: 1%;
    width: 11rem;
    height: 2.5rem; 
    top: .25rem;
    background: rgb(74, 133, 209);
    border: 0.2rem solid rgb(74, 133, 209);
    border-radius: 0.6rem;
    font-size: .9rem; 
    font-weight: 500;
    color: rgb(255, 255, 255);
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.box11-btn span{
    margin-left: .4rem;
}

.inputBox {
    width: 100%;
    height: 3rem; 
    padding: .6rem;
    font-size: 1rem; 
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    outline: none;
    border-radius: .9rem;
    padding-left: 1.2rem;
    margin-bottom: .6rem;
}

.box11-content p {
    text-align: start;
    margin-left: 6.2rem;
    margin-top: .1rem;
    font-weight: 300;
    opacity: 0.8;
}

/* /page-1 */

/* page-2 */
.page-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #fafafa;
    height: 50rem;
}

.page2-header {
    padding: 1%;
    margin-top: 3rem;
    padding-left: 5rem;
    width: 100%;
    height: 15%;
    font-size: 1.5rem;
    /* border: 0.4rem solid orange; */
    background: #fafafa;
}

.headerP1 {
    font-weight: 700;
    margin: 0;
    letter-spacing: 0px;
    gap: 0px;
}

.headerP2 {
    font-weight: 700;
    margin: 0;
    width: 65rem; 
    letter-spacing: 0px !important;
    gap: 0px;
}

.page-2 .images-container {
    padding: 1%;
    width: 100%;
    height: 85%;
    /* border: 0.4rem solid orange; */
}

.page-2 .images-container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1%;
    justify-content: space-around;
    align-items: center;
}

.images-container-image {
    /* border: 0.4rem solid #111010; */
    padding: 1%;
    width: 29%;
    height: 80%;
}

.imgg {
    height: 68%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: .5rem;
    margin-bottom: .7rem;
}

.imgg1 {
    margin-left: 3rem;
}

.imgg2 {
    margin-left: -1.2rem;
}

.imgg3 {
    margin-left: -2.5rem;
}

.image2 {
    align-self: flex-end;
}

.image3 {
    align-self: flex-start;
}

.content1 {
    text-align: left;
    margin-left: 2.85rem;
}

.content1p11 {
    color: rgb(83, 82, 82);
    font-size: 1.1rem; 
}

.content1h3{
    font-size: 1rem;
    font-weight: 600;
    color: black;
    margin-top: 3rem;
}

.content2 {
    text-align: left;
    margin-left: -1.1rem;
}

.content1p12 {
    color: rgb(83, 82, 82);
    font-size: 1.1rem; 
}

.content3 {
    text-align: left;
    margin-left: -5.4rem;
}

.content1p13 {
    color: rgb(83, 82, 82);
    font-size: 1.1rem; 
}

/* /page-2 */

/* page-3 */
.blackbox {
    display: flex;
    flex-direction: row;
    background: url(img/Fra5413.png) no-repeat center center/cover;
    width: 97.5%;
    height: 54rem;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    padding-top: 1.3rem;
}

.background-image {
    border-radius: 1rem; 
}

.background-image1{
    display: none;
}

.container3{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35rem;
    margin-top: 15.3rem;
    margin-left: -4rem;
}

.container3 h1 {
    font-size: 2.8rem;
    margin-bottom: .5rem;
    padding-left: 0%;
}

.container3 p {
    margin-bottom: .5rem;
}

.button33{
    width: 10rem;
    height: 2.5rem;
    border-radius: .5rem;
}

.button33 p{
    font-size: 1rem;
    font-weight: 500;
    color: blue;
    margin-bottom: 0rem;
    cursor: pointer;
}

.button33span{
    position: relative;
    top: -.2rem;
    font-size: 1.5rem;
    margin-right: .5rem;
    border-radius: 5%;
    font-weight: 900;
}

/* /page-3 */


/* page-4 */


.page-4{
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #EFF2F4, #EFF2F4);
}

.p4up{
    width: 100%;
    height: 45%;
    /* border: 4px solid yellow; */
}

.p4up-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 5%;
}

.p4up-left{
    width: 31%;
    height: 100%;
    margin-left: 5.5rem;
    /* border: 4px solid yellow; */
    padding: 1%;
    font-weight: 600;
    font-family: TWK Lausanne;
    font-size: 3rem;
    letter-spacing: 0;
    text-align: left;

}

.p4up-left img{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: .2rem;
    margin-left: -.3rem;
}

.p4up-right{
    width: 38%;
    height: 100%;
    margin-right: 24rem;
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10%;
    padding: 1%;
}

.p4up-right p{
    font-weight: 300;
    width: 25rem;
    margin-top: .3rem;
    font-size: .78rem;
}

.getstart-container{
    width: 10.6rem;
    height: 2.5rem;
    background: rgba(62, 131, 235, 0.1);
    border: .1rem solid rgba(62, 131, 235, 1);
    color: rgba(62, 131, 235, 1);
    border-radius: 1rem;
    padding-left: 2rem;
    padding-top: .7rem;
    font-size: .8em;
    cursor: pointer;
}

.p4down{
    width: 100%;
    height: 35%;
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1%;  
}

.quotes{
    padding: 2%;
    border-radius: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1%;
    background: #3E83EB1A;    
}

.quotes p{
    /* border: 4px solid green; */
    width: 86%;
    height: 90%;
    margin-bottom: .3rem;
}

.quotes .discord{
    /* border: 4px solid green; */
    width: 25%;
    font-size: xx-small;
    margin-bottom: .5rem;
}

.quotes .Mchein{
    /* border: 4px solid green; */
    width: 50%;
    font-size: xx-small;
}

.quote-left{
    height: 10rem;
    width: 87rem;
    margin-top: 1.3rem;
    margin-left: -4rem;
}

.quote-right{
    height: 10rem;
    width: 87rem;
    margin-top: 1.3rem;
}

.quote-mid{
    height: 10rem;
    width: 87rem;
    margin-top: 1.5rem;
}

.quote1{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

#quote2{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

#quote3{
    margin-top: -2.95rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

/* /page-4 */

/* page 5 css start */

.page-55 {
    display: flex;
    flex-direction: row;
    width: 97%;
    margin-left: 1rem;
    height: 68rem;
    background-color: rgba(255, 255, 255, 1);
    background: url(img/Fra542.png) no-repeat center center/cover;
    border-radius: 1rem;
}

.page5-h1{
    margin-top: 7rem;
    margin-left: 13rem;
    color: rgba(255, 255, 255, 1);
    width: 40rem;
    font-size: 3rem;
}

.page55-imgg{
    margin-top: 4rem;
    margin-left: 13rem;
}

.page5-img{
    height: 45rem;
    width: 35rem;
}

.bigbox{
    background-color: rgb(26 44 64);
    height: 9vh;
    width: 27vw;
   border-radius: .8rem;
   margin-top: 6rem;
   color: white;
   text-align:center;
   text-indent: 50%;
   text-orientation: sideways;
   font-size: 1rem;
}
.bigbox1{
    background-color: rgb(255, 255, 255);
    height: 8vh;
    width: 14vw;
   border-radius: .8rem;
   margin-top: 6rem;
   color: rgb(37, 23, 58);
   text-align:center;
   font-size: 1rem;
}

/* page 5 css end */

/* page 6 css start */
.page-6{
    width: 99%;
    height: 80rem;
    background: rgba(255, 255, 255, 1);
}

.page6{
    margin-top: 3rem;
}

.page6-text1{
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page6-text h1{
    font-size: 2rem;
    font-weight: 700;
    color: #111010;
}

.page6-span1{
    color: rgb(14, 174, 14);
    background-color: rgb(243, 246, 243);
    padding: 2px 5px;
    border-radius: 8px;
}

.page6-span2{
    color: rgb(228, 65, 65);
    background-color: rgb(246, 237, 237);
    padding: 2px 5px;
    border-radius: 8px;
}

.page6-img{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 12rem;
}

.page6-img1 img{
    width: 38rem;
    height: 30rem;
    margin-right: 3rem;
    border-radius: .5rem;
}

.page6-img21{
    width: 38rem;
    height: 30rem;
    border-radius: .5rem;
}

.page6-img22{
    display: none;
}

.page6-text2{
    margin-top: 1rem;
    width: 30rem;
}

.page6-button{
    margin-top: 1rem;
    height: 3rem;
    width: 13.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.page6-elipse{
    height: .5rem !important;
    width: .5rem !important;
    margin-right: .5rem;
}

.page6-button p{
    font-size: .9rem;
    cursor: pointer;
    color: rgba(62, 131, 235, 1);
    font-weight: 600;
}

.page6-endimg1{
    display: flex;
    flex-direction: row;
    width: 98%;
    margin-left: 1.5rem;
    margin-top: 2rem;
    height: 23rem;
}

.page6-endimg2{
    display: none;
}

.plaintext{
    color: white;
    font-size: 2rem;
}

.subtext{
    color: white;
    font-weight: 600;
}
.butt{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    cursor: pointer;
    width: 8.2rem;
    height: 2.5rem;
    padding: .9rem 1.5rem;
    border-radius: .8rem;
    outline: none;
    transition: background-color 0.3s, transform 0.1s;
}

.butt .dot {
    height: .4rem;
    width: .4rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}


.butt:hover {
    background-color: #ccd4cd;
}

.butt:active {
    transform: scale(0.95);
    background-color: #ced2ce;
}
/* page 6 css end */

/* page 7 css start */

.page-7{
    width: 99%;
    height: 115rem;
    background: rgba(255, 255, 255, 1);
}

.page7-start{
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
}

.page7-img1 img{
    height: 21rem;
    width: 28rem;
    margin-right: 10rem;
}

.page7-text1{
    width: 30rem;
    margin-right: 10rem;
    margin-top: 2rem;
}

#button71{
    margin-top: 1rem;
}

.page7-middle1{
    display: flex;
    flex-direction: row;
}

.page7-img2 img{
    height: 22rem;
    width: 28rem;
    margin-left: 10rem;
}

.page7-text2{
    width: 30rem;
    margin-left: 10rem;
    margin-top: 2rem;
}

#button72{
    margin-top: 1rem;
}

.page7-middle2{
    display: flex;
    flex-direction: row-reverse;
}

.page7-img3 img{
    height: 22rem;
    width: 28rem;
    margin-right: 10rem;
}

.page7-text3{
    width: 30rem;
    margin-right: 10rem;
    margin-top: 2rem;
}

#button73{
    margin-top: 1rem;
}

.page7-end{
    display: flex;
    flex-direction: row;
}

.page7-img4 img{
    height: 22rem;
    width: 28rem;
    margin-left: 10rem;
}

.page7-text4{
    width: 30rem;
    margin-left: 10rem;
    margin-top: 2rem;
}

#button74{
    margin-top: 1rem;
}

.page7-container {
    display: flex;
    height: 20rem;
    width: 98%;
    background: rgba(228, 238, 250, 1);
    margin-left: .7rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.page7-boximg{
    display: flex;
    margin-left: 8rem;
    height: 20rem;
    width: 25rem;
    margin-top: -4rem;
}

.plaintext1{
    color: rgb(10, 7, 7);
    font-size: 2rem;
    white-space: nowrap;
}

.subsstext{
    white-space: nowrap;
    font-size: .8rem;
    color: grey;
    
}

.page7-button{
    background-color: rgb(217, 217, 250);
    height: 2.5rem;
    width: 6.3rem;
    color: rgb(101, 101, 245);
    border-radius: .8rem;
}
/* page 7 css end */

/* page 8 css start */
.page-8{
    width: 99%;
    height: 40rem;
    background: rgba(255, 255, 255, 1);
}

.page81{
    margin-top: 5rem;
}

.page8-textup {
    display: flex;
    flex-direction: row;
}

.page8-textup1{
    width: 30rem;
    margin-left: 10rem;
}

.page8-textup2{
    width: 15rem;
    margin-left: 10rem;
}

.page8-middle{
    display: flex;
    flex-direction: row;
}

.page8-middleimg img{
    height: 20rem;
    margin-left: 10rem;
    margin-top: 5rem;
    border-radius: .5rem;
}

.page8-middletext h1{
    font-size: 2rem;
    margin-top: 7rem;
    margin-left: 3rem;
    width: 17rem;
    margin-bottom: .5rem;
}

.page8-middletext p{
    width: 25rem;
    font-size: .9rem;
    margin-left: 3rem;
}

#button81{
    margin-top: 1rem;
    margin-left: 3rem;
}

#button81 p{
    margin-left: -8rem;
    margin-top: 0rem;
}

/* page 8 css end */

/* page 9 css start */

.page-9{
    height: 70rem;
    width: 99%;
}

.page9-img{
    width: 98%;
    height: 60rem;
    margin-left: 1rem;
    background: url(img/Fra811415.png) no-repeat center center/cover;
    border-radius: 1rem;
}

.page9-img img{
    margin-top: 8rem;
    margin-left: -2rem;
    padding-right: .4rem;
    height: 50rem;
    width: 90rem;
}

.page9-text{
    color: white;
    font-size: 2rem;
}

/* page 9 css end */

/* page 10 css start */

.page-10{
    width: 100%;
    height: 58rem;
    /* border: .4rem solid #111010; */
}

.page10-text{
    display: flex;
    margin-left: 42rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 12rem;
    border-radius: .5rem;
    background: rgba(239, 242, 244, 1);
}

.page10-month{
    height: 2.3rem;
    width: 6rem;
    border-radius: .5rem;
    padding-top: .5rem;
    padding-left: 1rem;
    margin-left: 0rem;
    background: rgba(255, 255, 255, .5);
}

.page10-text p{
    margin-right: 1rem;
}

.page10-mid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.page10-con1{
    width: 20rem;
    height: 36rem;
    background: rgba(239, 242, 244, 1);
    margin-right: 2rem;
    border-radius: 2rem;
    z-index: 1;
}

.page10-con2{
    width: 20rem;
    height: 36rem;
    background: rgba(239, 242, 244, 1);
    margin-right: 2rem;
    border-radius: 2rem;
    z-index: 1;
}

.page10-con3{
    width: 20rem;
    height: 36rem;
    background: rgba(239, 242, 244, 1);
    border-radius: 2rem;
    z-index: 1;
}

.page10-con1up{
    width: 100%;
    height: 3rem;
    background: rgb(245, 246, 247, .9);
    padding-left: 9rem;
    padding-top: 1rem;
    font-size: .8rem;
    font-weight: 500;
}

.page10-con2up{
    width: 100%;
    height: 3rem;
    background: rgb(245, 246, 247, .9);
    padding-left: 7rem;
    padding-top: 1rem;
    font-size: .8rem;
    font-weight: 500;
}

.page10-con3up{
    width: 100%;
    height: 3rem;
    background: rgb(245, 246, 247, .9);
    padding-left: 7rem;
    padding-top: 1rem;
    font-size: .8rem;
    font-weight: 500;
}

.page10-con1mid1{
    height: 2.5rem;
    width: 7rem;
    background: rgb(248, 248, 248, 1);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.page10-con1mid1 p{
    padding-top: .7rem;
    padding-left: 1.2rem;
}

.page10-con2mid1{
    height: 2.5rem;
    width: 7rem;
    background: rgb(248, 248, 248, 1);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.page10-con2mid1 p{
    padding-top: .7rem;
    padding-left: 1.2rem;
}

.page10-con3mid1{
    height: 2.5rem;
    width: 7rem;
    background: rgb(248, 248, 248, 1);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.page10-con3mid1 p{
    padding-top: .7rem;
    padding-left: 1.2rem;
}

.page10-con1mid2 h1{
    width: 16rem;
    font-size: 1.9rem;
    margin-top: .8rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.page10-con2mid2 h1{
    width: 16rem;
    font-size: 1.9rem;
    margin-top: .8rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.page10-con3mid2 h1{
    width: 16rem;
    font-size: 1.9rem;
    margin-top: .8rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.page10-con1mid2 p{
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.page10-con2mid2 p{
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.page10-con3mid2 p{
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.page10-con1mid2 button{
    height: 2.5rem;
    width: 12rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(41, 126, 223);
    margin-bottom: 1rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 0.1);
}

.page10-con2mid2 button{
    height: 2.5rem;
    width: 12rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(41, 126, 223);
    margin-bottom: 1rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 0.1);
}

.page10-con3mid2 button{
    height: 2.5rem;
    width: 12rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(41, 126, 223);
    margin-bottom: 1rem;
    border-radius: .5rem;
    background: rgba(62, 131, 235, 0.1);
}

.page10-con1mid2 img{
    height: 9rem;
    margin-left: 1rem;
    margin-top: .5rem;
}

.page10-con2mid2 img{
    height: 9rem;
    margin-left: 1rem;
    margin-top: .5rem;
}

.page10-con3mid2 img{
    height: 9rem;
    margin-left: 1rem;
    margin-top: .5rem;
}

.page10-con4{
    display: flex;
    width: 39rem;
    margin-top: 1rem;
    height: 8rem;
    background: url(img/Fra811424.png) no-repeat center center/cover;
    margin-left: 40rem;
    border-radius: 1rem;
    z-index: 2;
}

.page10-con4text{
    margin-top: 1rem;
    margin-left: 1rem;
}

.page10-con4text h1{
    margin-top: 1rem;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 1);
}

.page10-con4text p{
    margin-top: .3rem;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 1);
    font-size: .7rem;
    width: 16rem;
}

.page10-con4button1{
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(248, 248, 248);
    margin-bottom: 1rem;
    border-radius: .5rem;
    background: rgba(92, 149, 234, 0.1);
    padding-top: .2rem;
    padding-left: .6rem;
    margin-left: 12rem;
    margin-top: 3.5rem;
}

.page10-con4button1 p{
    font-size: 1rem;
}

#page10-end2{
    display: none;
}

/* page 10 css end */

/* page 11 css start */

.page-11{
    width: 100%;
    height: 80rem;
    /* border: .4rem solid #111010; */
}

.page11-start{
    display: flex;
    flex-direction: row;
}

.page11-con1{
    width: 23rem;
    height: 8rem;
    background: url(img/F13213.png) no-repeat center center/cover;
    margin-top: 10rem;
    margin-left: 10rem;
    border-radius: 1rem;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.916);
}

.page11-con1 h1{
    margin-left: 1.3rem;
    margin-top: 1rem;
}

.page11-con1button{
    height: 2.5rem;
    width: 12rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(248, 248, 248);
    margin-bottom: 1rem;
    border-radius: .5rem;
    background: rgba(92, 149, 234, 0.3);
    padding-top: .1rem;
    padding-left: .2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.page11-con2{
    display: flex;
    height: 13rem;
    width: 44rem;
    background: rgb(242, 242, 242);
    margin-left: -4.6rem;
    border-radius: 1rem;
}

.page11con2-img img{
    height: 12.5rem;
    width: 14rem;
    margin-left: .5rem;
    margin-top: .2rem;
}

.page11-mid{
    display: flex;
    flex-direction: row;
}

.page11-right{
    display: flex;
    flex-direction: row;
}

.page11-right img{
    height: 28rem;
}

.page11-textbox1{
    margin-left: 9.8rem;
    margin-top: 3rem;
    width: 60rem;
    height: 10rem;
}

.page11-textbox1 h1{
    font-size: 2.6rem;
    width: 25rem;
}

.page11-textbox1 p{
    margin-top: 1rem;
    font-size: 1rem;
    width: 26rem;
}

.page11-textbox2{
    margin-top: 1rem;
    margin-left: -42rem;
}

.page11-textbox2 p{
    font-weight: 600;
    margin-top: .5rem;
    margin-bottom: 3rem;
    margin-left: 8rem;
}

.page11-textboxp4 {
    margin-top: 0;
    margin-bottom: -1rem;
    font-weight: 400 !important;
    font-size: .9rem;
    width: 25rem;
}

.page11-end{
    margin-top: 2rem;
    width: 97%;
    height: 15rem;
    margin-left: 1rem;
    background: url(img/Fr1416.png) no-repeat center center/cover;
    border-radius: 1rem;
}

.page11-text{
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: .9rem;
}

.page11-butt{
    color: rgb(115, 115, 203);
    background-color: rgb(229, 229, 251);
    padding: .8rem .4rem;
    border-radius: .3rem;
    cursor: pointer;
}

.page11-ending{
    padding-top: 3.2rem;
    padding-left: 3.8rem;
    font-size: 2.5rem;
    color:white ;
}

.subtext-page11{
    color: white;
    margin-top: -5rem;
    padding-left: 41rem;
    font-weight: 500;
}

.button-page11{
    padding: .7rem 1.5rem;
    border-radius: .9rem;
}

.button-page11 .dot {
    height: .4rem;
    width: .4rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}
/* page 11 css end */

/* page 12 css start */
.page-12{
    height: 23.5rem;
}

.page121{
    display: flex;
    flex-direction: row;
}

.page12-left{
    margin-left: 4rem;
    margin-top: 3rem;
}

.page12-right{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-top: 3rem;
}

.page12-right1{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-left: 8rem;
}

.page12-right2{
    display: flex;
    flex-direction: column;
}

.page-12end{
    margin-top: 8.7rem;
    margin-left: 42%;
}
.img2{
    height:1.3rem;
    width: 1.3rem;
}

.end{
    color: rgb(164, 161, 161);
}
/* page 12 css end */