/* Default */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #eceff0;
    --second--bg-color: #dde6ec;
    --text-color: #111010;
    --main-color: #111212;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    border: 0.4rem solid pink;
    width: 100vw;
    height:  800vh;
    background: rgba(221, 228, 232, 0);
    background: linear-gradient(360deg, #E6ECEF 36.44%, rgba(221, 228, 232, 0) 100%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.prenav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.5) !important;
    height: 5rem; 
}

.prenavimg {
    border-radius: 0.2rem;
    width: 1.4rem; 
    height: 1.4rem; 
}

.prenav1 {
    position: relative;
    left: 0.5rem; 
    color: rgba(62, 131, 235, 1);
    font-size: 1.1rem; 
}

.prenav2 {
    position: relative;
    left: 1.5rem; 
    font-size: 1.2rem; 
    color: black !important;
}

.prenav2 span {
    font-weight: 600;
}

/* /Default */

/* header */
.header {
    border: 0.4rem solid pink;
    position: relative;
    top: 1rem;
    width: 95.5%;
    padding: 1%;
    background: linear-gradient(360deg, rgba(221, 228, 232, 0) 100%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%) !important;
    z-index: 100;
}

.header-flex,
.left-nav,
.mid-nav,
.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.6rem; 
    color: var(--text-color);
    font-weight: 550;
}

.navbar1 a {
    color: var(--text-color);
    font-weight: 500;
    margin-left: 1.5rem;
    transition: 0.3s;
}

.navbar1 a:hover,
.navbar1 a.active {
    color: var(--main-color);
}

.navbar2 a {
    color: rgba(62, 131, 235, 1);
    font-weight: 500;
    transition: 0.3s;
}

.navbar2 a:hover,
.navbar2 a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem; 
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* /header */

/* pageDefault */
.pages {
    border: 0.4rem solid purple;
    width: 100%;
    height: 100%;
    padding: 1%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.page {
    border: 0.4rem solid red;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* /pageDefault */

/* page-1 */
.page-1 {
    height: 85vh;
    box-sizing: border-box;
    place-items: center;
    width: 100%;
    background: linear-gradient(180deg, #E6ECEF 100%, rgba(221, 228, 232, 0) 36%, rgba(236, 241, 244, 0) 100%, rgba(230, 236, 239, 0) 100%);
}

.home-flex {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.box11 {
    border: 0.4rem solid black;
    width: 100%;
    height: 80%; /* 80% of its container */
}

.box11-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img3 {
    position: absolute;
    width: 12.7rem; 
    height: 8.9rem; 
    top: -38.1rem; 
    left: 4.15rem; 
    z-index: 10;
}

.img1 {
    height: 100%;
    border: 0.4rem solid blue;
}

.layout1 {
    width: 100%;
    height: 20%; 
    background: url("img/f1.jpg") no-repeat center center/cover;
    border-radius: 3rem;
}

.box11-content {
    text-align: center;
    border: 0.4rem solid green;
    width: 500%;
}

.box11-content-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.box11-content h1 {
    width: 40rem; 
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    border: 0.4rem solid orange;
}

.box11-content h1 {
    color: var(--main-color);
}

.box11-input-club {
    width: 100%;
    border: 0.4rem solid black;
}

.input-club-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.box11-btn {
    position: absolute;
    align-self: center;
    right: 1%;
    width: 17rem;
    height: 3.5rem; 
    background: rgb(74, 133, 209);
    border: 0.2rem solid rgb(20, 129, 165);
    border-radius: 0.8rem;
    font-size: 1.4rem; 
    font-weight: 500;
    color: rgb(255, 255, 255);
    overflow: hidden;
    transition: 0.5s;
}

.inputBox {
    width: 100%;
    height: 3.8rem; 
    padding: 2rem;
    font-size: 1.6rem; 
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    outline: none;
    border-radius: 1rem;
}

.box11-content p {
    text-align: start;
    font-weight: 300;
    opacity: 0.8;
}

/* /page-1 */

/* page-2 */
.page-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.page2-header {
    padding: 1%;
    width: 100%;
    height: 15%;
    border: 0.4rem solid orange;
    background: #fafafa;
}

.headerP1 {
    font-weight: 700;
    margin: 0;
    letter-spacing: 0px;
    gap: 0px;
}

.headerP2 {
    font-weight: 700;
    margin: 0;
    width: 65rem; 
    letter-spacing: 0px !important;
    gap: 0px;
}

.page-2 .images-container {
    padding: 1%;
    width: 100%;
    height: 85%;
    border: 0.4rem solid orange;
}

.page-2 .images-container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1%;
    justify-content: space-around;
    align-items: center;
}

.images-container-image {
    border: 0.4rem solid #111010;
    padding: 1%;
    width: 30%;
    height: 80%;
}

.imgg {
    height: 65%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.image2 {
    align-self: flex-end;
}

.image3 {
    align-self: flex-start;
}

.content1 {
    text-align: left;
}

.content1 h2 {
    font-size: 2.3rem; 
    font-weight: 600;
    color: black;
    padding: 1rem;
}

.content1 p {
    color: rgb(83, 82, 82);
    font-size: 1.3rem; 
    padding: 1rem;
}
/* /page-2 */

/* page-3 */
.blackbox {
    background: linear-gradient(117.56deg, rgba(16, 9, 50, 0.4) 5.81%, rgb(16, 12, 46) 49.34%),
    radial-gradient(79.74% 121.28% at 13.7% -8.46%, #061016 10%, #162029 50.52%, #0D1317 100%);
    color: white;
    border-radius: 1rem; 
}

.background-image {
    height: 100%;
    width: 100%;
    border-radius: 1rem; 
    z-index: 10;
}

/* /page-3 */
