@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

:root {
  --space-cadet: #1f2041;
  --sunglow: #000000;
  --dark-cyan: #119da4;
  --paynes-gray: #19647e;
  --light-color: #fff;
  --muted-color: slategray;
  --dot-color: #ccc;
}

.review4{
  position: relative;
  top: -1500px;
  left: 100px;
  width: 1000px;
}

h1 {
  position: relative;
  left: 0px;
  font-family: TWK Lausanne;
font-size: 64px;
font-weight: 600;
line-height: 70.4px;
letter-spacing: -0.04em;
text-align: left;
  color: black;
  margin-bottom: 30px;
}

.reviewh1 {
  position: relative;
  left: 60px;
  top: -50px;
  font-family: TWK Lausanne;
font-size: 60px;
font-weight: 600;
line-height: 70.4px;
letter-spacing: -0.04em;
text-align: left;
  color: black;
  margin-bottom: 30px;
}

.reviewh1 img{
  border-radius: 20px;
}

.reviewh12 {
  position: relative;
  left: 60px;
  top: -80px;
  font-family: TWK Lausanne;
font-size: 60px;
font-weight: 600;
line-height: 70.4px;
letter-spacing: -0.04em;
text-align: left;
  color: black;
  margin-bottom: 30px;
}

button {
  cursor: pointer;
  border: none;
  display: none;
}

.testimonial-slider {
  position: relative;
  height: 120px;
  width: 800px;
  padding: 3px;
  border-radius: 1px;
  width: 590px;
  left: -380px;
  top: -100px;
}

.testimonial-list {
  display: flex;
}

.testimonial {
  flex: 1 0 100%;
  height: 200px;
  text-align: left;
  padding: 20px;
  background: rgba(239, 242, 244, 1);
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  margin-right: 20px;
  border-radius: 10px;
}

.testimonial .bi-quote {
  color: var(--sunglow);
  position: relative;
  top: -40px;
  opacity: 0.75;
  font-family: TWK Lausanne;
font-size: 32px;
font-weight: 300;
line-height: 40px;
letter-spacing: -0.02em;
text-align: left;

}

.testimonial blockquote {
  font-size: 1.25rem;
  margin-inline: 20px;
}

#test{
 margin-top: 10px;
}

#test1{
  margin-top: 1px;
 }

.user-info {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.user-info img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-details .name {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--dark-cyan);
}

.user-details .company {
  color: var(--muted-color);
}

/* button navigation */

.nav {
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: var(--light-color);
  color: var(--paynes-gray);
  transition: 0.3s;
  opacity: 0;
}

.testimonial-slider:hover .nav {
  opacity: 1;
}

.nav:hover {
  background-color: var(--dark-cyan);
  color: var(--light-color);
  opacity: 1;
  overflow: visible;
}

.nav.prev {
  left: 6px;
  overflow: visible;
}

.nav.next {
  right: 6px;
  overflow: visible;
}

/* dot navigation */

.dots-container {
  text-align: center;
}

.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-inline: 5px;
  background-color: var(--dot-color);
  transition: width 0.5s;
}

.dot.active {
  width: 30px;
  background-color: var(--paynes-gray);
}

.reviewp1{
  position: relative;
  top: -240px;
  left: 650px;
  font-size: 13px;
  width: 600px;

}

.reviewb1{
  position: relative;
  display: flex;
  top: -230px;
  left: 650px;
  width: 170px;
  height: 35px;
  border: .2rem solid rgb(20, 129, 165);
  padding-top: 8px;
  border-radius: .8rem;
  font-size: 14px;
  font-weight: 500;
  color: rgba(62, 131, 235, 1);
}

.reviewb1 p{
  position: relative;
  top: -16.5px;
  left: 25px;
  font-weight: 500;
}

.reviewb1span{
  position: relative;
  left: -10px;
  top: -3px;
  font-size: 30px;
  font-weight: 700;
}

.testimonial{
  width: 200px;
}

.review7{
  font-size: 20px !important;
  position: relative;
  top: -40px;
  width: 450px;
}

.review711 {
  position: relative;
  left: 20px;
  top: -34px;
  color: rgba(62, 131, 235, 1);
}

.review712 {
  position: relative;
  left: 20px;
  top: -34px;
  color: rgba(62, 131, 235, 1);
}

.review713 {
  position: relative;
  left: 20px;
  top: -34px;
  color: rgba(62, 131, 235, 1);
}